@model GorevPaketler
@{
    ViewBag.Title = "Barcode Print";
    Layout = "~/Views/Shared/_Layout.Null.cshtml";
    string tmp = Model.PaketNo.GenerateBarcode();
    frmPaketBarkod frmBarkod = ViewBag.Details;
}
<table class="table table-full-width">
    <tr><td colspan="4" class="text-center bold"><h1>@frmBarkod.GonderenUnvan</h1></td></tr>
    <tr>
        <td>Sevkiyat No</td>
        <td>@Model.SevkiyatNo</td>
        <td>Sipariş No</td>
        <td>@Model.Gorev.IR.IRS_Detay.FirstOrDefault().KynkSiparisNo</td>
    </tr>
    <tr>
        <td>İrsaliye No</td>
        <td>@Model.Gorev.IR.EvrakNo</td>
        <td>Ağırlık</td>
        <td>@Model.Agirlik</td>
    </tr>
    <tr>
        <td>İrs. Tarihi</td>
        <td>@Model.Gorev.IR.Tarih.FromOADateInt()</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="m-t-20">
        <td valign="top">Gönderen</td>
        <td colspan="3">@frmBarkod.GonderenUnvan<br />@frmBarkod.GonderenAdres<br />Tel: @frmBarkod.tel<br />Fax: @frmBarkod.fax</td>
    </tr>
    <tr class="m-t-20">
        <td valign="top">Alıcı</td>
        <td colspan="3">@frmBarkod.Unvan<br />@frmBarkod.FaturaAdres</td>
    </tr>
    <tr class="m-t-20">
        <td valign="top">Sevk Adresi</td>
        <td colspan="3">@frmBarkod.TeslimAdres</td>
    </tr>
    <tr class="m-t-20">
        <td>Paketleme</td>
        <td>@Model.ComboItem_Name.Name</td>
    </tr>
    <tr class="m-t-20">
        <td>Paket No</td>
        <td colspan="3">@Model.PaketNo</td>
    </tr>
    <tr class="m-t-20">
        <td></td>
        <td colspan="3"><img src="@Url.Content(tmp)" alt="@Model.PaketNo" width="400" /></td>
    </tr>
</table>
<script>window.print();</script>