@model List<GorevYer>
<table>
    <thead>
        <tr>
            <th></th>
            <th style="display:none">ID</th>
            <th>Görev No</th>
            <th>Hücre Adı</th>
            <th>MalKodu</th>
            <th>Miktar</th>
            <th>Yeni Miktar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (GorevYer item in Model)
        {
            <tr>
                <td><input id="@(String.Concat("btn",item.ID.ToString()))" onclick="Gunc(@item.ID)" type="button" class="btn blue-hoki" value="Güncelle" /></td>
                <td style="display:none">@item.ID</td>
                <td>@item.Gorev.GorevNo</td>
                <td>@item.Yer.HucreAd</td>
                <td>@item.MalKodu</td>
                <td align="right">@String.Format("{0:n}", item.Miktar)</td>
                <td><input id="@(String.Concat("txt",item.ID.ToString()))" type="number" min="0" step="1" class="form-control" /></td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function Gunc(id) {
        var yeniMiktar = $('#txt' + id).val();
        if (yeniMiktar != "") {
            $.ajax({
                url: window.location.origin + "/WMS/Tasks/CountFarkSave",
                data: { ID: id, YeniMiktar: yeniMiktar },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        $('#btn' + id).val("Güncellendi")
                        $('#btn' + id).removeClass("btn blue-hoki").addClass("btn green-haze");
                    }
                }
            });
        }
    }
</script>