@model List<Gorev>
<table class="table table-striped table-bordered" id="sample_1">
    <thead><tr><th></th><th>Şirket</th><th>Depo</th><th>Oluşturma Tarihi</th><th>Bitirme Tarihi</th><th></th></tr></thead>
    <tbody id="GorevFrom">
        @foreach (var item in Model)
        {
            <tr data-ID="@item.ID">
                <td></td>
                <td>@item.IR.SirketKod</td>
                <td>@item.Depo.DepoAd</td>
                <td>@item.OlusturmaTarihi.FromOADateInt()</td>
                <td>@{if (item.BitisTarihi != null) { @item.BitisTarihi.Value.FromOADateInt() } }</td>
                <td>
                    @if (item.DurumID == ComboItems.Açık.ToInt32()){ 
                        <a class="btn btn-default pull-left input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/WMS/Tasks/CountFark/0-@item.ID')"> Tüm Liste </a>
                        <a class="btn btn-default pull-left input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/WMS/Tasks/CountFark/1-@item.ID')"> Fark Liste </a>
                        <a class="btn btn-default pull-left input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/WMS/Tasks/CountFark/2-@item.ID')"> Eksik Liste </a>
                        using (Ajax.BeginForm("Finish", "Tasks", new { area = "WMS" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "getresult", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "pull-left" }))
                        {
                            @Html.AntiForgeryToken()
                            <input name="GorevID" type="hidden" value="@item.ID" />
                            <input type="submit" class="btn btn-danger input-circle" value="Sonlandır" />
                        }
                    }
                    @if (item.DurumID == ComboItems.Tamamlanan.ToInt32())
                    {
                        <a class="btn btn-default pull-left input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/WMS/Tasks/CountFark/0-@item.ID')"> Tüm Liste </a>
                        <a class="btn btn-default pull-left input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/WMS/Tasks/CountFark/1-@item.ID')"> Fark Liste </a>
                        <a class="btn btn-default pull-left input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/WMS/Tasks/CountFark/2-@item.ID')"> Eksik Liste </a>
                        if (item.IR.Onay == false)
                        {
                            using (Ajax.BeginForm("ReActivate", "Tasks", new { area = "WMS" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "getresult", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "pull-left" }))
                            {
                                @Html.AntiForgeryToken()
                                <input name="GorevID" type="hidden" value="@item.ID" />
                                <input type="submit" class="btn green input-circle" value="Aktif Et" />
                            }
                            using (Ajax.BeginForm("CountCreate", "Tasks", new { area = "WMS" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "getresult", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "pull-left" }))
                            {
                                @Html.AntiForgeryToken()
                                <input name="GorevID" type="hidden" value="@item.ID" />
                                <input type="submit" class="btn btn-primary input-circle" value="Sayım FİŞİ Oluştur" />
                            }
                        }
                        if(item.IR.LinkEvrakNo == null)
                        {
                            using (Ajax.BeginForm("CountCreateDiff", "Tasks", new { area = "WMS" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "getresult", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "pull-left" }))
                            {
                                @Html.AntiForgeryToken()
                                <input name="GorevID" type="hidden" value="@item.ID" />
                                <input type="submit" class="btn btn-primary input-circle" value="Fark FİŞİ Oluştur" />
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers", 
            "ordering": true,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" }
        });
        table.on('order.dt search.dt', function () {
            table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });
    function getresult(e) {
        if (e.Status == true)
        {
            if (e.Message != "")
                Modaldialog(e.Message, 'Tamamlandı', 'Tamam', 'btn-success');
            $('#DurumID').val(11);
            FuncSearchBtn();
        }
        else
            Modaldialog(e.Message, 'Hata', 'Tamam', 'btn-danger');
    };
</script>