@model frmTaskDetails
<h4>Görev Bilgileri</h4>
<table class="table table-striped table-responsive table-bordered">
    <thead><tr><th>Şirket</th><th>Oluşturan</th><th>Oluşturma Zamanı</th><th>Çalışanlar</th><th>Atayan</th><th>Atama Tarihi</th><th>Bitiş Zamanı</th></tr></thead>
    <tbody><tr><td>@Model.grv.IR.SirketKod</td><td>@Model.grv.Olusturan</td><td>@Model.grv.OlusturmaTarihi.FromOADateInt() @Model.grv.OlusturmaSaati.FromOaTime()</td><td>@string.Join(", ", Model.grv.GorevUsers.Select(m=>m.UserName).ToArray())</td><td>@Model.grv.Atayan</td><td>@{if (Model.grv.AtamaTarihi != null) { @Model.grv.AtamaTarihi.Value.FromOADateInt() } }</td><td>@{if (Model.grv.BitisTarihi != null) { @Model.grv.BitisTarihi.Value.FromOADateInt() <text> </text> @Model.grv.BitisSaati.Value.FromOaTime()} }</td></tr></tbody>
</table>
<h4>Görevdeki Ürünler</h4>
<table class="table table-striped table-responsive table-bordered">
    <thead><tr><th>Mal Kodu</th><th>Mal Adı</th><th>Miktar</th><th>Birim</th><th>Makara No</th><th>Görev Sırası</th><th>Hücre Adı</th></tr></thead>
    <tbody>
        @foreach (var item in Model.irsdetay)
        {
            <tr><td>@item.MalKodu</td><td>@item.MalKodu.GetMalAdi(item.SirketKod)</td><td align="right">@String.Format("{0:n}", item.Miktar)</td><td>@item.Birim</td><td>@item.MakaraNo</td><td>@item.Sira</td><td>@item.HucreAd</td></tr>
        }
    </tbody>
</table>
