@{
    ViewBag.Title = "Raf Kartı işlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var ShelfGridUrl = '@Url.Action("ShelfGridPartial", "Shelf")';
    var ShelfDetailUrl = '@Url.Action("ShelfDetailPartial", "Shelf")';
    var DeleteFunctionUrl = '@Url.Action("Delete", "Shelf")';
    var CorrridorList = '@Url.Action("SearchCorrridor", "Shelf")';
    var StoreListUrl = '@Url.Action("StoreList", "Corridor")';
    $(document).ready(function () {
        PartialView(ShelfDetailUrl, 'CreateEdit', JSON.stringify({ Id: '0' }));
        StoreList();
        $('.ara-btn').prop('disabled', 'disabled');
        $('#CorridorList').prop('disabled', 'disabled');
        //$("#CorridorList").append("<option value=" + '0' + ">Lütfen Koridor Seçiniz !!!</option>");
        $('#SearchBtn').click(function () {
            FuncSearchBtn();
        });
        $('#StoreListi').on('change', function () {
            if (this.value==0) {
                $("#CorridorList option").remove();
                $('#CorridorList').prop('disabled', 'disabled');
                $('.ara-btn').prop('disabled', 'disabled');
            }
            else {              
                CorridorList(this.value);
            }
            
        })
        $('#CorridorList').on('change', function () {
            if (this.value != 0) {
                $(".ara-btn").removeAttr("disabled");
            }
            else {
                $('.ara-btn').prop('disabled', 'disabled');
            }

        })
    });
    function FuncSearchBtn() {
        var Type = $("input[type='radio'][name='Locked']:checked").val();
        var StoreId = $("#StoreListi option:selected").val();
        var CorridorId = $("#CorridorList option:selected").val();
        PartialView(ShelfGridUrl, 'ShelfGrid', JSON.stringify({ Id: (Type + "#" + StoreId + "#" + CorridorId) }));
    }
    function CorridorList(Id) {
        $("#CorridorList option").remove();
        $.ajax({
            url: CorrridorList,
            type: 'POST',
            data: JSON.stringify({ Id: Id }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "") {
                    //alert("Hata Oluştu !!!");
                } else {
                    $("#CorridorList").append("<option value=" + '0' + ">Lütfen Koridor Seçiniz !!!</option>");
                    $("#CorridorList").removeAttr("disabled");
                    $.each(data, function (i, item) {
                        $("#CorridorList").append("<option value=" + item.ID + ">" + item.Koridor + "</option>");
                    });
                }
            }
        });
    }
    function StoreList() {
        $("#StoreListi option").remove();
        $("#StoreListi").append("<option value=" + '0' + ">Lütfen Depo Seçiniz !!!</option>");
        $.ajax({
            url: StoreListUrl,
            type: 'POST',
            data: '',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "") {
                    //Modaldialog("Kaydedilmiş depo bulunmamaktadır.", "Uyarı", "Tamam", "btn-success");
                } else {
                    
                    $.each(data, function (i, item) {
                        $("#StoreListi").append("<option value=" + item.ID + ">" + item.DepoAdi + "</option>");
                    });
                }
            }
        });
    }
    function ShelfReturn(Data) {
        FuncSearchBtn();
        Modaldialog(Data.Message, (Data.Status == true ? "Başaralı" : "Hata"), "Tamam", "btn-success");
        CreateEdit('0');

    }
    function CreateEdit(Id) {
        PartialView(ShelfDetailUrl, 'CreateEdit', JSON.stringify({ Id: Id == null ? '' : Id }));
    }
    function InsertRefresh() {
        PartialView(ShelfDetailUrl, "CreateEdit", '0');
    }
</script>
<h3 class="page-title">Raf İşlemleri</h3>
<div class="row">
    <div class="col-md-12">
        <div id="CreateEdit"></div>
        <div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Raf Listesi
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <div class="radio-list col-xs-12 col-md-12 col-lg-12">
                                            <div class="col-sm-12 col-xs-12">
                                                <label>
                                                    <label style="color:#32c5d2;">Durum</label>
                                                </label>
                                            </div>
                                            <div class="radio-list col-sm-12 col-xs-12">
                                                <label class="radio-inline col-xs-3 col-md-3 col-lg-3" style="padding-left:20px;">
                                                    <input type="radio" name="Locked" value="Locked" /> Aktif
                                                </label>
                                                <label class="radio-inline col-xs-3 col-md-3 col-lg-3">
                                                    <input type="radio" name="Locked" value="noLocked" checked /> Pasif
                                                </label>
                                                <label class="radio-inline col-xs-3 col-md-3 col-lg-3">
                                                    <input type="radio" name="Locked" value="All" checked /> Tümü
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="row">
                                            <label class="control-label col-sm-2 col-md-2 col-lg-2" style="color:#32c5d2;">Depo</label>
                                            <div class="col-sm-8 col-md-8 col-lg-7">
                                                <select id="StoreListi" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px;">
                                        <div class="row">
                                            <label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" style="color:#32c5d2;">Koridor</label>
                                            <div class="col-sm-8 col-md-8 col-lg-7">
                                                <select id="CorridorList" class="form-control"></select>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <button type="submit" class="btn green ara-btn" id="SearchBtn">Ara</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ShelfGrid" style="padding:10px;margin-top:18px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Scripts/_Operation.js"></script>
