@model WMS_STI
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Mal Bilgileri
                </div>
            </div>
            <div class="portlet-body form">
                @using (Ajax.BeginForm("New", "MalKabul", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "MalKabulGrid" }, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">MalKodu</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(a => a.MalKodu, new { @class = "form-control input-circle", @required = "" })
                                <span class="field-validation-valid" data-valmsg-for="MalKodu" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Miktar</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(a => a.Miktar, new { @class = "form-control input-circle", @required = "" })
                                <span class="field-validation-valid" data-valmsg-for="Miktar" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-3 control-label">Birim</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(a => a.Birim, new { @class = "form-control input-circle", @required = "" })
                                <span class="field-validation-valid" data-valmsg-for="Birim" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        @Html.HiddenFor(a => a.ID)
                        @Html.HiddenFor(a => a.IrsaliyeID)
                        <input class="btn btn-primary" type="submit" value="Düzenle" />
                        <input class="btn btn-danger" type="button" value="İptal" onclick="DuzenleIptal()" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //$(".depoAdi").prop("readonly", true);
    //$(".gorevNo").prop("readonly", true);
    //$(".gorevTip").prop("readonly", true);
</script>


