@model List<WMS_STI>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th> Mal Kodu</th>
            <th> Mal Adı</th>
            <th> Miktar</th>
            <th> Birim</th>
            <th> İşlem </th>
        </tr>
    </thead>
    <tbody id="MalFrom">
        @*@{Html.RenderAction("NewMalzemeForm", new { id = ViewBag.IrsaliyeId });}*@
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.MalKodu</td>
                <td>@item.MalAdi</td>
                <td>@item.Miktar</td>
                <td>@item.Birim</td>
                <td>
                    <a class="edit" href="javascript:;" onclick="CreateEdit('@item.ID')"> Düzenle </a>
                    @*<a class="edit" href="javascript:;" onclick="Delete('@item.ID','/Gorev/GorevGridPartial','GorevGrid','0')"> Sil </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $("#CreateEdit").hide();
</script>
