
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var IrsNo = '@ViewBag.IrsNo';
    var MalKabulGridUrl = '@Url.Action("MalKabulGridPartial", "MalKabul")';
    var MalKabulDetailUrl = '@Url.Action("MalKabulDetailPartial", "MalKabul")';
    var MalKabulIcmalUrl = '@Url.Action("MalKabulIcmalPartial", "MalKabul")';
    var DeleteFunctionUrl = '@Url.Action("Delete", "MalKabul")';
    $(document).ready(function () {
        PartialView(MalKabulIcmalUrl, 'MalKabulIcmalGrid', JSON.stringify({ IrsNo: IrsNo }));
        PartialView(MalKabulGridUrl, 'MalKabulGrid', JSON.stringify({ IrsNo: IrsNo }));
        //StoreList();

        $('#SearchBtn').click(function () {
            FuncSearchBtn();
        });

    });
    function FuncSearchBtn() {
        var Type = $("input[type='radio'][name='Locked']:checked").val();
        var StoreId = $("#StoreListi option:selected").val();
        var CorridorId = $("#CorridorList option:selected").val();
        PartialView(ShelfGridUrl, 'ShelfGrid', JSON.stringify({ Id: (Type + "#" + StoreId + "#" + CorridorId) }));
    }

    function ShelfReturn(Data) {
        FuncSearchBtn();
        Modaldialog(Data.Message, (Data.Status == true ? "Başaralı" : "Hata"), "Tamam", "btn-success");
        CreateEdit('0');

    }
    function CreateEdit(Id) {
        PartialView(MalKabulDetailUrl, 'CreateEdit', JSON.stringify({ Id: Id == null ? '' : Id }));
        $("#CreateEdit").show();
    }
    function DuzenleIptal() {
        $("#CreateEdit").hide();
    }
    function InsertRefresh() {
        PartialView(ShelfDetailUrl, "CreateEdit", '0');
    }
    function MalKabulOnay() {
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Home/FaturaDetayData",
            data: { EvrakNo: f_evrakNo },
            type: "post",
            success: function (data) {

            },
            error: function (jqxhr) { console.log(jqxhr); }
        });
        return _dfd.promise();
    }
</script>
<h3 class="page-title">MalKabul İşlemleri</h3>
<div class="row">
    <div class="col-md-12">
        <div id="MalKabulIcmalGrid" style="margin-bottom:25px;"></div>
        <div id="CreateEdit"></div>
        <div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Mal Listesi
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="MalKabulGrid" style="padding:10px;margin-top:18px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
