@model IEnumerable<Yer_Log>
@{decimal i = 0;}
<table class="table">
<tr><th>Girdi-Çıktı</th><th>Tarih</th><th>Saat</th><th>Hücre Adı</th><th>Mal Kodu</th><th>Birim</th><th class="text-right">Miktar</th><th class="text-right">Stok</th></tr>
@foreach (var item in Model) {
    <tr>
        <td>@if (item.GC == true) { i = i - item.Miktar; <text>Çıktı</text> }else{ i = i + item.Miktar; <text>Girdi</text> }</td>
        <td>@item.KayitTarihi.FromOADateInt()</td>
        <td>@item.KayitSaati.FromOaTime()</td>
        <td>@Html.DisplayFor(modelItem => item.HucreAd)</td>
        <td>@Html.DisplayFor(modelItem => item.MalKodu)</td>
        <td>@Html.DisplayFor(modelItem => item.Birim)</td>
        <td align="right">@String.Format("{0:n}", item.Miktar)</td>
        <td align="right">@String.Format("{0:n}", i)</td>
    </tr>
}
</table>
