@model IEnumerable<Yer>
@{ string tmp = ViewBag.Sirket; }
<table class="table table-striped table-bordered" id="sample_1">
    <thead><tr><th>Yer</th><th>Mal Kodu</th><th>Mal Adı</th><th>Birim</th><th>Miktar</th></tr></thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.HucreAd)</td>
                <td>@Html.DisplayFor(modelItem => item.MalKodu)</td>
                <td>@item.MalKodu.GetMalAdi(tmp)</td>
                <td>@Html.DisplayFor(modelItem => item.Birim)</td>
                <td align="right">@String.Format("{0:n}", item.Miktar)</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "ordering": false,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            initComplete: function () {
                this.api().columns([0, 1, 2]).every(function () {
                    var column = this;
                    var select = $('<br /><select class="form-control input-circle" style="max-width:100px;"><option value=""></option></select>')
                        .appendTo($(column.header()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
                    column.data().unique().sort().each(function (d, j) { select.append('<option value="' + d + '">' + d + '</option>') });
                });
            }
        });
    });
</script>