@model IEnumerable<Yer>
@{ string tmp; List<string> Sirket = ViewBag.Sirket; var malkod = new List<String>(); var malad = new List<String>(); bool ellemi = ViewBag.Manual; }
<table class="table table-striped table-bordered" id="sample_1">
    <thead><tr><th>Yer</th><th>Mal Kodu</th><th>Mal Adı</th><th>Birim</th><th class="text-right">Miktar</th>@{if (ellemi == true) { <th></th> } }</tr></thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (malkod.Contains(item.MalKodu) == false)
            {
                tmp = item.MalKodu.GetMalAdi(Sirket[0]);
                if (tmp == null || tmp == "") { tmp = item.MalKodu.GetMalAdi(Sirket[1]); }
                malkod.Add(item.MalKodu);
                malad.Add(tmp);
            }
            else
            {
                tmp = malad[malkod.IndexOf(item.MalKodu)];
            }
            <tr>
                <td>@Html.DisplayFor(modelItem => item.HucreAd)</td>
                <td>@Html.DisplayFor(modelItem => item.MalKodu)</td>
                <td>@tmp</td>
                <td>@Html.DisplayFor(modelItem => item.Birim)</td>
                <td align="right">@String.Format("{0:n}", item.Miktar)</td>
                @{if (ellemi == true) { <td><a class="btn btn-default btn-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Stock/ManualNewPlace/@item.ID')"> Değiştir </a></td> } }
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers",
            "ordering": false,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            dom: 'Bfrtip',
            buttons: [ 'copy', 'excel', 'print' ],
            initComplete: function () {
                this.api().columns([0, 1, 2]).every(function () {
                    var column = this;
                    var select = $('<br /><select class="form-control input-circle" style="max-width:100px;"><option value=""></option></select>')
                        .appendTo($(column.header()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
                    column.data().unique().sort().each(function (d, j) { select.append('<option value="' + d + '">' + d + '</option>') });
                });
            }
        });
    });
</script>