@model List<RaporBekleyenSiparis>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<div class="col-md-12" style="width:100%;">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Bekleyen Sipariş
            </div>
            <div class="col-md-1 pull-right m-t-5">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Yenile </a>
            </div>
            <div class="col-md-1 pull-right m-t-5">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Export Data </a>
            </div>
            <div class="col-md-1 pull-right m-t-5">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Temizle </a>
            </div>

        </div>

        <div class="portlet-body">


            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th>Hesap Kodu</th>
                        <th>Ünvan</th>
                        <th>Tarih</th>
                        <th>Evrak No</th>
                        <th>Bağlantı No</th>
                        <th>Grup Kodu</th>
                        <th>Mal Kodu</th>
                        <th>Mal Adı</th>
                        <th>Miktar</th>
                        <th>Birim</th>
                        <th>Ana Miktar</th>
                        <th>Ana Birim</th>
                        <th>Sevkedilen Miktar</th>
                        <th>Kalan Miktar</th>
                        <th>Kalan Ana Birim</th>
                        <th>Net Fiyat</th>
                        <th>Tutar</th>
                        <th>Toplam İskonto</th>
                        <th>KDV</th>
                        <th>Kalan Birim Miktar</th>
                        <th>KDVsiz Tutar</th>
                        <th>KDVli Tutar</th>
                        <th>Stok Miktar</th>
                        <th>Stok Birim</th>
                        <th>Stok Ana Miktar</th>
                        <th>Stok Ana Birim</th>
                        <th>Teslim Tarihi</th>
                        <th>Teslim Tarihi Durum</th>
                        <th>Satış Temsilcisi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>@item.Chk</td>
                            <td>@item.Unvan</td>
                            <td>@item.Tarih</td>
                            <td>@item.EvrakNo</td>
                            <td>@item.GrupKod</td>
                            <td>@item.MalKodu</td>
                            <td>@item.MalAdi</td>
                            <td align="right">@item.Miktar.ToDecimal().ToOnFormat()</td>
                            <td>@item.Birim</td>
                            <td align="right">@item.AnaMiktar.ToDecimal().ToOnFormat()</td>
                            <td>@item.AnaBirim</td>
                            <td align="right">@item.SevkedilenMiktar.ToDecimal().ToOnFormat()</td>
                            <td align="right">@item.KalanMiktar.ToDecimal().ToOnFormat()</td>
                            <td>@item.KalanAnaBirim</td>
                            <td align="right">@item.NetFiyat2.ToDecimal().ToOnFormat()</td>
                            <td align="right">@item.Tutar.ToDecimal().ToOnFormat()</td>
                            <td>@item.ToplamIskonto</td>
                            <td>@item.KDV</td>
                            <td>@item.KalanBirimMiktar</td>
                            <td>@item.KalanAnaBirim</td>
                            <td align="right">@item.KDVSizTutar.ToDecimal().ToOnFormat()</td>
                            <td align="right">@item.KDVliTutar.ToDecimal().ToOnFormat()</td>
                            <td align="right">@item.StokMiktar.ToDecimal().ToOnFormat()</td>
                            <td>@item.StokBirim</td>
                            <td align="right">@item.StokAnaMiktar.ToDecimal().ToOnFormat()</td>
                            <td>@item.StokAnaBirim</td>
                            <td>@item.TeslimTarih</td>
                            <td>@item.TeslimTarihDurum</td>
                            <td>@item.SatisTemsilcisi</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var model =  @Html.Raw(serializer.Serialize(Model));
        $('#sample_1').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } });
    });
</script>