@model List<RaporVadesiGelmemisCekler>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<div class="col-md-12" style="width:100%;">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Vadesi Gelmemiş Çekler
            </div>
            <div class="col-md-1 pull-right m-t-5" style="padding:0;">
                <a class="btn btn-default pull-right input-circle" style="width:100%;" href="#modalEditPage" data-toggle="modal"> Yenile </a>
            </div>
            <div class="col-md-1 pull-right m-t-5" style="padding:0;">
                <a class="btn btn-default pull-right input-circle" style="width:100%;" href="#modalEditPage" data-toggle="modal"> Export Data </a>
            </div>
            <div class="col-md-1 pull-right m-t-5" style="padding:0;">
                <a class="btn btn-default pull-right input-circle" style="width:100%;" href="#modalEditPage" data-toggle="modal"> Temizle </a>
            </div>

        </div>

        <div class="portlet-body">


            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th nowrap>Evrak No</th>
                        <th nowrap>Hesap Kodu</th>
                        <th nowrap>Unvan</th>
                        <th nowrap>Tutar</th>
                        <th nowrap>Tarih</th>
                        <th nowrap>Vade Tarihi</th>
                        <th nowrap>Verildiği Yer</th>
                        <th nowrap>Verildiği Yer Ünvan</th>
                        <th nowrap>Çeki Düzenleyen</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>

                            <td nowrap>@item.EvrakNo</td>
                            <td nowrap>@item.CHK</td>
                            <td nowrap>@item.Unvan</td>
                            <td nowrap align="right">@item.Tutar.ToDecimal().ToOnFormat()</td>
                            <td nowrap>@item.Tarih</td>
                            <td nowrap>@item.VadeTarih</td>
                            <td nowrap>@item.VerildigiYer</td>
                            <td nowrap>@item.VerildigiYerUnvan</td>
                            <td nowrap>@item.CekiDuzenleyen</td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var model =  @Html.Raw(serializer.Serialize(Model));
        $('#sample_1').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } });
    });
</script>