@model List<TK_KAT>
@if (Model.Count() > 0)
{
    <table class="table table-striped table-bordered table-hover" id="sample_1">
        <thead>
            <tr>
                <th>Kat</th>
                <th>Sıra No</th>
                <th>En x Boy x Derinlik</th>
                <th>Ağırlık Kapasitesi</th>
                <th>Özellik</th>
                <th>Açıklama</th>
                <th>Durum</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Kat</td>
                    <td>@item.SiraNo </td>
                    <td>@item.En x @item.Boy x @item.Derinlik </td>
                    <td>@item.AgirlikKapasite </td>
                    <td>@item.ComboItemName.Name </td>
                    <td>@item.Aciklama </td>
                    <td>@(item.Aktif ? "Aktif" : "Pasif")</td>
                    <td>
                        <a class="btn btn-default" href="javascript:;" onclick="CreateEdit('@item.ID')"> Düzenle </a>
                        <a class="btn btn-danger" href="javascript:;" onclick="Delete('@item.ID','/Floor/FloorGridPartial','FloorGrid','@item.BolumID')"> Sil </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{<div>Kayıt Bulunamadı</div>}
<script>$(document).ready(function () { $('#sample_1').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } }); });</script>