@model Kat
<div class="col-md-12">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>@(Model.ID > 0 ? Model.KatAd + "  Kat Düzenle" : "Kat Ekle")
            </div>
        </div>
        <div class="portlet-body form">
            @using (Ajax.BeginForm("FlooriOperation", "Floor", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "FloorFrom", OnSuccess = "FloorReturn" }, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(a => a.ID)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Depo</label>
                        <div class="col-md-4">
                            @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control input-circle DepoID", required = "required", @onchange = "getShelf(this.value,'RafID');" })
                            <span class="field-validation-valid" data-valmsg-for="StoreId" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Raf</label>
                        <div class="col-md-4">
                            @Html.DropDownList("RafID", null, htmlAttributes: new { @class = "form-control input-circle RafID", required = "required", @onchange = "getSection(this.value,'BolumID');" })
                            <span class="field-validation-valid" data-valmsg-for="ShelfList" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Bölüm</label>
                        <div class="col-md-4">
                            @Html.DropDownList("BolumID", null, htmlAttributes: new { @class = "form-control input-circle BolumID", required = "required" })
                            <span class="field-validation-valid" data-valmsg-for="ShelfList" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Kat</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(a => a.KatAd, new { @class = "form-control input-circle", @placeholder = "Kat", required = "required" })
                            <span class="field-validation-valid" data-valmsg-for="KatAd" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">En</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(a => a.En, new { @class = "form-control input-circle", @placeholder = "En", required = "required", @onBlur = "ClearPoints()" })
                            <span class="field-validation-valid" data-valmsg-for="En" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                        <div class="col-md-1">mm</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Boy</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(a => a.Boy, new { @class = "form-control input-circle", @placeholder = "Boy", required = "required", @onBlur = "ClearPoints()" })
                            <span class="field-validation-valid" data-valmsg-for="Boy" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                        <div class="col-md-1">mm</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Derinlik</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(a => a.Derinlik, new { @class = "form-control input-circle", @placeholder = "Derinlik", required = "required", @onBlur = "ClearPoints()" })
                            <span class="field-validation-valid" data-valmsg-for="Derinlik" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                        <div class="col-md-1">mm</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Ağırlık Kapasitesi</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(a => a.AgirlikKapasite, new { @class = "form-control input-circle", @placeholder = "Ağırlık Kapasitesi", required = "required", @onBlur = "ClearPoints()" })
                            <span class="field-validation-valid" data-valmsg-for="AgirlikKapasite" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                        <div class="col-md-1">kg</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Özellik</label>
                        <div class="col-md-4">
                            @Html.DropDownList("Ozellik", null, htmlAttributes: new { @class = "form-control input-circle", required = "required" })
                            <span class="field-validation-valid" data-valmsg-for="Ozellik" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Açıklama</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(a => a.Aciklama, new { @class = "form-control input-circle", @placeholder = "Açıklama" })
                            <span class="field-validation-valid" data-valmsg-for="Aciklama" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Sıra</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(a => a.SiraNo, new { @id = "touchspin_11", @class = "form-control" })
                            <span class="field-validation-valid" data-valmsg-for="Sort" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Durum</label>
                        <div class="col-md-4">
                            @Html.CheckBoxFor(a => a.Aktif, new { @checked = Model.Aktif ? "checked" : string.Empty, @class = "make-switch", @data_size = "normal", @data_on_color = "success", @data_off_text = "Pasif", @data_on_text = "Aktif", @data_off_color = "danger" })

                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-circle green ekle-duzenle">@(Model.ID > 0 ? "Düzenle" : "Ekle")</button>
                            <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="CreateEdit('0')">Temizle</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".make-switch").bootstrapSwitch(); $("input[name='Aktif']").val(true);
        $('.make-switch').on('switchChange.bootstrapSwitch', function (event, state) { $("input[name='Aktif']").val(state) });
        @if (Model.Aktif == false) { <text>$(".make-switch").bootstrapSwitch('state', true); $("input[name='Aktif']").val(true);</text> }
        @if (Model.ID == 0) { <text>$("#DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $("#DepoID")[0].selectedIndex = 0; $("#Ozellik").prepend("<option value=''>Seçiniz !!!</option>"); $("#Ozellik")[0].selectedIndex = 0; CreateEdit('0');</text> }
        $("#touchspin_11").TouchSpin({ buttondown_class: "btn blue", buttonup_class: "btn red" });
    });
</script>
