@model List<GetCachedChartBekleyenUrunMiktarFiyat_Result>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bekleyen Sipariş Ürün Grubu Kriter <span style="color:#8888a7;">3D PIE CHART</span></span>
                </div>
                <div class="col-md-1 m-l-10 slct_bekleyen_siparis_kriter_pie kriter_durum_pie"></div>
                <div class="col-md-2">
                    @Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control SirketIDk", @onchange = "Reloadk(this.value)" })
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="reload" onclick="Reloadk('@ViewBag.SirketKodu');"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_7_mik_kriter_pie" class="chart" style="height: 400px;"> </div>
            </div>
        </div>
    </div>
</div>
<script>
    var doviz = [{ state: "TL"},{ state: "Döviz"},{ state: "Birim" }];
    var kriter_value="@ViewBag.Kriter";
    if ($('.SirketIDk option').size() == 1) $(".SirketIDk").hide();
    else $(".SirketIDk").val('@ViewBag.SirketKodu');
    function Reloadk(v)
    {
        PartialView("/Home/PartialBekleyenSiparisUrunGrubuMiktarKriterPie", 'bekleyen_siparis_urun_grubu_miktar_kriter_pie', JSON.stringify({ SirketKodu: v, kriter: kriter_value }));
    }
    $(document).ready(function (e) {
        var model = @Html.Raw(Json.Encode(Model));
        var color = ["#FF0F00","#FF6600","#FF9E01","#FCD202","#F8FF01","#B0DE09","#04D215","#0D8ECF","#0D52D1","#2A0CD0","#8A0CCF","#CD0D74","#754DEB","#DDDDDD","#999999","#333333","#000000"];
        for (var i = 0; i < model.length; i++) {
            $.extend(model[i],{
                color: color[i%color.length]
            });
        }
        $(".slct_bekleyen_siparis_kriter_pie").dxSelectBox({
            dataSource: doviz,
            valueExpr: 'state',
            displayExpr: 'state',
            value: kriter_value,
            onValueChanged: function (e) {
                kriter_value=e.value;
                PartialView("/Home/PartialBekleyenSiparisUrunGrubuMiktarKriterPie", 'bekleyen_siparis_urun_grubu_miktar_kriter_pie', JSON.stringify({ SirketKodu: @ViewBag.SirketKodu, kriter:kriter_value}));
            }
        });
        var ChartsAmcharts7 = function () {
            var initChartSample7 = function () {
                var chart = AmCharts.makeChart("chart_7_mik_kriter_pie", {
                    "type": "pie",
                    "theme": "light",

                    "fontFamily": 'Open Sans',

                    "color": '#888',
                    "valueField": "KalanMiktar",
                    "titleField": "GrupKod",
                    "outlineAlpha": 0.4,
                    "depth3D": 30,
                    "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                    "colorField": "color",
                    "angle": 30,
                    "exportConfig": {
                        menuItems: [{
                            icon: '/lib/3/images/export.png',
                            format: 'png'
                        }]
                    }
                });
                chart.dataProvider = model;
                chart.validateData();
                chart.animateAgain();
                jQuery('.chart_7_chart_input').off().on('input change', function () {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    var value = Number(this.value);
                    chart.startDuration = 0;

                    if (property == 'innerRadius') {
                        value += "%";
                    }
                    target[property] = value;
                    chart.validateNow();
                });

                $('#chart_7_mik_pie').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }
            return {
                init: function () {
                    initChartSample7();
                }
            };
        }();
        jQuery(document).ready(function () {
            ChartsAmcharts7.init();
        });
    });
</script>