@model List<ChartSatisTemsilcisiAylikSatisAnalizi>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Satış Temsilcisi Aylık Satış Analizi <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="col-md-1 m-l-10">
                    <div class="slct_satis_temsilcisi_aylar"></div>
                </div>
                <div class="col-md-1 m-l-10">
                    <div class="slct_satis_temsilcisi_kod"></div>
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control SirketIDa", @onchange = "Reloada(this.value)" })
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="reload" onclick="Reloada('@ViewBag.SirketKodu');"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_7_satis_temsilcisi" class="chart" style="height: 400px;"> </div>
            </div>
        </div>
    </div>
</div>
<script>
    var f_tarih = @ViewBag.Tarih;
    var kriter_value=@Html.Raw(Json.Encode(ViewBag.Kriter));
    if ($('.SirketIDa option').size() == 1) $(".SirketIDa").hide();
    else $(".SirketIDa").val('@ViewBag.SirketKodu');
    function Reloada(v)
    {
        PartialView("/Home/PartialSatisTemsilcisiAylikSatisAnalizi", 'satis_temsilcisi_aylik_satis_analizi', JSON.stringify({ SirketKodu: v, kod: kriter_value, tarih: f_tarih }));
    }
    $(document).ready(function (e) {
        var model = @Html.Raw(Json.Encode(Model));
        var color = ["#FF0F00","#FF6600","#FF9E01","#FCD202","#F8FF01","#B0DE09","#04D215","#0D8ECF","#0D52D1","#2A0CD0","#8A0CCF","#CD0D74","#754DEB","#DDDDDD","#999999","#333333","#000000"];
        for (var i = 0; i < model.length; i++) {
            $.extend(model[i],{
                color: color[i%color.length]
            });
        }
        var states = [
            { id: 0, state: "Tümü" },
            { id: 1, state: "Ocak" },
            { id: 2, state: "Şubat" },
            { id: 3, state: "Mart" },
            { id: 4, state: "Nisan" },
            { id: 5, state: "Mayıs" },
            { id: 6, state: "Haziran" },
            { id: 7, state: "Temmuz" },
            { id: 8, state: "Ağustos" },
            { id: 9, state: "Eylül" },
            { id: 10, state: "Ekim" },
            { id: 11, state: "Kasım" },
            { id: 12, state: "Aralik" }
        ];

        $.ajax({
            url: "/Home/GunlukSatisAnaliziKriterSelect",
            data: { SirketKodu: '@ViewBag.SirketKodu'},
            type: "post",
            success: function (data)
            {
                $(".slct_satis_temsilcisi_kod").dxSelectBox({
                    dataSource: $.parseJSON(data),
                    valueExpr: 'Kriter',
                    displayExpr: 'Kriter',
                    value: kriter_value,
                    onValueChanged: function (e) {
                        if(e.value!=kriter_value){
                            kriter_value=e.value;
                            PartialView("/Home/PartialSatisTemsilcisiAylikSatisAnalizi", 'satis_temsilcisi_aylik_satis_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: kriter_value, tarih: f_tarih }));
                        }
                    }
                });


            }
        });

        $(".slct_satis_temsilcisi_aylar").dxSelectBox({
            dataSource: states,
            valueExpr: 'id',
            displayExpr: 'state',
            value: f_tarih,
            onValueChanged: function (e) {
                f_tarih = e.value;
                PartialView("/Home/PartialSatisTemsilcisiAylikSatisAnalizi", 'satis_temsilcisi_aylik_satis_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: kriter_value, tarih: f_tarih }));
            }
        });

        var ChartsAmchartsMik0 = function () {

            var initChartSample7Mik = function () {
                var chart = AmCharts.makeChart("chart_7_satis_temsilcisi", {
                    "theme": "light",
                    "type": "serial",
                    "startDuration": 2,

                    "fontFamily": 'Open Sans',

                    "color": '#888',

                    //"dataProvider": list,
                    "valueAxes": [{
                        "position": "left",
                        "axisAlpha": 0,
                        "gridAlpha": 0

                    }],
                    "graphs": [{
                        "balloonText": "[[category]]: <b>[[value]]</b>",
                        "colorField": "color",
                        "fillAlphas": 0.85,
                        "lineAlpha": 0.1,
                        "type": "column",
                        "topRadius": 1,
                        "valueField": "GenelTutar",
                        "fixedColumnWidth": 40,
                        "labelText": "[[value]]",
                        "labelRotation":315,
                        "color":"grey",
                        "labelOffset":30
                    }],
                    "depth3D": 40,
                    "angle": 30,
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "Aciklama",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "labelRotation": 45

                    },
                    "exportConfig": {
                        "menuTop": "20px",
                        "menuRight": "20px",
                        "menuItems": [{
                            "icon": '/lib/3/images/export.png',
                            "format": 'png'

                        }]
                    }
                }, 0);
                chart.dataProvider = model;
                chart.validateData();
                chart.animateAgain();
                jQuery('.chart_7_chart_input').off().on('input change', function () {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    chart.startDuration = 0;

                    if (property == 'topRadius') {
                        target = chart.graphs[0];
                    }

                    target[property] = this.value;
                    chart.validateNow();
                });

                $('#chart_7_satis_temsilcisi').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }

            return {
                init: function () {
                    initChartSample7Mik();
                }
            };
        }();

        jQuery(document).ready(function () {
            ChartsAmchartsMik0.init();
        });
    });
</script>