@model List<ChartGunlukSatisAnalizi>
<div class="row">
    <div class="col-md-12 m-t-40">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Günlük Satış Analizi GrupKod ve İşlemTip <span style="color:#8888a7;">3D PIE CHART</span></span>
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control SirketID6", @onchange = "Reload6(this.value)" })
                </div>
                <div class="col-md-1 p-l-10">
                    <div class="slct_islemtip_pie" style="width:130px;"></div>
                </div>
                <div class="col-md-1 p-l-10">
                    <div class="slct_double-kriter_pie" style="width:130px;"></div>
                </div>
                <div class="col-md-1 p-l-10">
                    <input type="text" class="form-control w-100 dateboxbg" id="gs_tarih_double_pie" value="@ViewBag.tarih2" />
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="reload" onclick="Reload6('@ViewBag.SirketKodu');"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_5_gunluk_double_pie" class="chart" style="height: 400px;"> </div>
            </div>
        </div>
    </div>
</div>
<script>
    var islemtip_value = @ViewBag.IslemTip;
    var kriter_value = @Html.Raw(Json.Encode(ViewBag.Kriter));
    var islemtip = [{ id: 0, state: "Tümü"},{ id: 1, state: "İç Piyasa"},{ id: 2, state: "Dış Piyasa" }];
    if ($('.SirketID6 option').size() == 1) $(".SirketID6").hide();
    else $(".SirketID6").val('@ViewBag.SirketKodu');
    function Reload6(v)
    {
        PartialView("/Home/PartialGunlukSatisDoubleKriterPie", 'gunluk_satis_double_kriter_pie', JSON.stringify({ SirketKodu: v, kod: kriter_value, islemtip: islemtip_value, tarih: @ViewBag.tarih }));
    }
    $(document).ready(function (e) {
         $.datepicker.setDefaults($.datepicker.regional["tr"]);
         $("#gs_tarih_double_pie").datepicker().on("change", function (e) {
            var oaDate = toOADateFromString(e.target.value);
                PartialView("/Home/PartialGunlukSatisDoubleKriterPie", 'gunluk_satis_double_kriter_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: kriter_value, islemtip: islemtip_value, tarih: oaDate }));
        });
        var model = @Html.Raw(Json.Encode(Model));
        var color = ["#FF0F00","#FF6600","#FF9E01","#FCD202","#F8FF01","#B0DE09","#04D215","#0D8ECF","#0D52D1","#2A0CD0","#8A0CCF","#CD0D74","#754DEB","#DDDDDD","#999999","#333333","#000000"];
        for (var i = 0; i < model.length; i++) {
            $.extend(model[i],{
                color: color[i%color.length]
            });
        }
        if(model.length==1 && model[0].GenelTutar==null)
        {
            model = @Html.Raw(Json.Encode(null));
        }
        $.ajax({
            url: "/Home/GunlukSatisAnaliziDoubleKriter",
            data: { SirketKodu: '@ViewBag.SirketKodu'},
            type: "post",
            success: function (data)
            {
                $(".slct_double-kriter_pie").dxSelectBox({
                    dataSource: $.parseJSON(data),
                    valueExpr: 'Kriter',
                    displayExpr: 'Kriter',
                    value: kriter_value,
                    onValueChanged: function (e) {
                        if(e.value!=kriter_value){
                            kriter_value=e.value;
                            PartialView("/Home/PartialGunlukSatisDoubleKriterPie", 'gunluk_satis_double_kriter_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: kriter_value, islemtip: islemtip_value, tarih: @ViewBag.tarih }));
                        }
                    }
                });
            }
        });
        $(".slct_islemtip_pie").dxSelectBox({
            dataSource: islemtip,
            valueExpr: 'id',
            displayExpr: 'state',
            value: islemtip_value,
            onValueChanged: function (e) {
                islemtip_value=e.value;
                PartialView("/Home/PartialGunlukSatisDoubleKriterPie", 'gunluk_satis_double_kriter_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: kriter_value, islemtip: islemtip_value, tarih: @ViewBag.tarih }));
            }
        });
        var ChartsAmchartsf = function () {
            var initChartSample7 = function () {
                var chart = AmCharts.makeChart("chart_5_gunluk_double_pie", {
                    "type": "pie",
                    "theme": "light",
                    "fontFamily": 'Open Sans',
                    "color": '#888',
                    "valueField": "GenelTutar",
                    "titleField": "Unvan",
                    "outlineAlpha": 0.4,
                    "depth3D": 30,
                    "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                    "colorField": "color",
                    "angle": 30,
                    "exportConfig": {
                        menuItems: [{
                            icon: '/lib/3/images/export.png',
                            format: 'png'
                        }]
                    }
                });
                chart.dataProvider = model;
                chart.validateData();
                chart.animateAgain();
                jQuery('#gunluk_satis_double_kriter_pie').off().on('input change', function () {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    var value = Number(this.value);
                    chart.startDuration = 0;

                    if (property == 'innerRadius') {
                        value += "%";
                    }

                    target[property] = value;
                    chart.validateNow();
                });

                $('#gunluk_satis_double_kriter_pie').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }
            return {
                init: function () {
                    initChartSample7();
                }
            };
        }();
        jQuery(document).ready(function () {
            if (model != null) ChartsAmchartsf.init();
        });
    });
</script>