@model List<ChartBekleyenSiparisUrunGrubu>
<div class="row">
    <div class="col-md-12 m-t-40">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bekleyen Sipariş Müşteri Analizi <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control SirketIDt", @onchange = "Reloadt(this.value)" })
                </div>
                <div class="col-md-2 slct_bek_musteri_kriter_doviz"></div>
                <div class="col-md-2 slct_bek_musteri_kriter_kod"></div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="reload" onclick="Reloadt('@ViewBag.SirketKodu');"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_7_bek_musteri" class="chart" style="height: 400px;"> </div>
            </div>
        </div>
    </div>
</div>
<script>
    var doviz_value= @Html.Raw(Json.Encode(ViewBag.Doviz));
    var kriter_value=@Html.Raw(Json.Encode(ViewBag.Kriter));
    var doviz = [{ state: "TL"},{ state: "Döviz"},{ state: "Birim" }];
    if ($('.SirketIDt option').size() == 1) $(".SirketIDt").hide();
    else $(".SirketIDt").val('@ViewBag.SirketKodu');
    function Reloadt(v)
    {
        PartialView("/Home/PartialBekleyenSiparisMusteriAnalizi", 'bekleyen_siparis_musteri_analizi', JSON.stringify({ SirketKodu: v, kod: kriter_value, doviz: doviz_value }));
    }
    $(document).ready(function (e) {
        var model = @Html.Raw(Json.Encode(Model));
        $.ajax({
            url: "/Home/BekleyenSiparisMusteriKriter",
            data: { SirketKodu: '@ViewBag.SirketKodu' },
            type: "post",
            success: function (data) {
                $(".slct_bek_musteri_kriter_kod").dxSelectBox({
                    dataSource: $.parseJSON(data),
                    valueExpr: 'Kriter',
                    displayExpr: 'Kriter',
                    value: kriter_value,
                    onValueChanged: function (e) {
                        if (e.value != kriter_value) {
                            kriter_value = e.value;
                            PartialView("/Home/PartialBekleyenSiparisMusteriAnalizi", 'bekleyen_siparis_musteri_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: kriter_value, doviz: doviz_value }));
                        }
                    }
                });
            }
        });
        $(".slct_bek_musteri_kriter_doviz").dxSelectBox({
            dataSource: doviz,
            valueExpr: 'state',
            displayExpr: 'state',
            value: doviz_value,
            onValueChanged: function (e) {
                doviz_value = e.value;
                PartialView("/Home/PartialBekleyenSiparisMusteriAnalizi", 'bekleyen_siparis_musteri_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: kriter_value, doviz: doviz_value }));
            }
        });
        var ChartsAmchartsMik = function () {

            var initChartSample7Mik = function () {
                var chart = AmCharts.makeChart("chart_7_bek_musteri", {
                    "theme": "light",
                    "type": "serial",
                    "startDuration": 2,

                    "fontFamily": 'Open Sans',

                    "color": '#888',

                    "valueAxes": [{
                        "position": "left",
                        "axisAlpha": 0,
                        "gridAlpha": 0

                    }],
                    "graphs": [{
                        "balloonText": "[[category]]: <b>[[value]]</b>",
                        "fillAlphas": 0.85,
                        "lineAlpha": 0.1,
                        "type": "column",
                        "topRadius": 1,
                        "valueField": "KalanMiktar",
                        "fixedColumnWidth": 40,
                        "labelText": "[[value]]",
                        "labelRotation": 315,
                        "labelOffset": 30
                    }],
                    "depth3D": 40,
                    "angle": 30,
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "GrupKod",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "labelRotation": 45

                    },
                    "exportConfig": {
                        "menuTop": "20px",
                        "menuRight": "20px",
                        "menuItems": [{
                            "icon": '/lib/3/images/export.png',
                            "format": 'png'

                        }]
                    }
                }, 0);
                chart.dataProvider = model;
                chart.validateData();
                chart.animateAgain();
                jQuery('.chart_7_chart_input').off().on('input change', function () {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    chart.startDuration = 0;

                    if (property == 'topRadius') {
                        target = chart.graphs[0];
                    }

                    target[property] = this.value;
                    chart.validateNow();
                });

                $('#chart_7_bek_musteri').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }

            return {
                init: function () {
                    initChartSample7Mik();
                }
            };
        }();

        jQuery(document).ready(function () {
            ChartsAmchartsMik.init();
        });
    });
</script>