@model List<ChartAylikSatisAnalizi>
<div class="row">
    <div class="col-md-12 m-t-40">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">Aylık Satış Analizi Cari Hesap Bazında <span style="color:#8888a7;">BAR CHART</span></span>
                </div>
                <div class="col-md-2 chk-select m-l-10"></div>
                <div class="col-md-2">
                    @Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control SirketID8", @onchange = "Reload8(this.value)" })
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="reload" onclick="Reload8('@ViewBag.SirketKodu');"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="echarts_bar_chk" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>
<script>
    if ($('.SirketID8 option').size() == 1) $(".SirketID8").hide();
    else $(".SirketID8").val('@ViewBag.SirketKodu');
    function Reload8(v)
    {
        PartialView("/Home/PartialAylikSatisCHKAnaliziBar", 'aylik_satis_chk_bar', JSON.stringify({ SirketKodu: v, chk : '@ViewBag.CHK' }));
    }
    $.ajax({
        url: "/Home/CHKSelect",
        data: { SirketKodu: '@ViewBag.SirketKodu'},
        type: "post",
        success: function (data)
        {
            $(".chk-select").dxLookup({
                dataSource:   $.parseJSON(data),
                searchEnabled: true,
                pageLoadMode:"nextButton",
                searchExpr: ["HesapKodu", "Unvan"],
                valueExpr: 'HesapKodu',
                displayExpr: 'Unvan',
                value:'@ViewBag.CHK',
                onValueChanged: function (e) {
                    if(e.value!=null && e.value!=""){
                        PartialView("/Home/PartialAylikSatisCHKAnaliziBar", 'aylik_satis_chk_bar', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', chk: e.value }));
                    }
                },

                itemTemplate: function (itemData, itemIndex, itemElement) {
                    itemElement.css({"text-align":"left", "border-bottom":"1px solid #2fc1d8"});
                    if(itemIndex>0)
                    {
                        itemElement.css({ "margin-top":"-40px" });
                    }
                    var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                    rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;'><b>" + itemData.Unvan + "</b></p>");
                    rightBlock.append("<p style='line-height: 0%;font-size:11px;'>HesapKodu: <i>" + itemData.HesapKodu + "</i></p></div>");
                    itemElement.append(rightBlock);
                }
            });


        }
    });

    var model = @Html.Raw(Json.Encode(Model));
    var aylar = new Array();
    var Yil2015 = new Array();
    var Yil2016 = new Array();
    var Yil2017 = new Array();
    jQuery.each( model, function( i, val ) {
        aylar.push(val.Ay);
        Yil2015.push(val.Yil2015);
        Yil2016.push(val.Yil2016);
        Yil2017.push(val.Yil2017);
    });

    require.config({
        paths: {
            echarts: '/content/assets/global/plugins/echarts'
        }
    });
    require(
        [
            'echarts',
            'echarts/chart/line',
            'echarts/chart/bar'
        ],
        function(ec) {
            //--- BAR ---
            var myChart = ec.init(document.getElementById('echarts_bar_chk'));
            myChart.setOption({
                tooltip: {
                    show: true
                },
                toolbox: {
                    show: true,
                    feature: {
                        magicType: {
                            show: true,
                            title: 'Dönüştür',
                            type: ['line', 'bar']
                        },
                        saveAsImage: {
                            title: 'Resim olarak kaydet',
                            show: true
                        }
                    }
                },
                legend: {
                    data: ['2015', '2016', '2017']
                },
                calculable: true,
                xAxis: [{
                    type: 'category',
                    data: aylar
                }],
                yAxis: [{
                    type: 'value',
                    splitArea: {
                        show: true
                    }
                }],
                series: [{
                    name: '2015',
                    type: 'bar',
                    data: Yil2015,
                    markPoint : {
                        data : [
                            {type : 'max', name: '2015'},
                            {type : 'min', name: '2015'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '2015'}
                        ]
                    }
                }, {
                    name: '2016',
                    type: 'bar',
                    data: Yil2016,
                    markPoint : {
                        data : [
                            {type : 'max', name: '2016'},
                            {type : 'min', name: '2016'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '2016'}
                        ]
                    }
                }, {
                    name: '2017',
                    type: 'bar',
                    data: Yil2017,
                    markPoint : {
                        data : [
                            {type : 'max', name: '2017'},
                            {type : 'min', name: '2017'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '2017'}
                        ]
                    }
                }]
            });

        }
    );
</script>