@model GetHomeSummary_Result
@{
if (Model.yetki.Contains("'ChartGunlukSatis'") == true)
{
    <div id="gunluk_satis">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Günlük Satış Analizi <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialGunlukSatis', 'gunluk_satis', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: oaDate }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
    <div id="gunluk_satis_pie">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Günlük Satış Analizi <span style="color:#8888a7;">3D PIE CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialGunlukSatisPie', 'gunluk_satis_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: oaDate }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
    <div id="gunluk_satis_zaman_cizelgesi">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Günlük Satış Zaman Çizelgesi <span style="color:#8888a7;">LINE CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialGunlukSatisZamanCizelgesi', 'gunluk_satis_zaman_cizelgesi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: oaDate }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
    }
    if (Model.yetki.Contains("'ChartGunlukSatisYearToDay'") == true)
    {
    <div id="gunluk_satis_yeartoday">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Satış Analizi YearToDay <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialGunlukSatisYearToDay', 'gunluk_satis_yeartoday', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
    <div id="gunluk_satis_yeartoday_pie">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Satış Analizi YearToDay <span style="color:#8888a7;">3D PIE CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialGunlukSatisYearToDayPie', 'gunluk_satis_yeartoday_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
}
if (Model.yetki.Contains("'ChartGunlukSatisDoubleKriter'") == true)
{
    <div id="gunluk_satis_double_kriter">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Günlük Satış Analizi GrupKod ve İşlemTip <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialGunlukSatisDoubleKriter', 'gunluk_satis_double_kriter', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: 'Tümü', islemtip: 0, tarih: oaDate }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
    <div id="gunluk_satis_double_kriter_pie">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Günlük Satış Analizi GrupKod ve İşlemTip <span style="color:#8888a7;">3D PIE CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialGunlukSatisDoubleKriterPie', 'gunluk_satis_double_kriter_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: 'Tümü', islemtip: 0, tarih: oaDate }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartAylikSatisAnaliziBar'") == true)
{
    <div id="aylik_satis_bar">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase"> Aylık Satış Analizi <span style="color:#8888a7;">BAR CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialAylikSatisAnaliziBar', 'aylik_satis_bar', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartAylikSatisCHKAnaliziBar'") == true)
{
    <div id="aylik_satis_chk_bar">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase"> Aylık Satış Analizi Cari Hesap Bazında <span style="color:#8888a7;">BAR CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialAylikSatisCHKAnaliziBar', 'aylik_satis_chk_bar', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', chk: '' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
}
if (Model.yetki.Contains("'ChartAylikSatisAnaliziKodTipDovizBar'") == true)
{
    <div id="aylik_satis_kod_tip_doviz_bar">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Aylık Satış Analizi GrupKod ve İşlemTip <span style="color:#8888a7;">BAR CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialAylikSatisAnaliziKodTipDovizBar', 'aylik_satis_kod_tip_doviz_bar', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: 'Tümü', islemtip: 0, doviz: 'TL' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartUrunGrubuSatis'") == true)
{
    <div id="urun_grubu_satis">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Ürün Grubu Satış Analizi <span style="color:#8888a7;">BAR CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialUrunGrubuSatis', 'urun_grubu_satis', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: dateVal.getMonth() + 1 }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
}
if (Model.yetki.Contains("'ChartUrunGrubuSatisKriter'") == true)
{
    <div id="urun_grubu_satis_kriter">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Ürün Grubu Satış Analizi Kriter <span style="color:#8888a7;">BAR CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialUrunGrubuSatisKriter', 'urun_grubu_satis_kriter', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: dateVal.getMonth() + 1, kriter: 'TL' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
}
if (Model.yetki.Contains("'ChartLokasyonSatis'") == true)
{
    <div id="lokasyon_satis">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Lokasyon Bazlı Satış Analizi <span style="color:#8888a7;">BAR CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialLokasyonSatis', 'lokasyon_satis', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: dateVal.getMonth() + 1 }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartLokasyonSatisKriter'") == true)
{
    <div id="lokasyon_satis_kriter">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Lokasyon Bazlı Satış Analizi Kriter <span style="color:#8888a7;">BAR CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialLokasyonSatisKriter', 'lokasyon_satis_kriter', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: dateVal.getMonth() + 1, kriter: 'TL' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartBakiyeRiskAnalizi'") == true)
{
    <div id="bakiye_risk">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bakiye Risk Analizi <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBakiyeRiskAnalizi', 'bakiye_risk', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartBekleyenSiparisUrunGrubu'") == true)
{
    <div id="bekleyen_siparis_urun_grubu">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bekleyen Sipariş Ürün Grubu <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBekleyenSiparisUrunGrubu', 'bekleyen_siparis_urun_grubu', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', bastarih: oaDate - 7, bittarih: oaDate }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
}
if (Model.yetki.Contains("'ChartBekleyenSiparisUrunGrubuMiktar'") == true)
{
    <div id="bekleyen_siparis_urun_grubu_miktar">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bekleyen Sipariş Ürün Grubu Miktar <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktar', 'bekleyen_siparis_urun_grubu_miktar', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', miktarTutar: true }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
    <div id="bekleyen_siparis_urun_grubu_miktar_pie">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bekleyen Sipariş Ürün Grubu Miktar <span style="color:#8888a7;">3D PIE CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktarPie', 'bekleyen_siparis_urun_grubu_miktar_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', miktarTutar: true }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartBekleyenSiparisUrunGrubuMiktarKriter'") == true)
{
    <div id="bekleyen_siparis_urun_grubu_miktar_kriter">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bekleyen Sipariş Ürün Grubu Kriter <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktarKriter', 'bekleyen_siparis_urun_grubu_miktar_kriter', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', miktarTutar: true, kriter: 'TL' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
    <div id="bekleyen_siparis_urun_grubu_miktar_kriter_pie">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bekleyen Sipariş Ürün Grubu Kriter <span style="color:#8888a7;">3D PIE CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktarKriterPie', 'bekleyen_siparis_urun_grubu_miktar_kriter_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', miktarTutar: true, kiter: 'TL' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartBekleyenSiparisMusteriAnalizi'") == true)
{
    <div id="bekleyen_siparis_musteri_analizi">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bekleyen Sipariş Müşteri Analizi <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBekleyenSiparisMusteriAnalizi', 'bekleyen_siparis_musteri_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: 'Tümü', doviz: 'TL' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartSatisTemsilcisiAylikSatisAnalizi'") == true)
{
    <div id="satis_temsilcisi_aylik_satis_analizi">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Satış Temsilcisi Aylık Satış Analizi <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialSatisTemsilcisiAylikSatisAnalizi', 'satis_temsilcisi_aylik_satis_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: 'Tümü', tarih: dateVal.getMonth() + 1 }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartBaglantiUrunGrubu'") == true)
{
    <div id="baglanti_urun_grubu">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bağlantı Ürün Grubu Analizi <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBaglantiUrunGrubu', 'baglanti_urun_grubu', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
    <div id="baglanti_urun_grubu_pie">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bağlantı Ürün Grubu Analizi <span style="color:#8888a7;">3D PIE CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBaglantiUrunGrubuPie', 'baglanti_urun_grubu_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
}
if (Model.yetki.Contains("'ChartGunlukMDFUretimi'") == true)
{
    <div id="gunluk_mdf_uretim">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Günlük MDF Üretim (En Boy Kalınlık) <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialGunlukMDFUretimi', 'gunluk_mdf_uretim', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: oaDate }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
    <div id="gunluk_mdf_uretim_pie">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Günlük MDF Üretim (En Boy Kalınlık) <span style="color:#8888a7;">3D PIE CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialGunlukMDFUretimiPie', 'gunluk_mdf_uretim_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: oaDate }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
    </div>
}
if (Model.yetki.Contains("'ChartBaglantiZamanCizelgesi'") == true)
{
    <div id="baglanti_zaman_cizelgesi">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bağlantı Zaman Çizelgesi <span style="color:#8888a7;">LINE CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBaglantiZamanCizelgesi', 'baglanti_zaman_cizelgesi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
}
if (Model.yetki.Contains("'ChartBolgeBazliSatisAnalizi'") == true)
{
    <div id="bolge_bazli_satis_analizi">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bölge Bazlı Satış Analizi <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBolgeBazliSatisAnalizi', 'bolge_bazli_satis_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', ay: dateVal.getMonth(), kriter: 'Tümü' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
    <div id="bolge_bazli_satis_analizi_pie">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bölge Bazlı Satış Analizi <span style="color:#8888a7;">3D PIE CHART</span></span>
                </div>
                <div class="tools"> <a href="javascript:;" class="expand" onclick="PartialView('/Home/PartialBolgeBazliSatisAnaliziPie', 'bolge_bazli_satis_analizi_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', ay: dateVal.getMonth(), kriter: 'Tümü' }));$('div').remove('.tooltip');"> </a> </div>
            </div>
        </div>
   </div>
}
}