@model GetHomeSummary_Result
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    BekleyenOnaylar tbl = ViewBag.BekleyenOnaylar;
    Setting tst = ViewBag.Settings;
    string[] gorevler = Model.GorevSayilari.Split(',');
}@section Styles{<link href="~/Content/assets/global/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
}<div class="page-bar"><ul class="page-breadcrumb"><li><span>Anasayfa</span></li></ul></div>
<h1 class="page-title">Yönetim Paneli</h1>
<div class="row">@{
if (tst.homeDepo == true && Model.yetki.Contains("'DashboardDepo'") == true)
{
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Constants/Storage">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@Model.depo">@Model.depo</span></div>
                <div class="desc"> Depo Sayısı </div>
            </div>
        </a>
    </div>
}
if (tst.homeUser == true && Model.yetki.Contains("'DashboardKullanici'") == true)
{
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="/Users">
            <div class="visual"><i class="fa fa-shopping-cart"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@Model.kull">@Model.kull</span></div>
                <div class="desc"> Kullanıcı Sayısı </div>
            </div>
        </a>
    </div>
}
if (tst.homeTask == true && Model.yetki.Contains("'DashboardGorevler'") == true)
{
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="/WMS/Tasks">
            <div class="visual"><i class="fa fa-comments"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@gorevler[1]">@gorevler[1]</span></div>
                <div class="desc"> Rafa Kaldırılıcak </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="/WMS/Tasks">
            <div class="visual"><i class="fa fa-comments"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@gorevler[2]">@gorevler[2]</span></div>
                <div class="desc"> Faturalandırılacak </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple-medium" href="/WMS/Tasks">
            <div class="visual"><i class="fa fa-comments"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@gorevler[5]">@gorevler[5]</span></div>
                <div class="desc"> Paketlenecek </div>
            </div>
        </a>
    </div>
}
if (tst.OnayStok == true)
{
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 yellow-mint" href="/Approvals/Stock">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@tbl.StokOnay">@tbl.StokOnay</span></div>
                <div class="desc">Bekleyen Stok Onayları</div>
            </div>
        </a>
    </div>
}
if (tst.OnayTeminat == true)
{
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 yellow-casablanca" href="/Approvals/Guarantee">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@tbl.TeminatOnay">@tbl.TeminatOnay</span></div>
                <div class="desc">Bekleyen Teminat Onayları</div>
            </div>
        </a>
    </div>
}
if (tst.OnaySiparis == true)
{
    if (ViewBag.RoleName == "GM" || ViewBag.UserID == 1)
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-oleo" href="/Approvals/Order/GM">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.SiparisOnay_GM">@tbl.SiparisOnay_GM</span></div>
                    <div class="desc">Bekleyen Sipariş Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "SPGMY")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-oleo" href="/Approvals/Order/SPGMY">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.SiparisOnay_SPGMY">@tbl.SiparisOnay_SPGMY</span></div>
                    <div class="desc">Bekleyen Sipariş Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "SM")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-oleo" href="/Approvals/Order/SM">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.SiparisOnay_SM">@tbl.SiparisOnay_SM</span></div>
                    <div class="desc">Bekleyen Sipariş Onayları</div>
                </div>
            </a>
        </div>
    }
}
if (tst.OnaySozlesme == true)
{
    if (ViewBag.RoleName == "GM" || ViewBag.UserID == 1)
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-chambray" href="/Approvals/Contract/GM">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.SozlesmeOnay_GM">@tbl.SozlesmeOnay_GM</span></div>
                    <div class="desc">Bekleyen Sözleşme Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "SPGMY")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-chambray" href="/Approvals/Contract/SPGMY">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.SozlesmeOnay_SPGMY">@tbl.SozlesmeOnay_SPGMY</span></div>
                    <div class="desc">Bekleyen Sözleşme Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "SM")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-chambray" href="/Approvals/Contract/SM">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.SozlesmeOnay_SM">@tbl.SozlesmeOnay_SM</span></div>
                    <div class="desc">Bekleyen Sözleşme Onayları</div>
                </div>
            </a>
        </div>
    }
}
if (tst.OnayRisk == true)
{
    if (ViewBag.RoleName == "GM" || ViewBag.UserID == 1)
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green-jungle" href="/Approvals/Risk/GM">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.RiskLimitOnay_GM">@tbl.RiskLimitOnay_GM</span></div>
                    <div class="desc">Bekleyen Risk Limit Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "SPGMY")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green-jungle" href="/Approvals/Risk/SPGMY">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.SozlesmeOnay_SPGMY">@tbl.SozlesmeOnay_SPGMY</span></div>
                    <div class="desc">Bekleyen Risk Limit Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "MIGMY")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green-jungle" href="/Approvals/Risk/MIGMY">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.RiskLimitOnay_MIGMY">@tbl.RiskLimitOnay_MIGMY</span></div>
                    <div class="desc">Bekleyen Risk Limit Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "SM")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green-jungle" href="/Approvals/Risk/SM">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.RiskLimitOnay_SM">@tbl.RiskLimitOnay_SM</span></div>
                    <div class="desc">Bekleyen Risk Limit Onayları</div>
                </div>
            </a>
        </div>
    }
}
if (tst.OnayFiyat == true)
{
    if (ViewBag.RoleName == "GM" || ViewBag.UserID == 1)
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple-intense" href="/Approvals/Price/GM">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.FiyatOnay_GM">@tbl.FiyatOnay_GM</span></div>
                    <div class="desc">Bekleyen Fiyat Listesi Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "SPGMY")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple-intense" href="/Approvals/Price/SPGMY">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.FiyatOnay_SPGMY">@tbl.FiyatOnay_SPGMY</span></div>
                    <div class="desc">Bekleyen Fiyat Listesi Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "SM")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple-intense" href="/Approvals/Price/SM">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.FiyatOnay_SM">@tbl.FiyatOnay_SM</span></div>
                    <div class="desc">Bekleyen Fiyat Listesi Onayları</div>
                </div>
            </a>
        </div>
    }
}
if (tst.OnayCek == true)
{
    if (ViewBag.RoleName == "GM" || ViewBag.UserID == 1)
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 yellow" href="/Approvals/Check/GM">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.CekOnay_GM">@tbl.CekOnay_GM</span></div>
                    <div class="desc">Bekleyen Çek Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "SPGMY")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 yellow" href="/Approvals/Check/SPGMY">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.CekOnay_SPGMY">@tbl.CekOnay_SPGMY</span></div>
                    <div class="desc">Bekleyen Çek Onayları</div>
                </div>
            </a>
        </div>
    }
    else if (ViewBag.RoleName == "MIGMY")
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 yellow" href="/Approvals/Check/MIGMY">
                <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
                <div class="details">
                    <div class="number"><span data-counter="counterup" data-value="@tbl.CekOnay_MIGMY">@tbl.CekOnay_MIGMY</span></div>
                    <div class="desc">Bekleyen Çek Onayları</div>
                </div>
            </a>
        </div>
    }
}
if (tst.OnayTekno == true && (ViewBag.RoleName == "GM" || ViewBag.UserID == 1 || ViewBag.RoleName == "YKU" || ViewBag.RoleName == "MIGMY" || ViewBag.RoleName == "SPGMY" || ViewBag.RoleName == "USGMY" || ViewBag.RoleName == "IKGM"))
{
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green-soft" href="/Approvals/Techno">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                @if (ViewBag.RoleName == "GM" || ViewBag.UserID == 1)
                {
                <div class="number"><span data-counter="counterup" data-value="@tbl.TechnoIKOnay_GM">@tbl.TechnoIKOnay_GM</span></div>
                }
                else if (ViewBag.RoleName == "YKU")
                {
                    <div class="number"><span data-counter="counterup" data-value="@tbl.TechnoIKOnay_YKU">@tbl.TechnoIKOnay_YKU</span></div>
                }
                else if (ViewBag.RoleName == "MIGMY")
                {
                    <div class="number"><span data-counter="counterup" data-value="@tbl.CekOnay_MIGMY">@tbl.CekOnay_MIGMY</span></div>
                }
                else if (ViewBag.RoleName == "SPGMY")
                {
                    <div class="number"><span data-counter="counterup" data-value="@tbl.TechnoIKOnay_SPGMY">@tbl.TechnoIKOnay_SPGMY</span></div>
                }
                else if (ViewBag.RoleName == "USGMY")
                {
                    <div class="number"><span data-counter="counterup" data-value="@tbl.TechnoIKOnay_USGMY">@tbl.TechnoIKOnay_USGMY</span></div>
                }
                else if (ViewBag.RoleName == "IKGM")
                {
                    <div class="number"><span data-counter="counterup" data-value="@tbl.TechnoIKOnay_IKGM">@tbl.TechnoIKOnay_IKGM</span></div>
                }
                <div class="desc">Techno IK Onayları</div>
            </div>
        </a>
    </div>
}
if (Model.yetki.Contains("'DashboardKasa'") == true)
{
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red-thunderbird" href="javascript:">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div class="number"><span>@String.Format("{0:n}", ViewBag.MevcudBanka)</span></div>
                <div class="desc"> Banka Mevcudu </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue-soft" href="javascript:">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div class="number"><span>@String.Format("{0:n}", ViewBag.MevcudCek)</span></div>
                <div class="desc"> Çek Mevcudu </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple-studio" href="javascript:">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div class="number"><span>@String.Format("{0:n}", ViewBag.MevcudKasa)</span></div>
                <div class="desc"> Kasa Mevcudu </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue-dark" href="javascript:">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div class="number"><span>@String.Format("{0:n}", ViewBag.MevcudPOS)</span></div>
                <div class="desc"> POS Mevcudu </div>
            </div>
        </a>
    </div>
}
if (tst.CrmOzet == true)
{
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="dashboard-stat dashboard-stat-v2 blue-hoki" href="javascript:" style="height:150px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details p-r-40">
                <div class="desc f-s-24 m-t-15"> CRM Özet </div>
                <div class="row desc f-s-12">
                    <div class="col-md-offset-6 col-md-2">Tümü</div>
                    <div class="col-md-2">Hafta</div>
                    <div class="col-md-2">Bugün</div>
                </div>
                <div class="row desc f-s-14">
                    <div class="col-md-6"><a href="/Reports/CRM/Institution/0" class="color-white">Kurum Kartları</a></div>
                    <div class="col-md-2"><a href="/Reports/CRM/Institution/0" class="color-white">@tbl.KurumKartlari</a></div>
                    <div class="col-md-2"><a href="/Reports/CRM/Institution/1" class="color-white">@tbl.KurumKartlariBuHafta</a></div>
                    <div class="col-md-2"><a href="/Reports/CRM/Institution/2" class="color-white">@tbl.KurumKartlariBugun</a></div>
                </div>
                <div class="row desc f-s-14">
                    <div class="col-md-6"><a href="/Reports/CRM/Meeting/0" class="color-white">Görüşme Notu</a></div>
                    <div class="col-md-2"><a href="/Reports/CRM/Meeting/0" class="color-white">@tbl.GorusmeNotlari</a></div>
                    <div class="col-md-2"><a href="/Reports/CRM/Meeting/1" class="color-white">@tbl.GorusmeNotlariBuHafta</a></div>
                    <div class="col-md-2"><a href="/Reports/CRM/Meeting/2" class="color-white">@tbl.GorusmeNotlariBugun</a></div>
                </div>
                <div class="row desc f-s-14">
                    <div class="col-md-6"><a href="/Reports/CRM/Bid/0" class="color-white">Teklif Analiz</a></div>
                    <div class="col-md-2"><a href="/Reports/CRM/Bid/0" class="color-white">@tbl.TeklifAnalizi</a></div>
                    <div class="col-md-2"><a href="/Reports/CRM/Bid/1" class="color-white">@tbl.TeklifAnaliziBuHafta</a></div>
                    <div class="col-md-2"><a href="/Reports/CRM/Bid/2" class="color-white">@tbl.TeklifAnaliziBugun</a></div>
                </div>
            </div>
        </div>
    </div>
}
}</div>
<div id="gunluk_satis"></div><div id="gunluk_satis_pie"></div><div id="gunluk_satis_zaman_cizelgesi"></div><div id="gunluk_satis_yeartoday"></div>
<div id="gunluk_satis_yeartoday_pie"></div><div id="gunluk_satis_double_kriter"></div><div id="gunluk_satis_double_kriter_pie"></div>
<div id="aylik_satis_bar"></div><div id="aylik_satis_chk_bar"></div><div id="aylik_satis_kod_tip_doviz_bar"></div>
<div id="urun_grubu_satis"></div><div id="urun_grubu_satis_kriter"></div><div id="lokasyon_satis"></div><div id="lokasyon_satis_kriter"></div><div id="bakiye_risk"></div>
<div id="bekleyen_siparis_urun_grubu"></div><div id="bekleyen_siparis_urun_grubu_miktar"></div><div id="bekleyen_siparis_urun_grubu_miktar_pie"></div><div id="bekleyen_siparis_urun_grubu_miktar_kriter"></div><div id="bekleyen_siparis_urun_grubu_miktar_kriter_pie"></div><div id="bekleyen_siparis_musteri_analizi"></div>
<div id="satis_temsilcisi_aylik_satis_analizi"></div><div id="baglanti_urun_grubu"></div><div id="baglanti_urun_grubu_pie"></div><div id="gunluk_mdf_uretim"></div><div id="gunluk_mdf_uretim_pie"></div>
<div id="baglanti_zaman_cizelgesi"></div><div id="bolge_bazli_satis_analizi"></div><div id="bolge_bazli_satis_analizi_pie"></div>
@section Scripts{<script src="~/Content/assets/global/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.counterup.min.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/pie.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/serial.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/light.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amstockcharts/amstock.js"></script>
<script src="~/Content/assets/global/plugins/echarts/echarts.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js"></script><script>var dateVal = new Date(); dateVal.setHours(0, 0, 0); var oaDate = Math.ceil((dateVal - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000));
    $(document).ready(function (e) {@{
    if (Model.yetki.Contains("'ChartGunlukSatis'") == true){<text>PartialView('/Home/PartialGunlukSatis', 'gunluk_satis', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: oaDate }));</text>}
    if (Model.yetki.Contains("'ChartGunlukSatis'") == true){<text>PartialView('/Home/PartialGunlukSatisPie', 'gunluk_satis_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: oaDate }));</text>}
    if (Model.yetki.Contains("'ChartGunlukSatis'") == true){<text>PartialView('/Home/PartialGunlukSatisZamanCizelgesi', 'gunluk_satis_zaman_cizelgesi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: oaDate }));</text>}
    if (Model.yetki.Contains("'ChartGunlukSatis'") == true){<text>PartialView('/Home/PartialGunlukSatisYearToDay', 'gunluk_satis_yeartoday', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));</text>}
    if (Model.yetki.Contains("'ChartGunlukSatis'") == true){<text>PartialView('/Home/PartialGunlukSatisYearToDayPie', 'gunluk_satis_yeartoday_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));</text>}
    if (Model.yetki.Contains("'ChartGunlukSatis'") == true){<text>PartialView('/Home/PartialGunlukSatisDoubleKriter', 'gunluk_satis_double_kriter', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: 'Tümü', islemtip: 0, tarih: oaDate }));</text>}
    if (Model.yetki.Contains("'ChartGunlukSatis'") == true){<text>PartialView('/Home/PartialGunlukSatisDoubleKriterPie', 'gunluk_satis_double_kriter_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: 'Tümü', islemtip: 0, tarih: oaDate }));</text>}
    if (Model.yetki.Contains("'ChartAylikSatisAnaliziBar'") == true){<text>PartialView('/Home/PartialAylikSatisAnaliziBar', 'aylik_satis_bar', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));</text>}
    if (Model.yetki.Contains("'ChartAylikSatisAnaliziBar'") == true){<text>PartialView('/Home/PartialAylikSatisCHKAnaliziBar', 'aylik_satis_chk_bar', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', chk: '' }));</text>}
    if (Model.yetki.Contains("'ChartAylikSatisAnaliziBar'") == true){<text>PartialView('/Home/PartialAylikSatisAnaliziKodTipDovizBar', 'aylik_satis_kod_tip_doviz_bar', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: 'Tümü', islemtip: 0, doviz: 'TL' }));</text>}
    if (Model.yetki.Contains("'ChartUrunGrubuSatis'") == true){<text>PartialView('/Home/PartialUrunGrubuSatis', 'urun_grubu_satis', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: dateVal.getMonth() + 1 }));</text>}
    if (Model.yetki.Contains("'ChartUrunGrubuSatis'") == true){<text>PartialView('/Home/PartialUrunGrubuSatisKriter', 'urun_grubu_satis_kriter', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: dateVal.getMonth() + 1, kriter: 'TL' }));</text>}
    if (Model.yetki.Contains("'ChartLokasyonSatis'") == true){<text>PartialView('/Home/PartialLokasyonSatis', 'lokasyon_satis', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: dateVal.getMonth() + 1 }));</text>}
    if (Model.yetki.Contains("'ChartLokasyonSatis'") == true){<text>PartialView('/Home/PartialLokasyonSatisKriter', 'lokasyon_satis_kriter', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: dateVal.getMonth() + 1, kriter: 'TL' }));</text>}
    if (Model.yetki.Contains("'ChartBakiyeRiskAnalizi'") == true){<text>PartialView('/Home/PartialBakiyeRiskAnalizi', 'bakiye_risk', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));</text>}
    if (Model.yetki.Contains("'ChartBekleyenSiparisUrunGrubu'") == true){<text>PartialView('/Home/PartialBekleyenSiparisUrunGrubu', 'bekleyen_siparis_urun_grubu', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', bastarih: oaDate - 7, bittarih: oaDate }));</text>}
    if (Model.yetki.Contains("'ChartBekleyenSiparisUrunGrubu'") == true){<text>PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktar', 'bekleyen_siparis_urun_grubu_miktar', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', miktarTutar: true }));</text>}
    if (Model.yetki.Contains("'ChartBekleyenSiparisUrunGrubu'") == true){<text>PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktarPie', 'bekleyen_siparis_urun_grubu_miktar_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', miktarTutar: true }));</text>}
    if (Model.yetki.Contains("'ChartBekleyenSiparisUrunGrubu'") == true){<text>PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktarKriter', 'bekleyen_siparis_urun_grubu_miktar_kriter', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', miktarTutar: true, kriter: 'TL' }));</text>}
    if (Model.yetki.Contains("'ChartBekleyenSiparisUrunGrubu'") == true){<text>PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktarKriterPie', 'bekleyen_siparis_urun_grubu_miktar_kriter_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', miktarTutar: true, kriter: 'TL' }));</text>}
    if (Model.yetki.Contains("'ChartBekleyenSiparisUrunGrubu'") == true){<text>PartialView('/Home/PartialBekleyenSiparisMusteriAnalizi', 'bekleyen_siparis_musteri_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: 'Tümü', doviz: 'TL' }));</text>}
    if (Model.yetki.Contains("'ChartSatisTemsilcisiAylikSatisAnalizi'") == true){<text>PartialView('/Home/PartialSatisTemsilcisiAylikSatisAnalizi', 'satis_temsilcisi_aylik_satis_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', kod: 'Tümü', tarih: dateVal.getMonth() + 1 }));</text>}
    if (Model.yetki.Contains("'ChartBaglantiUrunGrubu'") == true){<text>PartialView('/Home/PartialBaglantiUrunGrubu', 'baglanti_urun_grubu', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));</text>}
    if (Model.yetki.Contains("'ChartBaglantiUrunGrubu'") == true){<text>PartialView('/Home/PartialBaglantiUrunGrubuPie', 'baglanti_urun_grubu_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));</text>}
    if (Model.yetki.Contains("'ChartGunlukMDFUretimi'") == true){<text>PartialView('/Home/PartialGunlukMDFUretimi', 'gunluk_mdf_uretim', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: oaDate }));</text>}
    if (Model.yetki.Contains("'ChartGunlukMDFUretimi'") == true){<text>PartialView('/Home/PartialGunlukMDFUretimiPie', 'gunluk_mdf_uretim_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', tarih: oaDate }));</text>}
    if (Model.yetki.Contains("'ChartBaglantiZamanCizelgesi'") == true){<text>PartialView('/Home/PartialBaglantiZamanCizelgesi', 'baglanti_zaman_cizelgesi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu' }));</text>}
    if (Model.yetki.Contains("'ChartBolgeBazliSatisAnalizi'") == true){<text>PartialView('/Home/PartialBolgeBazliSatisAnalizi', 'bolge_bazli_satis_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', ay: dateVal.getMonth() + 1, kriter: 'Tümü' }));</text>}
    if (Model.yetki.Contains("'ChartBolgeBazliSatisAnalizi'") == true){<text>PartialView('/Home/PartialBolgeBazliSatisAnaliziPie', 'bolge_bazli_satis_analizi_pie', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', ay: dateVal.getMonth() + 1, kriter: 'Tümü' }));</text>}
}});</script>}