@model GetHomeSummary_Result
@{
    ViewBag.Title = "Depo Yönetim Paneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/devextreme/css/dx.common.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/devextreme/css/dx.light.min.css" rel="stylesheet" />
}<div class="page-bar"><ul class="page-breadcrumb"><li><span>Anasayfa</span></li></ul></div>
<h1 class="page-title">Depo Yönetim Paneli</h1>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@Model.depo">@Model.depo</span></div>
                <div class="desc"> Depo Sayısı </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="/Users">
            <div class="visual"><i class="fa fa-shopping-cart"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@Model.kull">@Model.kull</span></div>
                <div class="desc"> Kullanıcı Sayısı </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="/Tasks">
            <div class="visual"><i class="fa fa-comments"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@Model.gorev">@Model.gorev</span></div>
                <div class="desc"> Açık Görevler </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="/Transfer">
            <div class="visual"><i class="fa fa-globe"></i></div>
            <div class="details">
                <div class="number"><span data-counter="counterup" data-value="@Model.transfer">@Model.transfer</span></div>
                <div class="desc"> Depolar Arası Transfer </div>
            </div>
        </a>
    </div>
</div>

<div class="row m-t-40" id="gunluk_satis"></div>
<div class="row m-t-40" id="gunluk_satis_pie"></div>
<div class="row m-t-40" id="gunluk_satis_yeartoday"></div>
<div class="row m-t-40" id="gunluk_satis_yeartoda_pie"></div>
<div class="row m-t-40" id="aylik_satis_bar"></div>
<div class="row m-t-40" id="aylik_satis_chk_bar"></div>
<div class="row m-t-40" id="urun_grubu_satis"></div>
<div class="row m-t-40" id="lokasyon_satis"></div>
<div class="row m-t-40" id="bakiye_risk"></div>
<div class="row m-t-40" id="bekleyen_siparis_urun_grubu"></div>
<div class="row m-t-40" id="bekleyen_siparis_urun_grubu_miktar"></div>
<div id="box-content" style="display:none"></div>

@section Scripts{<script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.waypoints.min.js"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.counterup.min.js"></script>
<script src="~/Content/assets/global/plugins/devextreme/js/dx.web.js"></script>
<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/plugins/morris/morris.min.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/pie.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/radar.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/serial.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/light.js"></script>
<script src="~/Content/assets/global/plugins/raphael.min.js"></script>
<script>
    $(document).ready(function (e) {
        var dateVal = new Date();
        dateVal.setHours(0, 0, 0);
        var oaDate = Math.ceil((dateVal - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000));
        PartialView("/Home/PartialGunlukSatis", 'gunluk_satis', JSON.stringify({ tarih: oaDate }));
        PartialView("/Home/PartialGunlukSatisPie", 'gunluk_satis_pie', JSON.stringify({ tarih: oaDate }));
        PartialView("/Home/PartialGunlukSatisYearToDay", 'gunluk_satis_yeartoday', JSON.stringify({ tarih: oaDate }));
        PartialView("/Home/PartialGunlukSatisYearToDayPie", 'gunluk_satis_yeartoda_pie', JSON.stringify({ tarih: oaDate }));
        PartialView("/Home/PartialAylikSatisAnaliziBar", 'aylik_satis_bar');
        PartialView("/Home/PartialAylikSatisCHKAnaliziBar", 'aylik_satis_chk_bar');
        PartialView("/Home/PartialUrunGrubuSatis", 'urun_grubu_satis', JSON.stringify({ tarih: dateVal.getMonth() + 1 }));
        PartialView("/Home/PartialLokasyonSatis", 'lokasyon_satis', JSON.stringify({ tarih: dateVal.getMonth() + 1 }));
        PartialView("/Home/PartialBakiyeRiskAnalizi", 'bakiye_risk');
        PartialView("/Home/PartialBekleyenSiparisUrunGrubu", 'bekleyen_siparis_urun_grubu', JSON.stringify({ chk: '33' }));
        PartialView("/Home/PartialBekleyenSiparisUrunGrubuMiktar", 'bekleyen_siparis_urun_grubu_miktar', JSON.stringify({ miktarTutar: true }));
    });
</script>
}