@model GetHomeSummary_Result
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Etkinlik> tblEtki = ViewBag.Tatil;
    BekleyenOnaylar tbl = ViewBag.BekleyenOnaylar;
    Setting tst = ViewBag.Settings;
    List<ChartGunlukSatisAnalizi> tmpChartGunlukSatis = new List<ChartGunlukSatisAnalizi>();
    List<ChartBaglantiZaman> tmpChartGunlukZaman = new List<ChartBaglantiZaman>();
    List<DB_GunlukSatisAnaliziYearToDay> tmpChartYear2Day = new List<DB_GunlukSatisAnaliziYearToDay>();
    List<ChartGunlukSatisAnalizi> tmpChartGunlukSatisKriter = new List<ChartGunlukSatisAnalizi>();
    List<DB_Aylik_SatisAnalizi> tmpChartAylikSatis = new List<DB_Aylik_SatisAnalizi>();
    List<ChartAylikSatisAnalizi> tmpChartAylikSatisCHK = new List<ChartAylikSatisAnalizi>();
    List<DB_Aylik_SatisAnalizi_Tip_Kod_Doviz> tmpChartAylikSatisKodTipDoviz = new List<DB_Aylik_SatisAnalizi_Tip_Kod_Doviz>();
    List<DB_UrunGrubu_SatisAnalizi> tmpChartUrunGrubuSatis = new List<DB_UrunGrubu_SatisAnalizi>();
    List<DB_UrunGrubu_SatisAnalizi_Kriter> tmpChartUrunGrubuSatisKriter = new List<DB_UrunGrubu_SatisAnalizi_Kriter>();
    List<DB_LokasyonBazli_SatisAnalizi> tmpChartLokasyonSatis = new List<DB_LokasyonBazli_SatisAnalizi>();
    List<DB_LokasyonBazli_SatisAnalizi_Kriter> tmpChartLokasyonSatisKriter = new List<DB_LokasyonBazli_SatisAnalizi_Kriter>();
    List<DB_BakiyeRiskAnalizi> tmpChartBakiyeRisk = new List<DB_BakiyeRiskAnalizi>();
    List<ChartSatisTemsilcisiAylikSatisAnalizi> tmpChartSatisTemsilcisiAylikSatis = new List<ChartSatisTemsilcisiAylikSatisAnalizi>();
    if (Model.yetki.Contains("'ChartGunlukSatis'") == true)
    {
        tmpChartGunlukSatis = ViewBag.ChartGunlukSatis;
        tmpChartGunlukZaman = ViewBag.ChartGunlukZaman;
        tmpChartYear2Day = ViewBag.ChartYear2Day;
        tmpChartGunlukSatisKriter = ViewBag.ChartGunlukSatisKriter;
    }
    if (Model.yetki.Contains("'ChartAylikSatisAnaliziBar'") == true)
    {
        tmpChartAylikSatis = ViewBag.ChartAylikSatis;
        tmpChartAylikSatisCHK = ViewBag.ChartAylikSatisCHK;
        tmpChartAylikSatisKodTipDoviz = ViewBag.ChartAylikSatisKodTipDoviz;
    }
    if (Model.yetki.Contains("'ChartUrunGrubuSatis'") == true)
    {
        tmpChartUrunGrubuSatis = ViewBag.ChartUrunGrubuSatis;
        tmpChartUrunGrubuSatisKriter = ViewBag.ChartUrunGrubuSatisKriter;
    }
    if (Model.yetki.Contains("'ChartLokasyonSatis'") == true)
    {
        tmpChartLokasyonSatis = ViewBag.ChartLokasyonSatis;
        tmpChartLokasyonSatisKriter = ViewBag.ChartLokasyonSatisKriter;
    }
    if (Model.yetki.Contains("'ChartBakiyeRiskAnalizi'") == true)
    {
        tmpChartBakiyeRisk = ViewBag.ChartBakiyeRisk;
    }
    if (Model.yetki.Contains("'ChartSatisTemsilcisiAylikSatisAnalizi'") == true)
    {
        tmpChartSatisTemsilcisiAylikSatis = ViewBag.ChartSatisTemsilcisiAylikSatis;
    }
}@section Styles{<link href="~/Content/assets/global/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <script>var dateVal = new Date(); dateVal.setHours(0, 0, 0); var oaDate = Math.ceil((dateVal - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000));</script>
}<div class="page-bar"><ul class="page-breadcrumb"><li><span>Anasayfa</span></li></ul></div>
<h1 class="page-title">Yönetim Paneli</h1>@foreach (var item in tblEtki){<div class="m-heading-1 border-green m-bordered"><h3>@item.ComboItem_Name.Name</h3><p>@item.Aciklama</p></div>}
@{Html.RenderPartial("Box", Model);}
@if (tst.GorevProjesi == true)
{
    if (Model.yetki.Contains("'ChartGörevProjesi'") == true)
    {<div id="gorev_gunluk_calisma"></div><div id="gorev_gunluk_calisma_pie"></div><div id="gorev_musteri_analizi"></div><div id="gorev_musteri_analizi_pie"></div><div id="gorev_proje_analizi"></div><div id="gorev_aylik_calisma"></div><div id="gorev_calisma_analizi"></div><div id="gorev_git"></div>}
    else
    {<div id="gorev_karma"></div>}
}@if (Model.yetki.Contains("'ChartGunlukSatis'") == true)
{
    <div id="gunluk_satis">@{Html.RenderPartial("Satis/GunlukSatis", tmpChartGunlukSatis);}</div>
    <div id="gunluk_satis_pie">@{Html.RenderPartial("Satis/GunlukSatisPie", tmpChartGunlukSatis);}</div>
    <div id="gunluk_satis_zaman_cizelgesi">@{Html.RenderPartial("Satis/GunlukSatisZamanCizelgesi", tmpChartGunlukZaman);}</div>
    <div id="gunluk_satis_yeartoday">@{Html.RenderPartial("Satis/GunlukSatısAnaliziYearToDay", tmpChartYear2Day);}</div>
    <div id="gunluk_satis_yeartoday_pie">@{Html.RenderPartial("Satis/GunlukSatısAnaliziYearToDayPie", tmpChartYear2Day);}</div>
    <div id="gunluk_satis_double_kriter">@{Html.RenderPartial("Satis/GunlukSatisAnaliziDoubleKriter", tmpChartGunlukSatisKriter);}</div>
    <div id="gunluk_satis_double_kriter_pie">@{Html.RenderPartial("Satis/GunlukSatisAnaliziDoubleKriterPie", tmpChartGunlukSatisKriter);}</div>
}@if (Model.yetki.Contains("'ChartAylikSatisAnaliziBar'") == true)
{
    <div id="aylik_satis_bar">@{Html.RenderPartial("Satis/AylikSatisAnaliziBar", tmpChartAylikSatis);}</div>
    <div id="aylik_satis_chk_bar">@{Html.RenderPartial("Satis/AylikSatisCHKAnaliziBar", tmpChartAylikSatisCHK);}</div>
    <div id="aylik_satis_kod_tip_doviz_bar">@{Html.RenderPartial("Satis/AylikSatisAnaliziKodTipDovizBar", tmpChartAylikSatisKodTipDoviz);}</div>
}@if (Model.yetki.Contains("'ChartUrunGrubuSatis'") == true)
{
    <div id="urun_grubu_satis">@{Html.RenderPartial("Satis/UrunGrubuSatis", tmpChartUrunGrubuSatis);}</div>
    <div id="urun_grubu_satis_kriter">@{Html.RenderPartial("Satis/UrunGrubuSatisKriter", tmpChartUrunGrubuSatisKriter);}</div>
}@if (Model.yetki.Contains("'ChartLokasyonSatis'") == true)
{
    <div id="lokasyon_satis">@{Html.RenderPartial("Satis/LokasyonSatis", tmpChartLokasyonSatis);}</div>
    <div id="lokasyon_satis_kriter">@{Html.RenderPartial("Satis/LokasyonSatisKriter", tmpChartLokasyonSatisKriter);}</div>
}@if (Model.yetki.Contains("'ChartBakiyeRiskAnalizi'") == true)
{
    <div id="bakiye_risk">@{Html.RenderPartial("Satis/BakiyeRiskAnalizi", tmpChartBakiyeRisk);}</div>
}@if (Model.yetki.Contains("'ChartBakiyeRiskAnalizi'") == true)
{
    <div id="satis_temsilcisi_aylik_satis_analizi">@{Html.RenderPartial("Satis/SatisTemsilcisi_AylikSatisAnalizi", tmpChartSatisTemsilcisiAylikSatis);}</div>
}
<div id="baglanti_urun_grubu"></div><div id="baglanti_urun_grubu_pie"></div>
<div id="gunluk_mdf_uretim"></div><div id="gunluk_mdf_uretim_pie"></div>
<div id="baglanti_zaman_cizelgesi"></div>
<div id="bolge_bazli_satis_analizi"></div><div id="bolge_bazli_satis_analizi_pie"></div>
<div id="bekleyen_siparis_urun_grubu"></div><div id="bekleyen_siparis_urun_grubu_miktar"></div><div id="bekleyen_siparis_urun_grubu_miktar_pie"></div><div id="bekleyen_siparis_urun_grubu_miktar_kriter"></div><div id="bekleyen_siparis_urun_grubu_miktar_kriter_pie"></div><div id="bekleyen_siparis_musteri_analizi"></div>
@section Scripts{<script src="~/Content/assets/global/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.counterup.min.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/pie.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/serial.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/light.js"></script>
<script src="~/Content/assets/global/plugins/amcharts/amstockcharts/amstock.js"></script>
<script src="~/Content/assets/global/plugins/echarts/echarts.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<script>
    $(document).ready(function (e) {@{
    if (tst.GorevProjesi == true){
        if (Model.yetki.Contains("'ChartGörevProjesi'") == true) {<text>
            PartialView('/Home/GorevGunlukCalisma', 'gorev_gunluk_calisma', JSON.stringify({ user: '', tarih: oaDate - @if (DateTime.Today.DayOfWeek == DayOfWeek.Monday) { @("3") }else if (DateTime.Today.DayOfWeek == DayOfWeek.Sunday) { @("2") } else { @("1") }, tip: '' }));
            PartialView('/Home/GorevGunlukCalisma', 'gorev_gunluk_calisma_pie', JSON.stringify({ user: '', tarih: oaDate - @if (DateTime.Today.DayOfWeek == DayOfWeek.Monday) { @("3") }else if (DateTime.Today.DayOfWeek == DayOfWeek.Sunday) { @("2") } else { @("1") }, tip: 'Pie' }));
            PartialView('/Home/GorevMusteriAnalizi', 'gorev_musteri_analizi', JSON.stringify({ musteri: 0, proje: 0, tarihStart: oaDate - 7, tarihEnd: oaDate, tip: '' }));
            PartialView('/Home/GorevMusteriAnalizi', 'gorev_musteri_analizi_pie', JSON.stringify({ musteri: 0, proje: 0, tarihStart: oaDate - 7, tarihEnd: oaDate, tip: 'Pie' }));
            PartialView('/Home/GorevProjeAnalizi', 'gorev_proje_analizi', JSON.stringify({ musteri: 0, proje: 0}));
            PartialView('/Home/GorevAylikCalisma', 'gorev_aylik_calisma', JSON.stringify({ user: '', tarih: dateVal.getMonth() + 1, tip: '' }));
            PartialView('/Home/GorevCalismaListesi', 'gorev_calisma_analizi', JSON.stringify({ tarihStart: oaDate - 7, tarihEnd: oaDate }));
            PartialView('/Home/GorevGit', 'gorev_git', JSON.stringify({ tarih: oaDate - @if (DateTime.Today.DayOfWeek == DayOfWeek.Monday) { @("3") }else if (DateTime.Today.DayOfWeek == DayOfWeek.Sunday) { @("2") } else { @("1") } }));
        </text> }
        else {<text>

        </text>}
    }
    @*
    if (Model.yetki.Contains("'ChartBekleyenSiparisUrunGrubu'") == true){<text>
        PartialView('/Home/PartialBekleyenSiparisUrunGrubu', 'bekleyen_siparis_urun_grubu', JSON.stringify({ bastarih: oaDate - 7, bittarih: oaDate }));
        PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktar', 'bekleyen_siparis_urun_grubu_miktar', JSON.stringify({ miktarTutar: true }));
        PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktarPie', 'bekleyen_siparis_urun_grubu_miktar_pie', JSON.stringify({ miktarTutar: true }));
        PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktarKriter', 'bekleyen_siparis_urun_grubu_miktar_kriter', JSON.stringify({ miktarTutar: true, kriter: 'TL' }));
        PartialView('/Home/PartialBekleyenSiparisUrunGrubuMiktarKriterPie', 'bekleyen_siparis_urun_grubu_miktar_kriter_pie', JSON.stringify({ miktarTutar: true, kriter: 'TL' }));
        PartialView('/Home/PartialBekleyenSiparisMusteriAnalizi', 'bekleyen_siparis_musteri_analizi', JSON.stringify({ kod: 'Tümü', doviz: 'TL' }));
    </text>}
    if (Model.yetki.Contains("'ChartSatisTemsilcisiAylikSatisAnalizi'") == true){<text>PartialView('/Home/PartialSatisTemsilcisiAylikSatisAnalizi', 'satis_temsilcisi_aylik_satis_analizi', JSON.stringify({ kod: 'Tümü', tarih: dateVal.getMonth() + 1 }));</text>}
    if (Model.yetki.Contains("'ChartBaglantiUrunGrubu'") == true){<text>PartialView('/Home/PartialBaglantiUrunGrubu', 'baglanti_urun_grubu', JSON.stringify({  }));</text>}
    if (Model.yetki.Contains("'ChartBaglantiUrunGrubu'") == true){<text>PartialView('/Home/PartialBaglantiUrunGrubuPie', 'baglanti_urun_grubu_pie', JSON.stringify({  }));</text>}
    if (Model.yetki.Contains("'ChartGunlukMDFUretimi'") == true){<text>PartialView('/Home/PartialGunlukMDFUretimi', 'gunluk_mdf_uretim', JSON.stringify({ tarih: oaDate }));</text>}
    if (Model.yetki.Contains("'ChartGunlukMDFUretimi'") == true){<text>PartialView('/Home/PartialGunlukMDFUretimiPie', 'gunluk_mdf_uretim_pie', JSON.stringify({ tarih: oaDate }));</text>}
    if (Model.yetki.Contains("'ChartBaglantiZamanCizelgesi'") == true){<text>PartialView('/Home/PartialBaglantiZamanCizelgesi', 'baglanti_zaman_cizelgesi', JSON.stringify({  }));</text>}
    if (Model.yetki.Contains("'ChartBolgeBazliSatisAnalizi'") == true){<text>PartialView('/Home/PartialBolgeBazliSatisAnalizi', 'bolge_bazli_satis_analizi', JSON.stringify({ ay: dateVal.getMonth() + 1, kriter: 'Tümü' }));</text>}
    if (Model.yetki.Contains("'ChartBolgeBazliSatisAnalizi'") == true){<text>PartialView('/Home/PartialBolgeBazliSatisAnaliziPie', 'bolge_bazli_satis_analizi_pie', JSON.stringify({ ay: dateVal.getMonth() + 1, kriter: 'Tümü' }));</text>}*@
}});</script>}