@model List<IRS_Detay>
@using (Ajax.BeginForm("InsertMalzeme", "Buy", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "StoreGrid" }, new { @class = "form-horizontal" }))
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Malzeme Kodu</th>
                <th>Malzeme Adı</th>
                <th>Miktar</th>
                <th>Birim</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody id="StoreFrom">
            @{if (ViewBag.Onay == false) { Html.RenderAction("NewMalzemeForm", new { id = ViewBag.IrsaliyeId }); } }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MalKodu</td>
                    <td>@item.MalAdi</td>
                    <td>@item.Miktar</td>
                    <td>@item.Birim</td>
                    <td>@{if (ViewBag.Onay == false) {<a class="btn btn-danger input-circle" href="javascript:;" onclick="Delete('@item.ID','/Buy/GridPartial','StoreGrid','@ViewBag.IrsaliyeId', '')"> Sil </a>}}</td>
                </tr>
            }
        </tbody>
    </table>
}
<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
    $(".import-content").show();
    $("#IrsNo").val('@ViewBag.IrsaliyeId');
    $("#MalKodu").focus();
    $("#MalKodu").autocomplete({
        source: "/Buy/getMalzemebyCode/" + $("#SirketID").val(),
        minLength: 2,
        select: function (event, ui) {
            getBirims(ui.item.id);
            $("#MalAdi").val(ui.item.value);
        }
    });
    $("#MalAdi").autocomplete({
        source: "/Buy/getMalzemebyName/" + $("#SirketID").val(),
        minLength: 2,
        select: function (event, ui) {
            getBirims(ui.item.id);
            $("#MalAdi").val(ui.item.value);
        }
    });
    function getBirims(id)
    {
        $("#Birim option").remove();
        $.ajax({
            url: "/Buy/getBirim" ,
            type: 'POST',
            data: JSON.stringify({ kod: id,s:$("#SirketID").val() }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    if (data.Birim1.replace(" ","") != "") { $('#Birim').append($('<option>', { value: data.Birim1, text: data.Birim1 })); }
                    if (data.Birim2.replace(" ", "") != "") { $('#Birim').append($('<option>', { value: data.Birim2, text: data.Birim2 })); }
                    if (data.Birim3.replace(" ", "") != "") { $('#Birim').append($('<option>', { value: data.Birim3, text: data.Birim3 })); }
                    if (data.Birim4.replace(" ", "") != "") { $('#Birim').append($('<option>', { value: data.Birim4, text: data.Birim4 })); }
                }
                $("#MalKodu").val(id);
                $("#Miktar").focus();
            }
        });
    }
</script>