@model List<GetIrsaliyeSTI_Result>
@using (Ajax.BeginForm("InsertMalzeme", "Buy", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "StoreGrid" }, new { @class = "form-horizontal" }))
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Malzeme Kodu</th>
                <th>Malzeme Adı</th>
                <th>Miktar</th>
                <th>Birim</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody id="StoreFrom">
            @{Html.RenderAction("NewMalzemeForm", new { id = ViewBag.IrsaliyeId });}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MalKodu</td>
                    <td>@item.MalAdi</td>
                    <td>@item.Miktar</td>
                    <td>@item.Birim</td>
                    <td>
                        <a class="edit" href="javascript:;" onclick="CreateEdit('@item.ID')"> Düzenle </a>
                        <a class="edit" href="javascript:;" onclick="Delete('@item.ID','/Storage/StoreGridPartial','StoreGrid','0')"> Sil </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
                }
<script>
    $("#rowSearch").hide(); var searching = true;
    function getMalzeme(kod, ad) {
        if (searching == false) return;
        $("#malzemeSelector option").remove(); $("#rowSearch").hide();
        $.ajax({
            url: "/Buy/getMalzeme",
            type: 'POST',
            data: JSON.stringify({ kod: kod, ad:ad }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $("#rowSearch").show()
                    $.each(data, function (i, item) {
                        $('#malzemeSelector').append($('<option>', {value: item.MalKodu,text: item.MalAdi}));
                    });
                }
            }
        });
    }
    $('#malzemeSelector').on('change', function () {
        searching = false;
        $("#MalKodu").val($("#malzemeSelector option:selected").val());
        $("#MalAdi").val($("#malzemeSelector option:selected").text());
        $("#rowSearch").hide()
        searching = true;
        $("#Birim option").remove();
        $.ajax({
            url: "/Buy/getBirim",
            type: 'POST',
            data: JSON.stringify({ kod: this.value }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#Birim').append($('<option>', { value: item, text: item }));
                    });
                }
            }
        });
    });
</script>