@model  frmIrsaliye
@{
    ViewBag.Title = "İrsaliye";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
}<h3 class="page-title">İrsaliye</h3>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Evrak Bilgileri
                        </div>
                    </div>
                    <div class="portlet-body form">
                        @using (Ajax.BeginForm("New", "Buy", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnBegin = "$('#StoreGrid').html();", UpdateTargetId = "StoreGrid", OnFailure= "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn - default');" }, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Şirket</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control input-circle", required = "required", @onchange = "checkEnabled()" })
                                        <span class="field-validation-valid" data-valmsg-for="SirketID" data-valmsg-replace="true" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Depo</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control input-circle", required = "required", @onchange = "checkEnabled()" })
                                        <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Hesap Kodu</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(a => a.HesapKodu, new { @class = "form-control input-circle", @required = "", @onclick = "ShowHide()", @readonly = "", style = "cursor:pointer;" })
                                        <span class="field-validation-valid" data-valmsg-for="HesapKodu" data-valmsg-replace="true" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Unvan</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(a => a.Unvan, new { @class = "form-control input-circle", @required = "", @onclick = "ShowHide()", @readonly = "", style = "cursor:pointer;" })
                                        <span class="field-validation-valid" data-valmsg-for="Unvan" data-valmsg-replace="true" style="color:red;"></span>
                                    </div>
                                </div>
                                <div id="hesapSelect"></div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Evrak No</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(a => a.EvrakNo, new { @class = "form-control input-circle", @required = "", @placeholder = "Evrak No", @onfocus = "$('#hesapSelect').hide()" })
                                        <span class="field-validation-valid" data-valmsg-for="EvrakNo" data-valmsg-replace="true" style="color:red;"></span>
                                    </div>
                                    <div class="col-md-1">
                                        <a id="btnList" class="btn btn-default input-circle green" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Buy/List/' + $('#SirketID').val() + ',' + $('#DepoID').val() + ',' + $('#HesapKodu').val())"> Liste </a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tarih</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(a => a.Tarih, new { @class = "form-control input-circle", @required = "", @onfocus = "$('#hesapSelect').hide()" })
                                        <span class="field-validation-valid" data-valmsg-for="Tarih" data-valmsg-replace="true" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button id="submitForm" type="submit" class="btn btn-circle green">Ekle</button>
                                        <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="CreateNew()">Temizle</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-files-o"></i>Malzeme Bilgileri
                    </div>
                    <div class="col-md-2 pull-right m-t-5">
                        @using (Html.BeginForm("irsaliye", "Uploads", FormMethod.Post, new { enctype = "multipart/form-data", id = "fileupload" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-6"><a id="btnSablon" href="~/Content/STISablon.xlsx" class="btn btn-default">Şablon İndir</a></div>
                            <div class="col-md-6"><a id="linkUpload" class="btn btn-warning">Yükle</a></div>
                            <input id="btnUpload" type="file" name="file" />
                            <input type="hidden" name="IrsNo" id="IrsNo" value="0" />
                        }
                    </div>
                    <div class="col-md-2 pull-right m-t-5">
                        <a id="btnSiparis" class="btn btn-default input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Buy/SiparisList/' + $('#SirketID').val() + $('#HesapKodu').val())"> Siparişten Getir </a>
                    </div>
                </div>
            </div>
            <div id="StoreGrid" style="padding:8px;"></div>
        </div>
    </div>
</div>
@section Scripts{
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>
<script src="~/Content/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="~/Content/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="~/Content/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script>
    $(".import-content").hide();
    var DeleteFunctionUrl = '@Url.Action("Delete2", "Buy")';
    $("#SirketID").prepend("<option value='0'>Seçiniz !!!</option>");
    $("#DepoID").prepend("<option value='0'>Seçiniz !!!</option>");
    CreateNew(); checkEnabled();
    $("#Tarih").datepicker({ todayBtn: 'true', todayHighlight: 'true', language: 'tr' });
    $('#SirketID').on('change', function () {
        $("#hesapSelect").html("");
        $("#HesapKodu").val('');
        $("#Unvan").val('');
        $.ajax({
            url: "/Buy/GetHesapCodes/" + $('#SirketID').val(),
            type: 'POST',
            dataType: "html",
            success: function (data) { if (data != "") $("#hesapSelect").html(data); },
            error: function (data) { Modaldialog("Lütfen Tekrar Deneyin", "Hata", "Tamam", "btn-default"); }
        });
    });
    function checkEnabled() {
        if ($("#SirketID").val() == 0 || $("#DepoID").val() == 0 || $("#HesapKodu").val() == "" || $("#HesapKodu").val() == null) {
            $("#btnList").hide(); $("#btnSiparis").hide(); $("#btnSablon").hide(); $("#linkUpload").hide();
        } else {
            $("#btnList").show(); $("#btnSiparis").show(); $("#btnSablon").show(); $("#linkUpload").show();
        }
    }
    function ShowHide() {
        if ($('#hesapSelect').css("display") == "none")
            $('#hesapSelect').show();
        else
            $('#hesapSelect').hide();
    }
    function ShowHide() {
        if ($('#hesapSelect').css("display") == "none")
            $('#hesapSelect').show();
        else
            $('#hesapSelect').hide();
    }
    function CreateNew() {
        $('#hesapSelect').hide();
        $("#IrsNo").val('0');
        $("#SirketID")[0].selectedIndex = 0;
        $("#DepoID")[0].selectedIndex = 0;
        $("#hesapSelect").html("");
        $("#HesapKodu").val('');
        $("#Unvan").val('');
        $("#EvrakNo").val('');
        $("#Tarih").val('@DateTime.Now.ToShortDateString()');
        $("#StoreGrid").html('');
    }
    $(function () {
        $('#linkUpload').click(function () {
            if ($("#IrsNo").val() > 0)
                $("#btnUpload").click();
        });
        $('#fileupload').fileupload({
            maxFileSize: 2000000,
            acceptFileTypes: /(\.|\/)(xlsx)$/i,
            dataType: 'json',
            add: function (e, data) { data.submit(); },
            done: function (e, data) { $('#submitForm').click(); },
            fail: function (e, data) { Modaldialog("Lütfen Tekrar Deneyin", "Hata", "Tamam", "btn-default"); }
        });
    });
</script>
}
