@model IEnumerable<frmSiparistenGelen>
@{ string[] list; list = new string[Model.Count()]; int x = 0; }
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-body">@*Project Details Go Here*@
                    <h4>İrsaliye Liste</h4>
                    <table class="table table-striped table-bordered" id="sample_3">
                        <thead><tr><th>EvrakNo</th><th>Tarih</th><th>Mal Kodu</th><th>Mal Adı</th><th>Açık Miktar</th><th>Birim</th><th>ID</th><th>rowID</th></tr></thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                list[x] = item.AçıkMiktar.ToString(); 
                                <tr style="cursor:pointer;" onclick="$(this).toggleClass('selected');">
                                    <td>@Html.DisplayFor(modelItem => item.EvrakNo)</td>
                                    <td>@item.Tarih.FromOADateInt()</td>
                                    <td>@Html.DisplayFor(modelItem => item.MalKodu)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MalAdi)</td>
                                    <td ondblclick="ChangeMiktar(this, '@item.MalKodu', '@item.AçıkMiktar', '@x')" align="right">@String.Format("{0:n}", item.AçıkMiktar)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Birim)</td>
                                    <td>@item.ID</td>
                                    <td>@x</td>
                                </tr>
                                x++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" id="submitter">Ekle</button>
                <button type="button" class="btn btn-default pull-right m-r-20" id="selector">Hepsini Seç</button>
            </div>
        </div>
    </div>
</div>
<script>
    var selectall = true; var list = [@{for (int i = 0; i < Model.Count(); i++){  if(i>0){<text>,</text>} <text>"</text>@list[i]<text>"</text> }}];
    $(document).ready(function () {
        var table = $('#sample_3').DataTable({
            "pagingType": "full_numbers",
            "ordering": false,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "columnDefs": [{ "targets": [6,7], "visible": false, "searchable": false }],
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<br /><select style="max-width:100px;"><option value=""></option></select>')
                        .appendTo($(column.header()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
                    column.data().unique().sort().each(function (d, j) { select.append('<option value="' + d + '">' + d + '</option>') });
                });
            }
        });
        $("#submitter").click(function () {
            var selected = "";
            table.rows(".selected").every(function (rowIdx, tableLoop, rowLoop) { selected = selected + this.data()[0] + "#" + this.data()[2] + "#" + this.data()[5] + "#" + this.data()[6] + "#" + list[this.data()[7]] + "#"; });
            if (selected == "") return;
            $.ajax({
                url: "/Buy/FromSiparis",
                data: { 's': $("#SirketID").val(), 'id': $("#IrsNo").val(), 'ids': selected },
                type: 'POST',
                dataType: "html",
                success: function (data) { if (data != "") $("#StoreGrid").html(data); },
                error: function (data) { Modaldialog("Lütfen Tekrar Deneyin", "Hata", "Tamam", "btn-default"); }
            });
        });
        $("#selector").click(function () {
            if (selectall == true) {
                $("#selector").text("Seçimi İptal Et"); selectall = false;
                table.rows({ filter: 'applied' }).every(function (rowIdx, tableLoop, rowLoop) { this.select(); });
            }
            else {
                $("#selector").text("Hepsini Seç"); selectall = true;
                table.rows().every(function (rowIdx, tableLoop, rowLoop) { this.deselect(); });
            }
        });
    });
    function ChangeMiktar(td, mal, miktar, id)
    {
        var yeni = prompt(mal + " için yeni miktarı giriniz", miktar);
        if (yeni == null || yeni == undefined) return;
        yeni = parseFloat(yeni);
        list[id] = yeni;
        $(td).html(yeni.formatMoney(2));
    }
</script>