@{
    ViewBag.Title = "Bekleyen Sipariş Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Bekleyen Sipariş Raporu</span></li></ul></div>
<h1 class="page-title">Bekleyen Sipariş Raporu</h1>
<div class="row m-t-20">
    <div class="col-md-offset-2 col-md-2 p-0 m-t-5 color-blue-light bold">Başlangıç: </div>
    <div class="col-md-2 p-0 m-t-5 color-blue-light bold">Bitiş: </div>
</div>
<div class="row m-t-20">
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Tarih: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBaslangic" value="@DateTime.Today.AddMonths(-1).ToShortDateString()" /></div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBitis" value="@DateTime.Today.ToShortDateString()" /></div>
    <div class="col-md-2"><button id="btnListele" class="btn btn-block green">Listele<i class="fa fa-check"></i></button></div>
</div>
<div class="row m-t-20">
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Teslim Tarihi: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtTeslimBaslangic" value="@DateTime.Today.AddMonths(-1).ToShortDateString()" /></div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtTeslimBitis" value="@DateTime.Today.ToShortDateString()" /></div>
</div>
<div class="row" id="bekleyen-siparis-grid" style="margin-top:20px;"></div>
@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script>
    $(document).ready(function () {
        var basTarih = @DateTime.Today.AddMonths(-1).ToOADateInt();
        var bitTarih = @DateTime.Today.ToOADateInt();
        var basTeslimTarih = basTarih;
        var bitTeslimTarih = bitTarih;
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $("#txtBaslangic").datepicker().on("change", function (e) { basTarih = toOADateFromString(e.target.value); });
        $("#txtBitis").datepicker().on("change", function (e) { bitTarih = toOADateFromString(e.target.value); });
        $("#txtTeslimBaslangic").datepicker().on("change", function (e) { basTeslimTarih = toOADateFromString(e.target.value); });
        $("#txtTeslimBitis").datepicker().on("change", function (e) { bitTeslimTarih = toOADateFromString(e.target.value); });
        $("#btnListele").click(function () { PartialView("/Reports/Stock/BekleyenSiparisList", 'bekleyen-siparis-grid', JSON.stringify({ bastarih: basTarih, bittarih: bitTarih, basteslimtarih: basTeslimTarih, bitteslimtarih: bitTeslimTarih })); });
    });
</script>
}