@model List<RaporBekleyenSiparis>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<div class="col-md-12" style="width:100%;">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Bekleyen Sipariş
            </div>
            <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <table class="table table-responsive table-striped table-bordered table-condensed" id="sample_1">
                    <thead>
                        <tr>
                            <th>Hesap Kodu</th>
                            <th>Ünvan</th>
                            <th>Tarih</th>
                            <th>Evrak No</th>
                            <th>Bağlantı No</th>
                            <th>Grup Kodu</th>
                            <th>Mal Kodu</th>
                            <th>Mal Adı</th>
                            <th>Miktar</th>
                            <th>Birim</th>
                            <th>Ana Miktar</th>
                            <th>Ana Birim</th>
                            <th>Sevkedilen Miktar</th>
                            <th>Kalan Miktar</th>
                            <th>Kalan Birim</th>
                            <th>Kalan Ana Miktar</th>
                            <th>Kalan Ana Birim</th>
                            <th>Bağlantı Tipi</th>
                            <th>Fiyat Liste No</th>
                            <th>Liste Fiyatı</th>
                            <th>Döviz Cinsi</th>
                            <th>Sözleşme Şartları</th>
                            <th>Net Fiyat</th>
                            <th>KDVsiz Tutar</th>
                            <th>KDVli Tutar</th>
                            <th>KDVsiz KalanTutar</th>
                            <th>KDVli KalanTutar</th>
                            <th>Stok Miktar</th>
                            <th>Stok Birim</th>
                            <th>Stok Ana Miktar</th>
                            <th>Stok Ana Birim</th>
                            <th>Teslim Tarihi</th>
                            <th>Teslim Tarihi Durum</th>
                            <th>Satış Temsilcisi</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th nowrap colspan="8"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap colspan="3"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap colspan="2"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap style="text-align:right;"></th>
                            <th nowrap colspan="4" style="text-align:right;"></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td nowrap>@item.Chk</td>
                                <td nowrap>@item.Unvan</td>
                                <td nowrap>@item.Tarih.Value.ToString("dd/MM/yyyy")</td>
                                <td nowrap>@item.EvrakNo</td>
                                <td nowrap>@item.BaglantiNo</td>
                                <td nowrap>@item.GrupKod</td>
                                <td nowrap>@item.MalKodu</td>
                                <td nowrap>@item.MalAdi</td>
                                <td nowrap align="right">@item.Miktar.ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.Birim</td>
                                <td nowrap align="right">@item.AnaMiktar.ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.AnaBirim</td>
                                <td nowrap align="right">@item.SevkedilenMiktar.ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@item.KalanMiktar.ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.KalanBirim</td>
                                <td nowrap align="right">@item.KalanAnaMiktar.ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.KalanAnaBirim</td>
                                <td nowrap>@item.BaglantiTipi</td>
                                <td nowrap>@item.FiyatListeNo</td>
                                <td nowrap align="right">@item.FYTFiyat.ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.FYTDovizCinsi</td>
                                <td nowrap>@item.SozlesmeSartlari</td>
                                <td nowrap align="right">@item.NetFiyat.ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@item.KDVSizTutar.ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@item.KDVliTutar.ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@item.KDVSizKalanTutar.ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@item.KDVliKalanTutar.ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@item.StokMiktar.ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.StokBirim</td>
                                <td nowrap align="right">@item.StokAnaMiktar.ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.StokAnaBirim</td>
                                <td nowrap>@item.TeslimTarih</td>
                                <td nowrap>@item.TeslimTarihDurum</td>
                                <td nowrap>@item.SatisTemsilcisi</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var model =  @Html.Raw(serializer.Serialize(Model));
        var Miktar = 0, AnaMiktar = 0, SevkedilenMiktar = 0, KalanMiktar = 0, KalanAnaMiktar = 0, FYTFiyat = 0, NetFiyat = 0, KDVSizTutar = 0, KDVliTutar = 0, KDVSizKalanTutar = 0, KDVliKalanTutar = 0, StokMiktar = 0, StokAnaMiktar = 0;
        jQuery.each(model, function (i, val) {
            Miktar += val.Miktar;
            AnaMiktar += val.AnaMiktar;
            SevkedilenMiktar += val.SevkedilenMiktar;
            KalanMiktar += val.KalanMiktar;
            KalanAnaMiktar += val.KalanAnaMiktar;
            KDVSizTutar += val.KDVSizTutar;
            KDVliTutar += val.KDVliTutar;
            KDVSizKalanTutar += val.KDVSizKalanTutar;
            KDVliKalanTutar += val.KDVliKalanTutar;
            StokMiktar += val.StokMiktar;
        });
       var table12 = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "scrollY": 400,
            "ordering": false,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Update footer
                $(api.column(8).footer()).html(
                    ondalikBinlik(Math.round(Miktar * 100) / 100, 2)
                );
                $(api.column(10).footer()).html(
                    ondalikBinlik(Math.round(AnaMiktar * 100) / 100, 2)
                );
                $(api.column(12).footer()).html(
                    ondalikBinlik(Math.round(SevkedilenMiktar * 100) / 100, 2)
                );
                $(api.column(13).footer()).html(
                    ondalikBinlik(Math.round(KalanMiktar * 100) / 100, 2)
                );
                $(api.column(15).footer()).html(
                    ondalikBinlik(Math.round(KalanAnaMiktar * 100) / 100, 2)
                );
                $(api.column(23).footer()).html(
                    ondalikBinlik(Math.round(KDVSizTutar * 100) / 100, 2)
                );
                $(api.column(24).footer()).html(
                    ondalikBinlik(Math.round(KDVliTutar * 100) / 100, 2)
                );
                $(api.column(25).footer()).html(
                    ondalikBinlik(Math.round(KDVSizKalanTutar * 100) / 100, 2)
                );
                $(api.column(26).footer()).html(
                    ondalikBinlik(Math.round(KDVliKalanTutar * 100) / 100, 2)
                );
            }
        });
        var buttons = new $.fn.dataTable.Buttons(table12, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
            ]
        }).container().appendTo($('#buttons'));
    });
</script>