@model List<KampanyaliSatisRaporu>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<div class="col-md-12">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Kampanyalı Satış Raporu
            </div>
            <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
        </div>

        <div class="portlet-body">
         
            <div class="row p-10">
                <table class="table table-striped table-bordered table-condensed" id="sample_1">
                    <thead>
                        <tr>
                            <th style="width:20px;"></th>
                            <th>Hesap Kodu</th>
                            <th>Comfort Miktar</th>
                            <th>Comfort Birim</th>
                            <th>Comfort Teslim Miktar</th>
                            <th>Comfort Tutar</th>
                            <th>Exclusive Miktar</th>
                            <th>Exclusive Birim</th>
                            <th>Exclusive Teslim Miktar</th>
                            <th>Exclusive Tutar</th>
                            <th>Golden Miktar</th>
                            <th>Golden Birim</th>
                            <th>Golden Teslim Miktar</th>
                            <th>Golden Tutar</th>
                            <th>Loft Miktar</th>
                            <th>Loft Birim</th>
                            <th>Loft Teslim Miktar</th>
                            <th>Loft Tutar</th>
                            <th>Vintage Miktar</th>
                            <th>Vintage Birim</th>
                            <th>Vintage Teslim Miktar</th>
                            <th>Vintage Tutar</th>
                            <th>Peli NeroFloor Miktar</th>
                            <th>Peli NeroFloor Birim</th>
                            <th>Peli NeroFloor Teslim Miktar</th>
                            <th>Peli NeroFloor Tutar</th>
                            <th>Wood Miktar</th>
                            <th>Wood Birim</th>
                            <th>Wood Teslim Miktar</th>
                            <th>Wood Tutar</th>
                            <th>Süpürgelik Birim</th>
                            <th>Hak Edilen 6cm Süpürgelik Miktarı</th>
                            <th>Bedelsiz 6cm Süpürgelik Miktar</th>
                            <th>Bedelsiz 6cm Süpürgelik Teslim Miktar</th>
                            <th>Bedelsiz 6cm Süpürgelik Tutar</th>
                            <th>Hak Edilen 8cm Süpürgelik Miktarı</th>
                            <th>Bedelsiz 8cm Süpürgelik Miktar</th>
                            <th>Bedelsiz 8cm Süpürgelik Teslim Miktar</th>
                            <th>Bedelsiz 8cm Süpürgelik Tutar</th>
                            <th>Bedelli 6cm Süpürgelik Miktar</th>
                            <th>Bedelli 6cm Süpürgelik Teslim Miktar</th>
                            <th>Bedelli 6cm Süpürgelik Tutar</th>
                            <th>Bedelli 8cm Süpürgelik Miktar</th>
                            <th>Bedelli 8cm Süpürgelik Teslim Miktar</th>
                            <th>Bedelli 8cm Süpürgelik Tutar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td nowrap class='details-control'  style="width:20px;"> </td>
                                <td nowrap>@item.Chk</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.ComfortMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.ComfortBirim</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.ComfortTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.ComfortTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.ExculusiveMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.ExculusiveBirim</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.ExculusiveTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.ExculusiveTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.GoldenMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.GoldenBirim</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.GoldenTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.GoldenTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.LoftMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.LoftBirim</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.LoftTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.LoftTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.VintageMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.VintageBirim</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.VintageTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.VintageTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.PeliNeroFloorMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.PeliNeroFloorBirim</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.PeliNeroFloorTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.PeliNeroFloorTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.WoodMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.WoodBirim</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.WoodTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.WoodTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.SupurgelikBirim</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.HakKazanilan6cmSup).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelsiz6CmSupMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelsiz6CmSupTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelsiz6CmSupTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.HakKazanilan8cmSup).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelsiz8CmSupMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelsiz8CmSupTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelsiz8CmSupTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelli6CmSupMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelli6CmSupTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelli6CmSupTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelli8CmSupMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelli8CmSupTeslimMiktar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.Bedelli8CmSupTutar).ToDecimal().ToOnFormat()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var model =  @Html.Raw(serializer.Serialize(Model));
        table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "pagingType": "full_numbers",
            "ordering": false
        });
        $('#sample_1 tbody').on('click', '.details-control', function () {
            var tr = $(this).closest('tr');
            table
                .rows('.aa')
                .nodes()
                .to$()      // Convert to a jQuery object
                .removeClass('aa');
            tr.addClass("aa");
            var x = table.rows('.aa').data();
            var row = table.row(tr);
            if (row.child.isShown()) { row.child.hide(); tr.removeClass('shown'); }
            else { row.child(newrow(x[0][1].toString().replace(/\s/g, ''))).show(); format(x[0][1]); tr.addClass('shown'); }
        });
        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
            ]
        }).container().appendTo($('#buttons'));
    });
</script>
