@model List<SevkiyatKalanRapor>
<div class="col-md-12" style="width:100%;">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Sevkiyat Planına Alınan Ürünler Hariç Stok Raporu Listesi
            </div>
            <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-condensed" id="sample_1">
                <thead>
                    <tr>
                      
                        <th>Tarih</th>
                        <th>MalKodu</th>
                        <th>Depo</th>
                        <th>Miktar</th>
                        <th>KalanStok</th>
                       
                    </tr>
                </thead>
                <tfoot><tr><th colspan="5"></th></tr></tfoot>
                <tfoot class="tf-search">
                    <tr>
                   
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
               
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                      
                            <td nowrap>@item.Tarih</td>
                            <td nowrap>@item.MalKodu</td>
                            <td nowrap>@item.Depo</td>
                            <td nowrap>@item.Miktar</td>
                            <td nowrap>@item.KalanStok</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                return parseInt(moment(a, "DD/MM/YYYY").format("X"), 10);
            },
            "date-uk-asc": function (a, b) {
                return a - b;
            },
            "date-uk-desc": function (a, b) {
                return b - a;
            }
        });
        var edit_date_col_num = $('th:contains("Tarih")').index();
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers",
            "ordering": true,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "columnDefs": [
                { "type": "date-uk", targets: [edit_date_col_num] }
            ],
            "footerCallback": function (row, data, start, end, display) {

                table.rows({ search: 'applied' }).data().each(function (val, index) {

                });
                var api = this.api(), data;
            }

        });
        $('#sample_1 .tf-search th').each(function ()
        {
            var title = $('#sample_1 thead th').eq($(this).index()).text();
            if (title != "" && title.indexOf("Tarih") !== -1)
                $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
            else if (title != "" && title != "Detay" && title != "Hareket")
                $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
        });
        $("#sample_1 tfoot input").on('keyup change', function () { table.column($(this).parent().index() + ':visible').search(this.value).draw(); });
        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs;' }
            ]
        }).container().appendTo($('#buttons'));
    });
</script>

