@{
    if (ViewBag.Title != "") { ViewBag.Title += " | Yönetim Paneli"; }
    else { ViewBag.Title = "Yönetim Paneli"; }
}<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />@******************internet explorerda çalışması için bu satır gerekli**********************@
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Content-Language" content="tr" />
    <meta name="Copyright" content="Copyright © @DateTime.Today.Year" />
    <meta name="description" content="12M Consulting ERP Yönetim Paneli" />
    <meta name="keywords" content="12M, Link, Güneş, ERP, Yönetim, Birikim, Finans" />
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
</head>
<body class="login">
    @RenderBody()
    <div id="div_loading" class="loader"></div>
    @Scripts.Render(BundleConfig.JsBundle)
    <script src="~/Content/assets/global/plugins/devtools-detect.js"></script><script>window.addEventListener('devtoolschange', function (e) { if (e.detail.open == true) { console.clear(); window.location.reload(); } });</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
