@{
    Setting setts = ViewBag.settings;
    List<Message> tblMessages = ViewBag.UnreadMessages;
    string id = ViewBag.vUser.Guid;
    if (id == "" || id == null) { id = "0"; }
    if (ViewBag.Title != "") { ViewBag.Title += " | " + setts.SiteName; }
    else { ViewBag.Title = setts.SiteName; }
    var devexpressVarMi = true;// (Request.Url.ToString().Contains("Approval")==true || Request.Url.ToString().Contains("Reports")==true);
}<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />@******************internet explorerda çalışması için bu satır gerekli**********************@
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Content-Language" content="tr" />
    <meta name="Copyright" content="Copyright © @DateTime.Today.Year" />
    <meta name="description" content="12M Consulting ERP Yönetim Paneli" />
    <meta name="keywords" content="12M, Link, Güneş, ERP, Yönetim, Birikim, Finans" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="author" content="/humans.txt">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render(BundleConfig.bootstrapCss)    @Styles.Render(BundleConfig.jqueryUiCss)    @Styles.Render(BundleConfig.toastrCss)    @Styles.Render(BundleConfig.FontAwesome)    @Styles.Render(BundleConfig.simpleLineIcons)    @Styles.Render(BundleConfig.KendoCss)@if (devexpressVarMi==true) {
    <link href="~/Content/assets/global/plugins/DevExtreme/css/dx.common.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/DevExtreme/css/dx.spa.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/DevExtreme/css/dx.light.css" rel="stylesheet" type="text/css" />
    }@Styles.Render(BundleConfig.CssBundle)    @Scripts.Render(BundleConfig.jquery)    @Scripts.Render(BundleConfig.KendoJs)    @RenderSection("Styles", required: false)    @{if (ViewBag.Debug == false) {<style>.dx-scrollbar-vertical.dx-scrollbar-hoverable, .slimScrollBar, .slimScrollRail { width: 15px!important; }</style>@*/*Burası teknoloji özürlüler için eklenmiştir*/*@} }
    <!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-sidebar-fixed page-md page-footer-fixed">
    <div class="page-wrapper">
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <div class="page-logo">
                    <a href="/" title="Anasayfa"><img src="~/Content/images/@setts.TopLogo" alt="logo" class="logo-default m-t-10" /></a>
                    <div class="menu-toggler sidebar-toggler"><span></span></div>
                </div>
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"><span></span></a>
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-extended dropdown-chat" id="header_chat_bar">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="icon-speech"></i>
                            </a>
                            <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                            @{Html.RenderAction("Notifications", "Home", new { area = "" }); }@*---------------------------------------Notifications---------------------------------------*@
                        </li>
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="@Html.ImageOrDefault(id.ToString())">
                                <span class="username username-hide-on-mobile">@ViewBag.vUser.FullName</span>
                                <i class="icon-arrow-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li><a href="/MyAccount" title="Profilim"><i class="icon-user"></i> Profilim</a></li>
                                <li><a href="/Calendar" title="Profilim"><i class="icon-calendar"></i> Takvim</a></li>
                                <li class="divider"> </li>
                                <li><a href="javascript:;" title="Çıkış Yap" id="btnLogout"><i class="icon-key"></i> Çıkış</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="icon-logout"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    @{Html.RenderAction("Menu", "Home", new { area = "", mYeri = ComboItems.SolMenü.ToInt32(), mUstNo = 0, url = Request.Url.AbsoluteUri }); }@*---------------------------------------Sidebar---------------------------------------*@
                </div>
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">
                    @if (ViewBag.ÇalışmaSüresi < 540)
                    {
                    <div class="m-heading-1 border-red m-bordered">
                        <h3>Eksik Çalışma</h3>
                        <p>Dün eksik çalışma girmişsiniz. <a href="/ToDo/DutyWork/Todos">Onay sayfasından</a> eksik çalışmalarınzı tamamlayınız.</p>
                    </div>
                    <br />
                    }
                    @RenderBody()
                </div>
            </div>
            <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-login"></i></a>
            <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
                <div class="page-quick-sidebar">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab">Kullanıcılar</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                            <div class="page-quick-sidebar-list" style="position: relative; overflow: hidden; width: auto; height: 874px;">
                                <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list" data-height="874" style="overflow: hidden; width: auto; height: 874px;" data-initialized="1">
                                    @{Html.RenderAction("SharedList", "Users", new { area = "" }); }@*---------------------------------------Chat users---------------------------------------*@
                                </div><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 874px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(221, 221, 221); opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>
                            <div class="page-quick-sidebar-item">
                                <div class="page-quick-sidebar-chat-user">
                                    <div class="page-quick-sidebar-nav">
                                        <a href="javascript:;" class="page-quick-sidebar-back-to-list">
                                            <i class="icon-arrow-left"></i>Geri
                                        </a>
                                    </div>
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 769px;">
                                        <div class="page-quick-sidebar-chat-user-messages" data-height="769" style="overflow: hidden; width: auto; height: 769px;" data-initialized="1">@*-------------Chat buraya gelecek---------------------------------------*@
                                            <div class="post in">
                                                <img class="avatar" alt="" src="@Html.ImageOrDefault("")">
                                                <div class="message">
                                                    <span class="arrow"></span>
                                                    <a href="javascript:;" class="name">Yönetici</a>
                                                    <span class="datetime">Şimdi</span>
                                                    <span class="body">Hoşgeldiniz</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 769px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>                                    </div>
                                    <div class="page-quick-sidebar-chat-user-form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Buraya yazın...">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn green">
                                                    <i class="icon-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <div class="page-footer-inner">@DateTime.Today.Year &copy; <a href="http://www.12mconsulting.com.tr/" title="12M Consulting" target="_blank">12M Consulting</a> &nbsp; @{if (ViewBag.Debug == false) {<text>v.@ViewBag.Version</text>} else {<text>_Test Aşamasında_</text>} }</div>
            <div class="scroll-to-top"><i class="icon-arrow-up"></i></div>
        </div>
        <div id="div_loading" class="loader"></div>
        <div class="portfolio-modal modal fade" id="modalEditPage" tabindex="-1" role="dialog" aria-hidden="true"></div>
        <div id="send-realtime-notifications"></div>
    </div>
<script>var currentUserName = "@ViewBag.vUser.UserName"; var currentRealName = "@ViewBag.vUser.FullName"; var currentUserImage = "@Html.ImageAddressOrDefault(id)"; var SendMessageTo = "x";</script>
@Scripts.Render(BundleConfig.jqueryUiJs)@Scripts.Render(BundleConfig.bootstrapJs)@Scripts.Render(BundleConfig.signalR)@Scripts.Render(BundleConfig.toastrJs)@Scripts.Render(BundleConfig.moment)@Scripts.Render(BundleConfig.numeral)@Scripts.Render(BundleConfig.bootbox)@Scripts.Render(BundleConfig.slimscroll)@Scripts.Render(BundleConfig.blockui)@Scripts.Render(BundleConfig.JsBundle)@Scripts.Render(BundleConfig.DtBundle)<script src="/signalr/hubs"></script>@Scripts.Render(BundleConfig.StBundle)
<script src="~/Content/assets/global/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/Content/assets/global/plugins/datatables/extensions/Buttons/js/buttons.flash.js"></script>@if (devexpressVarMi == true) {
<script src="~/Content/assets/global/plugins/devextreme/js/dx.all.js"></script>}@{if (ViewBag.Debug == false && ViewBag.vUser.Id > 1) {
<script src="~/Content/assets/global/plugins/devtools-detect.js"></script><script>window.addEventListener('devtoolschange', function (e) { if (e.detail.open == true) { console.clear(); window.location.href = "@Request.Url.Scheme://@Request.Url.Authority/"; } });</script> }}
@RenderSection("Scripts", required: false)
</body>
</html>