@{
    Setting setts = ViewBag.settings;
    if (ViewBag.Title != "") { ViewBag.Title += " | " + setts.SiteName; }
    else { ViewBag.Title = setts.SiteName; }
}<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />@******************internet explorerda çalışması için bu satır gerekli**********************@
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Content-Language" content="tr" />
    <meta name="Copyright" content="Copyright © @DateTime.Today.Year" />
    <meta name="description" content="12M Consulting ERP Yönetim Paneli" />
    <meta name="keywords" content="12M, Link, Güneş, ERP, Yönetim, Birikim, Finans" />
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render(BundleConfig.CssBundle)@RenderSection("Styles", required: false)
    @{if (ViewBag.Debug == false) {<style>.dx-scrollbar-vertical.dx-scrollbar-hoverable, .slimScrollBar, .slimScrollRail { width: 15px!important; }</style>@*/*Burası teknoloji özürlüler için eklenmiştir*/*@} }
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-sidebar-fixed page-md">
    <div class="page-wrapper">
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <div class="page-logo">
                    <a href="/" title="Anasayfa"><img src="~/Content/images/@setts.TopLogo" alt="logo" class="logo-default m-t-10" /></a>
                    <div class="menu-toggler sidebar-toggler"><span></span></div>
                </div>
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"><span></span></a>
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="/Uploads/1.jpg">
                                <span class="username username-hide-on-mobile">@ViewBag.User</span>
                                <i class="icon-arrow-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li><a href="/MyAccount" title="Profilim"><i class="icon-user"></i> Profilim</a></li>
                                <li class="divider"> </li>
                                <li><a href="/Security/LogOut" title="Çıkış Yap"><i class="icon-key"></i> Çıkış</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="/Security/LogOut" class="dropdown-toggle" title="Çıkış Yap">
                                <i class="icon-logout"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    @{Html.RenderAction("Menu", "Home", new { area = "", mYeri = ComboItems.SolMenü.ToInt32(), mUstNo = 0, url = Request.Url.AbsoluteUri }); }@*---------------------------------------Sidebar---------------------------------------*@
                </div>
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
            <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-login"></i></a>
        </div>
        <div class="page-footer">
            <div class="page-footer-inner">@DateTime.Today.Year &copy; <a href="http://www.12mconsulting.com.tr/" title="12M Consulting" target="_blank">12M Consulting</a> &nbsp; @{if (ViewBag.Debug == false) {<text>v.@setts.Version</text>} else {<text>_Test Aşamasında_</text>} }</div>
            <div class="scroll-to-top"><i class="icon-arrow-up"></i></div>
        </div>
        <div id="div_loading" class="loader"></div>
        <div class="portfolio-modal modal fade" id="modalEditPage" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </div>
    @Scripts.Render(BundleConfig.JsBundle)    <script src="~/Content/assets/global/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/extensions/Buttons/js/buttons.flash.js"></script>
    @{if (ViewBag.Debug == false && ViewBag.UserID > 1) {    <script src="~/Content/assets/global/plugins/devtools-detect.js"></script><script>window.addEventListener('devtoolschange', function (e) { if (e.detail.open == true) { console.clear(); window.location.href = "@Request.Url.Scheme://@Request.Url.Authority/"; } });</script> }}
    @RenderSection("Scripts", required: false)
</body>
</html>
