<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <li class="sidebar-toggler-wrapper hide">
            <div class="sidebar-toggler"><span></span></div>
        </li>
        <li class="sidebar-search-wrapper">
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle"><i class="icon-home"></i><span class="title">Depo İşlemleri</span><span class="arrow "></span></a>
            <ul class="sub-menu">
                <li><a href="@Url.Action("Index", "Storage")" target="_blank"><i class="icon-home"></i>Depo Kartı Düzenle</a></li>
                <li><a href="@Url.Action("Index", "Corridor")" target="_blank"><i class="icon-home"></i>Koridor Kartı Düzenle</a></li>
                <li><a href="@Url.Action("Index", "Shelf")" target="_blank"><i class="icon-home"></i>Raf Kartı Düzenle</a></li>
                <li><a href="@Url.Action("Index", "Section")" target="_blank"><i class="icon-home"></i>Bölüm Kartı Düzenle</a></li>
                <li><a href="@Url.Action("Index", "Floor")" target="_blank"><i class="icon-home"></i>Kat Kartı Düzenle</a></li>
            </ul>
        </li>
        <li class="nav-item"><a href="@Url.Action("Index","Buy")" class="nav-link"><i class="icon-home"></i><span class="title">İrsaliye İşlemleri</span></a></li>
        <li class="nav-item"><a href="@Url.Action("Index","Gorev")" class="nav-link"><i class="icon-home"></i><span class="title">Görev Listesi</span></a></li>
    </ul>
</div>


