<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <li class="sidebar-toggler-wrapper hide"><div class="sidebar-toggler"><span></span></div></li>
        <li class="nav-item"><a href="@Url.Action("Index","Home")" class="nav-link"><i class="icon-home"></i><span class="title">Yönetim Paneli</span></a></li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle"><i class="icon-home"></i><span class="title">Depo İşlemleri</span><span class="arrow "></span></a>
            <ul class="sub-menu">
                <li><a href="@Url.Action("Index", "Storage")"><i class="icon-home"></i>Depo Kartı Düzenle</a></li>
                <li><a href="@Url.Action("Index", "Corridor")"><i class="icon-home"></i>Koridor Kartı Düzenle</a></li>
                <li><a href="@Url.Action("Index", "Shelf")"><i class="icon-home"></i>Raf Kartı Düzenle</a></li>
                <li><a href="@Url.Action("Index", "Section")"><i class="icon-home"></i>Bölüm Kartı Düzenle</a></li>
                <li><a href="@Url.Action("Index", "Floor")"><i class="icon-home"></i>Kat Kartı Düzenle</a></li>
                <li><a href="@Url.Action("Index", "Size")"><i class="icon-home"></i>Boyut Kartı Düzenle</a></li>
            </ul>
        </li>
        <li class="nav-item"><a href="@Url.Action("Index","Buy")" class="nav-link"><i class="icon-home"></i><span class="title">İrsaliye İşlemleri</span></a></li>
        <li class="nav-item"><a href="@Url.Action("Index","Sell")" class="nav-link"><i class="icon-home"></i><span class="title">Sipariş Planlama</span></a></li>
        <li class="nav-item"><a href="@Url.Action("Index","Tasks")" class="nav-link"><i class="icon-home"></i><span class="title">Görev Listesi</span></a></li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle"><i class="icon-home"></i><span class="title">Stok İşlemleri</span><span class="arrow "></span></a>
            <ul class="sub-menu">
                <li><a href="@Url.Action("Index", "Stock")"><i class="icon-home"></i>Stok Listesi</a></li>
                <li><a href="@Url.Action("Index", "Transfer")"><i class="icon-home"></i>Transfer Planlama</a></li>
                <li><a href="@Url.Action("List", "Transfer")"><i class="icon-home"></i>Onay Bekleyen Transfer İstekleri</a></li>
            </ul>
        </li>
    </ul>
</div>