@model IEnumerable<Message>
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-bell"></i>@if (Model.Where(m => m.Goruldu == false).Count() > 0) {<span class="badge badge-default"> @Model.Where(m => m.Goruldu == false).Count() </span>}
</a>
<ul class="dropdown-menu" style="max-width:500px!important;width:500px!important;">
    <li class="external">
        <h3><span class="bold">@Model.Where(m => m.Goruldu == false).Count() yeni bildiri var</span></h3>
        <a href="/Inbox/Notifications">hepsine bak</a>
    </li>
    <li>
        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
            @foreach (var item in Model)
            {
                <li>
                    <a href="@item.URL">
                        <span class="time" style="max-width:200px!important;">@item.Tarih.ToUniversalTime().Humanize()</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-info">
                                <i class="fa fa-bell-o"></i>
                            </span>@item.Mesaj
                        </span>
                    </a>
                </li>
            }
        </ul>
    </li>
</ul>