@model IEnumerable<User>
<ul class="media-list list-items">
    <li class="media">
        <input type="hidden" value="" />
        <img class="media-object" src="@Html.ImageOrDefault("")" alt="Herkes">
        <div class="media-body">
            <h4 class="media-heading">Herkes</h4>
        </div>
    </li>
    @foreach (var item in Model)
    {
        <li class="media">
            <input type="hidden" value="@item.Kod" />
            <img class="media-object" src="@Html.ImageOrDefault(item.Guid.ToString())" alt="@item.AdSoyad">
            <div class="media-body">
                <h4 class="media-heading">@item.AdSoyad</h4>
                <div class="media-heading-sub">@item.RoleName</div>
            </div>
        </li>
    }
</ul>