@using Newtonsoft.Json;
@model Wms12m.Entity.Store04
@{
    if (Model.ID > 0)
    {
        
        Wms12m.Business.abstractStore<Wms12m.Entity.Store01> _Store = new Wms12m.Business.Store();
        Wms12m.Business.abstractStore<Wms12m.Entity.Store02> _Corridor = new Wms12m.Business.Corridor();
        Wms12m.Business.abstractStore<Wms12m.Entity.Store03> _Shelf = new Wms12m.Business.Shelf();
        ViewBag.CorridorId = _Shelf.Detail(Model.RafID).KoridorID;
        ViewBag.StoreId = _Corridor.Detail(ViewBag.CorridorId).DepoID;
    }


}
<script type="text/javascript">
    $(".make-switch").bootstrapSwitch();
    $('.make-switch').on('switchChange.bootstrapSwitch', function (e, data) {
        $(".make-switch").val(data)
    });
    $(document).ready(function () {
        StoreList();
        var Links = @Html.Raw(JsonConvert.SerializeObject(Model));
        if (!Links.Locked) {
            $('input[type=checkbox]').prop("checked", true).trigger("change");
        }
        if(Links.ID>0){
            $("#CorrridorId option").remove();
            $("#ShelfList option").remove();
            $("#StoreListi").removeAttr("disabled");
            $("#CorrridorId").removeAttr("disabled");
            $("#ShelfListi").removeAttr("disabled");
            
        }
        else{
            $('.ekle-duzenle').prop('disabled', 'disabled');
            $('#CorrridorId').prop('disabled', 'disabled');
            $('#ShelfList').prop('disabled', 'disabled');
        }
        

        $('#StoreId').on('change', function() {
            if(this.value=="0"){
                $('.ekle-duzenle').prop('disabled', 'disabled');
                $("#CorrridorId option").remove();
                $('#CorrridorId').prop('disabled', 'disabled');
                $("#ShelfList option").remove();
                $('#ShelfList').prop('disabled', 'disabled');
            }
            else{
                $("#ShelfList option").remove();
                $('#ShelfList').prop('disabled', 'disabled');
                $("#CorrridorId").removeAttr("disabled");
                CreateCorridorList(this.value);
            }
        })
        $('#CorrridorId').on('change', function() {
            if(this.value=="0"){
                $('.ekle-duzenle').prop('disabled', 'disabled');
                $("#ShelfList option").remove();
                $('#ShelfList').prop('disabled', 'disabled');
            }
            else{
                $("#ShelfList").removeAttr("disabled");
                ShelfList(this.value);
            }
        })
        $('#ShelfList').on('change', function() {
            $('.ekle-duzenle').removeAttr("disabled");
            $("#RafID").val(this.value);
        });
        if (Links.Id>0) {
            $("#StoreId option:selected").val('@ViewBag.StoreId');
            CreateCorridorList('@ViewBag.StoreId');
            $("#ShelfList").removeAttr("disabled");
            ShelfList('@ViewBag.CorridorId');

        }

    });
    function StoreList() {
        $("#StoreId option").remove();
        $("#StoreId").append("<option value=" + '0' + ">Lütfen Depo Seçiniz !!!</option>");
        $.ajax({
            url: StoreListUrl,
            type: 'POST',
            data: '',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "") {
                    //alert("Hata Oluştu !!!");
                } else {
                    $.each(data, function (i, item) {
                        if('@ViewBag.StoreId'==item.ID)
                        {
                            $("#StoreId").append("<option value=" + item.ID + " selected>" + item.DepoAdi + "</option>");

                        }else{
                            $("#StoreId").append("<option value=" + item.ID + ">" + item.DepoAdi + "</option>");
                        }


                    });
                }
            }
        });
    }
    function CreateCorridorList(Id) {
        $("#CorrridorId option").remove();
        $.ajax({
            url: CorrridorList,
            type: 'POST',
            data: JSON.stringify({ Id: Id }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "") {
                    $('#CorrridorId').prop('disabled', 'disabled');
                } else {

                    $("#CorrridorId").append("<option value=" + '0' + ">Lütfen Karidor Seçiniz !!!</option>");
                    $.each(data, function (i, item) {

                        if('@ViewBag.CorridorId'==item.ID)
                        { $("#CorrridorId").removeAttr("disabled");
                        $("#CorrridorId").append("<option value=" + item.ID + " selected>" + item.Koridor + "</option>");

                        }else{
                            $("#CorrridorId").append("<option value=" + item.ID + ">" + item.Koridor + "</option>");
                        }
                    });
                }
            }
        });
    }
    function  ShelfList(Id) {
        $("#ShelfList option").remove();
        //$("#ShelfList").append("<option value=" + '0' + ">Lütfen Raf Seçiniz !!!</option>");
        $.ajax({
            url: ShelfListUrl,
            type: 'POST',
            data: JSON.stringify({ Id: Id }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log(data);
                if (data == "") {
                    $('#ShelfList').prop('disabled', 'disabled');
                } else {
                    $("#ShelfList").append("<option value=" + '0' + ">Lütfen Raf Seçiniz !!!</option>");
                    $.each(data, function (i, item) {
                        if('@Model.RafID'==item.ID)
                        {
                            $("#ShelfList").removeAttr("disabled");
                            $("#RafID").val('@Model.RafID');
                            $("#ShelfList").append("<option value=" + item.ID + " selected>" + item.Raf + "</option>");

                        }else{
                            $("#ShelfList").append("<option value=" + item.ID + ">" + item.Raf + "</option>");
                        }

                    });
                }
            }
        });
    }
</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>@(Model.ID > 0 ? Model.Bolum + "  Bölüm Düzenle" : "Bölüm Ekle")
                </div>
            </div>
            <div class="portlet-body form">
                @using (Ajax.BeginForm("ChapteriOperation", "Chapter", new { }, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "ChapterFrom",
                    OnSuccess = "ChapterReturn"
                }, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Depo</label>
                            <div class="col-md-4">
                                <select id="StoreId" class="form-control"></select>
                                <span class="field-validation-valid" data-valmsg-for="StoreId" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Koridor</label>
                            <div class="col-md-4">
                                <select id="CorrridorId" class="form-control"></select>
                                <span class="field-validation-valid" data-valmsg-for="CorrridorId" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Raf</label>
                            <div class="col-md-4">
                                <select id="ShelfList" class="form-control"></select>
                                <span class="field-validation-valid" data-valmsg-for="ShelfList" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Bölüm</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(a => a.Bolum, new { @class = "form-control input-circle", @placeholder = "Bölüm" })
                                <span class="field-validation-valid" data-valmsg-for="Bolum" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">En</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(a => a.En, new { @class = "form-control input-circle", @placeholder = "En" })
                                <span class="field-validation-valid" data-valmsg-for="En" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Kat Ağırlık Kapasite</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(a => a.KatAgirlik, new { @class = "form-control input-circle", @placeholder = "KatAgirlik" })
                                <span class="field-validation-valid" data-valmsg-for="KatAgirlik" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Sıra</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(a => a.SiraNo, new { @id = "touchspin_11", @class = "form-control" })
                                <span class="field-validation-valid" data-valmsg-for="Sort" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Durum</label>
                            <div class="col-md-4">
                                @Html.CheckBoxFor(a => a.Aktif, new { @checked = Model.Aktif ? "checked" : string.Empty, @class = "make-switch", @data_size = "normal", @data_on_color = "success", @data_off_text = "Pasif", @data_on_text = "Aktif", @data_off_color = "danger" })

                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(a => a.ID)
                    @Html.HiddenFor(a => a.RafID)
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green ekle-duzenle">@(Model.ID > 0 ? "Düzenle" : "Ekle")</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="CreateEdit('0')">Temizle</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //function ShowLoader(text) {
    //    if (text) {
    //        $('.page-loader div').css('width', '420px').css('margin-left', '-210px');
    //        $('.page-loader span').html(text);
    //    } else {
    //        $('.page-loader span').html('');
    //    }
    //    $('.page-loader').show();
    //}
    $(document).on('change', '.cascading', function () {
        var $dropdown = $(this);
        var selectedValue = $dropdown.val();
        var actionUrl = $dropdown.attr("data-action-url");
        var actionLabel = $dropdown.attr("data-action-label");
        var actionValue = $dropdown.attr("data-action-value");
        var selected = $dropdown.attr("data-action-selected");
        var otherDropDown = $("#" + $dropdown.attr("data-action-dropdown"));
        if (selectedValue != null && selectedValue != '') {
            //ShowLoader();
            $.ajax({
                type: "GET",
                url: actionUrl,
                data: { val: selectedValue },
                beforeSend: function (xhr) {
                }
            }).done(function (items) {
                otherDropDown.empty();
                if (actionLabel != null && actionLabel != undefined) {
                    otherDropDown.append($('<option/>', {
                        value: actionValue == "0" ? "0" : "",
                        text: actionLabel
                    }));
                }
                if (items) {
                    otherDropDown.removeAttr("disabled");
                    $.each(items, function (index, item) {
                        if(item.Value==selected)
                        {
                            otherDropDown.append('<option value="' + item.Value + '" selected>' + item.Text + '</option>');
                        }else{
                            otherDropDown.append($('<option/>', {
                                value: item.Value,
                                text: item.Text,
                                selectedValue:selectedValue
                            }));
                        }
                    });
                }
                //HideLoader();
            }).fail(function (xhr, status, error) {
                Failure(error);
                //HideLoader();
            });
        }
        else {
            otherDropDown.empty();
            otherDropDown.attr("disabled", "disabled");
        }
    });
</script>
<script src="@Url.Content("~/Content/assets/global/plugins/fuelux/js/spinner.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/scripts/app.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/pages/scripts/components-bootstrap-touchspin.min.js")" type="text/javascript"></script>
