@model GorevCalisma

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>GorevCalisma</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CalismaSure)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CalismaSure)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Calisma)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Calisma)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Kaydeden)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Kaydeden)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KayitTarih)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KayitTarih)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Degistiren)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Degistiren)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DegisTarih)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DegisTarih)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gorevler.Sorumlu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gorevler.Sorumlu)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
