@model IEnumerable<GorevlerToDoList>
@{ 
    DateTime checkin = new DateTime(); string GitServerAddress = ViewBag.settings.GitServerAddress;
    bool checkinGoster = ((ViewBag.vUser.RoleName == " " || ViewBag.vUser.RoleName == "Admin") && ViewBag.Tip == false) ? true : false;
    bool varmış = false;
    var checkinsList = new List<ForToDosList>();
}
<table class="table table-bordered table-striped table-condensed" id="sample_1">
    <thead><tr><th style="max-width:20px;"></th><th>Müşteri</th><th>Görevler</th><th>Todo List</th>@if (ViewBag.Tip == true || ViewBag.vUser.RoleName == " " || ViewBag.vUser.RoleName == "Admin"){<th>Sorumlu</th><th>Çalışan</th><th>Bekleten</th>}<th>Tarih</th>@if (checkinGoster == true){<th>Check In<br />Tarihi</th>}<th></th></tr></thead>
    <tfoot><tr><th style="max-width:20px;"></th><th></th><th></th><th></th>@if (ViewBag.Tip == true || ViewBag.vUser.RoleName == " " || ViewBag.vUser.RoleName == "Admin"){<th></th><th></th><th></th>}<th></th>@if(checkinGoster == true){<th></th>}<th></th></tr></tfoot>
    <tfoot class="tf-search"><tr><th style="max-width:20px;"></th><th></th><th></th><th></th>@if (ViewBag.Tip == true || ViewBag.vUser.RoleName == " " || ViewBag.vUser.RoleName == "Admin"){<th></th><th></th><th></th>}<th></th>@if(checkinGoster == true){<th></th>}<th></th></tr></tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            varmış = false;
            if (checkinGoster == true){
                foreach (var itemx in checkinsList)
                {
                    if (itemx.GitGuid == item.Gorevler.ProjeForm.ProjeForm2.GitGuid && itemx.Kaydeden == item.Onaylayan)
                    {
                        varmış = true;
                        checkin = itemx.checkin;
                        break;
                    }
                }
                if (varmış == false)
                {
                    checkin = item.Gorevler.ProjeForm.ProjeForm2.GitGuid.GetCommitDate(GitServerAddress, item.Onaylayan);
                    checkinsList.Add(new ForToDosList() { GitGuid = item.Gorevler.ProjeForm.ProjeForm2.GitGuid, Kaydeden = item.Onaylayan, checkin = checkin });
                }
            }
            <tr data-ID="@item.GorevID" @if (checkinGoster == true && (checkin == new DateTime() || checkin.Date < item.DegisTarih.Date)) {@(" class=font-red")}>
                <td class="details-control" style="max-width:20px;"></td>
                <td>@item.Gorevler.ProjeForm.Musteri.Unvan</td>
                <td>@if (ViewBag.Yetki == true) { <a href="#modalEditPage" data-toggle="modal" onclick="editInModal('/ToDo/Duties/Edit/@item.GorevID')"> @item.Gorevler.Gorev </a> } else { @item.Gorevler.Gorev }</td>
                <td>@item.Aciklama</td>
                @if (ViewBag.Tip == true || ViewBag.vUser.RoleName == " " || ViewBag.vUser.RoleName == "Admin"){
                <td nowrap>@item.Gorevler.Sorumlu @if (item.Gorevler.Sorumlu2 != null) { @(", " + item.Gorevler.Sorumlu2) } @if (item.Gorevler.Sorumlu3 != null) { @(", " + item.Gorevler.Sorumlu3) } @if (item.Gorevler.KontrolSorumlusu != null) { @(", " + item.Gorevler.KontrolSorumlusu) }</td>
                <td>@if (item.Onay == true) { @item.Onaylayan }@if (item.KontrolOnay == true) { @(", ") @item.KontrolEden }</td>
                <td>@if (item.Onay == false) { @item.Gorevler.Sorumlu } else if (item.KontrolOnay == false) { @item.Gorevler.KontrolSorumlusu } else {@("Admin")}</td>
                }
                <td>@item.DegisTarih.ToString("dd.MM.yyyy")</td>
               @if(checkinGoster == true){
                    if (checkin == new DateTime()) { <td class="font-red"><br /><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i></td> }
                    else if (checkin.Date < item.DegisTarih.Date) { <td>@checkin</td> }
                    else { <td>@checkin</td> }                    
                }
                <td>
                   @if (ViewBag.RoleName != "Admin" && ViewBag.RoleName != " ") {<a class="btn btn-info input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/ToDo/DutyWork/New/@item.ID');"><span class="glyphicon glyphicon-floppy-save"></span> &nbsp; Çalışma</a>}
                   @if (ViewBag.Tip == false)//eğer bana aitse normal göster
                    {
                        <a class="btn btn-primary input-circle" href="javascript:;" id="btnOn@{@item.ID}" onclick="Onay(@item.ID, true, 'btnOn@{@item.ID}');"> Onayla </a>
                        if(ViewBag.Yetki == true && item.Onay == true) {<a class="btn btn-danger input-circle" href="javascript:;" id="btnRe@{@item.ID}" onclick="Onay(@item.ID, false, 'btnRe@{@item.ID}');"> Reddet </a>}
                    }
                    else if (ViewBag.Tip == true)//eğer hepsini seç ise farklı farklı göster
                    {
                        if (ViewBag.RoleName == "Admin" && ViewBag.RoleName == " ") { }
                        else if (item.Onay==false && ViewBag.RoleName == "Developer")
                        {
                            <a class="btn btn-primary input-circle" href="javascript:;" id="btnOn@{@item.ID}" onclick="Onay(@item.ID, true, 'btnOn@{@item.ID}');"> Onayla </a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script language="text/javascript">
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers",
            "order": [[1, "asc"]],
            "columnDefs": [{ "targets": [0], "orderable": false }],
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" }
        });
        $('#sample_1 .tf-search th').each(function () {
            var title = $('#sample_1 thead th').eq($(this).index()).text();
            if (title != "" && title.indexOf("Tarih") !== -1)
                $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
            else if (title != "" && title != "Çalışma" && title != "Sıra")
                $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
        });
        $("#sample_1 tfoot input").on('keyup change', function () { table.column($(this).parent().index() + ':visible').search(this.value).draw(); });
        $('#sample_1 tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) { row.child.hide(); tr.removeClass('shown'); }
            else { row.child(newrow(tr.data('id'))).show(); format(tr.data('id')); tr.addClass('shown'); }
        });
        //tarih
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $(".tarih").datepicker();
    });
    function Onay(id, tip, ne)
    {
        @if (ViewBag.RoleName == "Admin" || ViewBag.RoleName == " ") { <text>Onayla(id, tip, 0, ne);</text> }
        else {<text>
        bootbox.prompt({
            title: "Onaylamak için çalıştığınız süreyi dakika olarak yazınız!",
            inputType: 'number',
            callback: function (result) {
                if (result == null)
                {

                }
                else if (result < 0) {
                    Modaldialog("Süreyi doğru yazınız", 'Hata', 'Tamam', 'btn-danger');
                }
                else
                    Onayla(id, tip, result, ne);
            }
        });
        </text>}
    }
    function Onayla(id, tip, sure, ne) {
        $("#" + ne).hide();
        $.ajax({
            type: 'POST',
            url: '/ToDo/DutyWork/ToDosOnay',
            data: { "Id": id, "Onay": tip, "Sure": sure },
            dataType: "json",
            success: function (data) {
                if (data.Status == true) {
                    Modaldialog("İşlem Tamamlandı", 'Onaylandı', 'Tamam', 'btn-success');
                    FuncSearchBtn();
                    $('#send-realtime-notifications').click();
                }
                else if (data.Message != "" && data.Message != null)
                {
                    Modaldialog(data.Message, 'Hata', 'Tamam', 'btn-danger');
                    $("#" + ne).show();
                }
                else
                {
                    Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
                    $("#" + ne).show();
                }
            },
            error: function (data) {
                Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
                $("#" + ne).show();
            }
        });
    }
</script>
