@model List<RaporCHKSelect>
@{
    ViewBag.Title = "Bakiye";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
    td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
    tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
    .ui-autocomplete {max-height: 400px;overflow-y: auto;overflow-x: hidden;padding-right: 20px;}
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Bakiye</span></li></ul></div>
<h1 class="page-title">Bakiye</h1>
<div class="row m-t-20">
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Bakiye: </div>
    <div class="col-md-2 p-l-5 p-r-0"><div class="bakiye"></div></div>
    <div class="col-md-2 col-md-offset-2"><button id="btnListele" class="btn btn-block green input-circle yenile-buton glyphicon glyphicon-refresh">Listele</button></div>
</div>
<div class="row m-t-20">
    <div class="col-md-offset-2 col-md-2 p-0 m-t-5 color-blue-light bold">Başlangıç: </div>
    <div class="col-md-2 p-0 m-t-5 color-blue-light bold">Bitiş: </div>
</div>
<div class="row m-t-20">
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Hesap Kodu: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control" type="text" id="chk-bas-select" /></div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control" type="text" id="chk-bit-select" /></div>
</div>
<div class="row m-t-20">
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Tarih: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBaslangic" value="@DateTime.Today.AddMonths(-1).ToString("dd.MM.yyyy")" /></div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBitis" value="@DateTime.Today.ToString("dd.MM.yyyy")" /></div>
</div>
<div class="row m-t-20">
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Vade Tarihi: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtTeslimBaslangic" value="@DateTime.Today.AddMonths(-1).ToString("dd.MM.yyyy")" /></div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtTeslimBitis" value="@DateTime.Today.ToString("dd.MM.yyyy")" /></div>
</div>
<div class="row" id="bakiye-grid" style="margin-top:20px;"></div>
<div class="modal fade" id="x-modal-bakiye-detay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div style="float:left"><h4 class="modal-title" style="color:#12ccee">BAKİYE DETAY</h4></div><div class="unvan-text" style="float:right;padding-right:20px;"></div>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="grid_bakiye-detay">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" id="mdlSilKapat">Kapat</button>
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    $(document).ready(function () {
        var model = @Html.Raw(Json.Encode(Model));
        var basTarih = @DateTime.Today.AddMonths(-1).ToOADateInt();
        var bitTarih = @DateTime.Today.ToOADateInt();
        var basVadeTarih = basTarih;
        var bitVadeTarih = bitTarih;
        var chk_bas = "", chk_bit = "";
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $("#txtBaslangic").datepicker().on("change", function (e) { basTarih = toOADateFromString(e.target.value); });
        $("#txtBitis").datepicker().on("change", function (e) { bitTarih = toOADateFromString(e.target.value); });
        $("#txtTeslimBaslangic").datepicker().on("change", function (e) { basVadeTarih = toOADateFromString(e.target.value); });
        $("#txtTeslimBitis").datepicker().on("change", function (e) { bitVadeTarih = toOADateFromString(e.target.value); });
        $("#btnListele").click(function () {
            var bakiye = $(".bakiye").dxNumberBox("instance").option("value");

            PartialView("/Reports/Financial/BakiyeList", 'bakiye-grid', JSON.stringify({ bastarih: basTarih, bittarih: bitTarih, basvadetarih: basVadeTarih, bitvadetarih: bitVadeTarih, chk_bas: chk_bas, chk_bit: chk_bit, bakiye: bakiye }));
        });
        $(".bakiye").dxNumberBox({ value: 0, min: 0, placeholder: 'Gün sayısı girin' });    
        $("#chk-bas-select").autocomplete({
            source: "/Reports/Financial/GetChKCode",
            minLength: 2,
            select: function (event, ui) {
                setTimeout(function () { $("#chk-bas-select").val(ui.item.id); }, 0);
                chk_bas = ui.item.id;
            },
            scroll: true
        });
        $("#chk-bit-select").autocomplete({
            source: "/Reports/Financial/GetChKCode",
            minLength: 2,
            select: function (event, ui) {
                setTimeout(function () { $("#chk-bit-select").val(ui.item.id); }, 0);
                chk_bit = ui.item.id;
            },
            scroll: true
        });
    });
    function newrow(CHK) { return "<table style='background:transparent;' id='new" + CHK + "'></table>"; }
    function format(d) {
        $.ajax({
            type: 'POST',
            url: '/Reports/Financial/BakiyeDetay',
            data: { "CHK": d },
            dataType: "html",
            success: function (data) {
                $('#new' + d.toString().replace(/ /g, '')).html(data);
            }
        });
    }
</script>
}