@model HDF
<div class="col-md-12">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>@(Model.ID == 0 ? "Hedef Grup Tanım Kartı Ekle" : "Hedef Grup Tanım Kartı Düzenle")
            </div>
        </div>
        <div class="portlet-body form">
            @using (Ajax.BeginForm("HdfGrpTanimKartiSave", "Financial", new { area = "Reports" }, new AjaxOptions { OnSuccess = "getResult2", HttpMethod = "post", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.ID, new { @class = "ID" })
                @Html.HiddenFor(model => model.AYYIL, new { @class = "AYYIL" })
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BOLGE, "Bölge", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.DropDownList("BOLGE", null, htmlAttributes: new { @class = "form-control input-circle satirekle", required = "required" })
                            @Html.ValidationMessageFor(model => model.BOLGE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.HEDEF, "Hedef", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.HEDEF, new { htmlAttributes = new { @class = "form-control input-circle", required = "required" } })
                            @Html.ValidationMessageFor(model => model.HEDEF, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-circle green">Düzenle</button>
                            <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="TmzGunc2('0')">Temizle</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>