@model HDF
@{
    ViewBag.Title = "Hedef Grup Tanımları Kartı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li>
        <li><a href="javascript:;">Raporlar</a><i class="fa fa-circle"></i></li>
        <li><span>Hedef Grup Tanımları Kartı</span></li>
    </ul>
</div>
<h1 class="page-title">Hedef Bölge İşlemleri</h1>
<div class="row">
    <div class="col-md-12">
        <div class="row" id="CreateEdit">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Hedef Grup Tanımları Kartı
                        </div>
                    </div>
                    <div class="portlet-body form">
                        @using (Ajax.BeginForm("HdfGrpTanimKartiSave", "Financial", new { area = "Reports" }, new AjaxOptions { OnSuccess = "getResult2", HttpMethod = "post", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(model => model.ID, new { @class = "ID" })
                            @*@Html.HiddenFor(model => model.AYYIL, new { @class = "AYYIL" })*@
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BOLGE, "Bölge", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-4">
                                        @Html.DropDownList("BOLGE", null, htmlAttributes: new { @class = "form-control input-circle satirekle", required = "required" })
                                        @Html.ValidationMessageFor(model => model.BOLGE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HEDEF, "Hedef", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.HEDEF, new { htmlAttributes = new { @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @type = "number", @min = "0", @step = "1", @value = "0", @class = "form-control input-circle", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.HEDEF, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Yıl</label>
                                    <div class="col-md-4">
                                        <select id="yilSelect" required="required" name="yilSelect" style="float:left;" class="form-control input-circle">
                                            @foreach (string item in (List<string>)ViewBag.YILLAR)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Ay</label>
                                    <div class="col-md-4">
                                        <select id="aySelect" required="required" name="aySelect" style="float:left;" class="form-control input-circle">
                                            @foreach (var item in ((List<string>)ViewBag.AYLAR).Select((value, i) => new { i, value }))
                                            {
                                                <option value="@item.i">@item.value</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-circle green">@(Model.ID > 0 ? "Düzenle" : "Ekle")</button>
                                        <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="TmzGunc2('0')">Temizle</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="liste"></div>
    </div>
</div>
@section Scripts{
    <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>
    <script type="text/javascript">
        var DeleteFunctionUrl = '/Reports/Financial/HdfGrpTanimKartiDelete';
        $(document).ready(function () {
            PartialView("/Reports/Financial/HdfGrpTanimKartiList", "liste");
        });
        $(".satirekle").prepend("<option value=''>Seçiniz !!!</option>");
        $(".satirekle")[0].selectedIndex = 0;
        function getResult2(data) {
            if (data.Status == false) { Modaldialog(data.Message, "Hata", "Tamam", "btn-danger"); }
            else {
                Modaldialog("Kaydedildi", "Başarı", "Tamam", "btn-success");
                PartialView("/Reports/Financial/HdfGrpTanimKartiList", "liste");
            }
            TmzGunc2('0');
        };
        function TmzGunc2(Id) {
            if (Id == 0) {
                window.location.href = "/Reports/Financial/HdfGrpTanimKarti";
            }
            else {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                PartialView("/Reports/Financial/HdfGrpTanimKartiEdit", 'CreateEdit', JSON.stringify({ Id: Id }));
            }
        }
    </script>
}