@model List<RaporOdemeYapmayanMusteriler>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<div class="col-md-12" style="width:100%;">

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Cari Ekstre
            </div>
            <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>

        </div>
        <div class="portlet-body">
            <div class="row" style="margin-bottom:5px;margin-left:5px;">
                <div class="col-md-6">
                    
                </div>
            </div>
            <table class="table table-striped table-bordered table-condensed" id="sample_1">
                <thead>
                    <tr>
                        <th>Hesap Kodu</th>
                        <th>Ünvan</th>
                        <th>Bakiye</th>
                        <th>Son Tahsilat Tutarı</th>
                        <th>İşlem Tarihi</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="2"></th>
                        <th class="text-right"></th>
                        <th class="text-right"></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td nowrap>@item.HesapKodu</td>
                            <td nowrap>@item.Unvan1</td>
                            <td nowrap align="right">@item.Bakiye.ToDecimal().ToOnFormat() </td>
                            <td nowrap align="right">@item.SonTahsilatTutari.ToDecimal().ToOnFormat() </td>
                            <td nowrap>@item.SonTahsilatTarihi</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var model =  @Html.Raw(serializer.Serialize(Model));
        
       var table123= $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "pagingType": "full_numbers",
            "footerCallback": function (row, data, start, end, display) {
                var Bakiye = 0, SonTahsilatTutari = 0;
                table123.rows({ search: 'applied' }).data().each(function (val, index) {
                    Bakiye += jDecimal(val[2]);
                    SonTahsilatTutari += jDecimal(val[3]);
                });
                var api = this.api(), data;

                // Update footer
                $(api.column(2).footer()).html(
                    ondalikBinlik(Math.round(Bakiye * 100) / 100, 2)
                );
                $(api.column(3).footer()).html(

                    ondalikBinlik(Math.round(SonTahsilatTutari * 100) / 100, 2)
                );
            }
        });
        var buttons = new $.fn.dataTable.Buttons(table123, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
            ]
        }).container().appendTo($('#buttons'));
    });
</script>