<div class="col-md-12" style="width:100%;">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Ürün Satış Analizi - @ViewBag.Yil - @ViewBag.Eltit
            </div>
            <div class="col-md-1 pull-right m-t-5 p-0" id="buttons1a"></div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-condensed table-responsive" id="sample_1a">
                <thead>
                    <tr>
                        <th>Kod9</th>
                        <th>Ocak</th>
                        <th>Şubat</th>
                        <th>Mart</th>
                        <th>Nisan</th>
                        <th>Mayıs</th>
                        <th>Haziran</th>
                        <th>Temmuz</th>
                        <th>Ağustos</th>
                        <th>Eylül</th>
                        <th>Ekim</th>
                        <th>Kasım</th>
                        <th>Aralık</th>
                        <th>NetCiro</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tfoot class="tf-search">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
           table1a = $('#sample_1a').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "ajax": {
                "url": '/Reports/Financial/RaporUrunSatisAnaliziSelect',
                "data": { Yil: '@ViewBag.Yil', GrupKod: '@ViewBag.GrupKod', TipKod: '@ViewBag.TipKod'  },
                   "dataSrc": function (json) {
                       return json;
                   },
               },
            "pagingType": "full_numbers",
            "ordering": true,
            "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13] }, { "className": "dt-center", "targets": "_all" }],
            "columns": [
                { "data": "Kod9" },
                { "data": "Ocak", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Subat", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Mart", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Nisan", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Mayis", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Haziran", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Temmuz", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Agustos", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Eylul", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Ekim", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Kasim", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Aralik", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "NetCiro", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            ],
            "ordering": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $('td', nRow).attr('nowrap', 'nowrap');
                return nRow;
            },
            "footerCallback": function (row, data, start, end, display) {
                var Ocak = 0, Subat = 0, Mart = 0, Nisan = 0, Mayis = 0, Haziran = 0,
                    Temmuz = 0, Agustos = 0, Eylul = 0, Ekim = 0, Kasim = 0, Aralik = 0, NetCiro = 0;
                table1a.rows({ search: 'applied' }).data().each(function (val, index) {
                    Ocak += val.Ocak;
                    Subat += val.Subat;
                    Mart += val.Mart;
                    Nisan += val.Nisan;
                    Mayis += val.Mayis;
                    Haziran += val.Haziran;
                    Temmuz += val.Temmuz;
                    Agustos += val.Agustos;
                    Eylul += val.Eylul;
                    Ekim += val.Ekim;
                    Kasim += val.Kasim;
                    Aralik += val.Aralik;
                    NetCiro += val.NetCiro;
                });
                var api = this.api(), data;
                $(api.column(1).footer()).html(numeral(Ocak).format());
                $(api.column(2).footer()).html(numeral(Subat).format());
                $(api.column(3).footer()).html(numeral(Mart).format());
                $(api.column(4).footer()).html(numeral(Nisan).format());
                $(api.column(5).footer()).html(numeral(Mayis).format());
                $(api.column(6).footer()).html(numeral(Haziran).format());
                $(api.column(7).footer()).html(numeral(Temmuz).format());
                $(api.column(8).footer()).html(numeral(Agustos).format());
                $(api.column(9).footer()).html(numeral(Eylul).format());
                $(api.column(10).footer()).html(numeral(Ekim).format());
                $(api.column(11).footer()).html(numeral(Kasim).format());
                $(api.column(12).footer()).html(numeral(Aralik).format());
                $(api.column(13).footer()).html(numeral(NetCiro).format());
            }
        });

        $("#buttons1a").html("");
        var buttons = new $.fn.dataTable.Buttons(table1a, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
            ]
        }).container().appendTo($('#buttons1a'));
        $('#sample_1a .tf-search th').each(function () {
            var title = $('#sample_1a thead th').eq($(this).index()).text();
            if (title != "" && title.indexOf("Tarih") !== -1)
                $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
            else if (title != "" && title != "Detay" && title != "Hareket")
                $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
        });
        $("#sample_1a tfoot input").on('keyup change', function () { table1a.column($(this).parent().index() + ':visible').search(this.value).draw(); });
        $('#sample_1a .tf-search tr').insertAfter($('#sample_1a thead tr'))
    });
</script>