
@model IEnumerable<GunlukSiparisDetay>
<table class="table">
    <thead>
        <tr>
            <th>Mal Kodu</th>
            <th>Mal Adi</th>
            <th>Birim Miktar</th>
            <th>Iskonto Oran 1</th>
            <th>Satis Fiyat 3</th>
            <th>Birim Fiyat</th>
            <th>Net Tutar</th>
            <th>Valor Gun</th>
            <th>Alis Fiyat 1</th>
            <th>Hesap Kodu</th>
            <th>Mal Adi 4</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MalKodu</td>
                <td>@item.MalAdi</td>
                <td nowrap align="right">@String.Format("{0:0.00}", item.BirimMiktar).ToDecimal().ToOnFormat()</td>
                <td nowrap align="right">@String.Format("{0:0.00}", item.IskontoOran1).ToDecimal().ToOnFormat()</td>
                <td nowrap align="right">@String.Format("{0:0.00}", item.SatisFiyat3).ToDecimal().ToOnFormat()</td>
                <td nowrap align="right">@String.Format("{0:0.00}", item.BirimFiyat).ToDecimal().ToOnFormat()</td>
                <td nowrap align="right">@String.Format("{0:0.00}", item.NetTutar).ToDecimal().ToOnFormat()</td>
                <td nowrap align="right">@String.Format("{0:0.00}", item.Valorgun).ToDecimal().ToOnFormat()</td>
                <td nowrap align="right">@String.Format("{0:0.00}", item.AlisFiyat1).ToDecimal().ToOnFormat()</td>
         
                <td>@item.HesapKodu</td>
                <td>@item.MalAdi4</td>
            </tr>}
    </tbody>
</table>


