@{
    ViewBag.Title = "Toplam Risk Bakiyesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{
    <style>
        .ui-autocomplete {
            max-height: 400px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
        }
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Toplam Risk Bakiyesi</span></li></ul></div>
<h1 class="page-title"> Toplam Risk Bakiyesi</h1>
<div class="row m-t-20">
    <div class="col-md-offset-2 col-md-2 p-0 m-t-5 color-blue-light bold">Başlangıç: </div>
    <div class="col-md-2 p-0 m-t-5 color-blue-light bold">Bitiş: </div>
</div>
<div class="row m-t-20">
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Hesap Kodu: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control" type="text" id="txtHesapBas" /></div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control" type="text" id="txtHesapBit" /></div>
    <div class="col-md-2"><button id="btnListele" class="btn btn-block green">Listele<i class="fa fa-check"></i></button></div>
</div>
<div class="row m-t-20">
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Tarih: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBaslangic" value="@DateTime.Today.AddMonths(-1).ToShortDateString()" /></div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBitis" value="@DateTime.Today.ToShortDateString()" /></div>
</div>
<div class="row m-t-20">
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Vade Tarihi: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtTeslimBaslangic" value="@DateTime.Today.AddMonths(-1).ToShortDateString()" /></div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtTeslimBitis" value="@DateTime.Today.ToShortDateString()" /></div>
</div>
<div id="risk-bakiye-grid" class="m-t-20"></div>
@section Scripts{<script>
    $(document).ready(function () {
        var basTarih = @DateTime.Today.AddMonths(-1).ToOADateInt();
        var bitTarih = @DateTime.Today.ToOADateInt();
        var basVadeTarih = basTarih;
        var bitVadeTarih = bitTarih;
        var chk_bas = "", chk_bit = "";
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $("#txtBaslangic").datepicker().on("change", function (e) { basTarih = toOADateFromString(e.target.value); });
        $("#txtBitis").datepicker().on("change", function (e) { bitTarih = toOADateFromString(e.target.value); });
        $("#txtTeslimBaslangic").datepicker().on("change", function (e) { basVadeTarih = toOADateFromString(e.target.value); });
        $("#txtTeslimBitis").datepicker().on("change", function (e) { bitVadeTarih = toOADateFromString(e.target.value); });
        $("#txtHesapBas").autocomplete({
            source: "/Reports/Financial/GetChKCode/0",
            minLength: 2,
            select: function (event, ui) {
                setTimeout(function () { $("#txtHesapBas").val(ui.item.value.substring(ui.item.id.length + 1)); }, 0);
                chk_bas = ui.item.id;
            },
            scroll: true
        });
        $("#txtHesapBit").autocomplete({
            source: "/Reports/Financial/GetChKCode/0",
            minLength: 2,
            select: function (event, ui) {
                setTimeout(function () { $("#txtHesapBit").val(ui.item.value.substring(ui.item.id.length + 1)); }, 0);
                chk_bit = ui.item.id;
            },
            scroll: true
        });
        $("#btnListele").click(function () {
            if (chk_bas == "" || chk_bit == "")
                Modaldialog("Başlangıç ve bitiş hesap kodlarını seçin ", "Hata", "Tamam", "btn-danger");
            PartialView("/Reports/Financial/RiskBakiyeList", 'risk-bakiye-grid', JSON.stringify({ bastarih: basTarih, bittarih: bitTarih, basvadetarih: basVadeTarih, bitvadetarih: bitVadeTarih, chk_bas: chk_bas, chk_bit: chk_bit }));
        });
    });
</script>
}
