@model List<SatisBaglatiRapru>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<div class="col-md-12" style="width:100%;">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Satış Bağlantı Raporu
            </div>
            <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <table class="table table-striped table-bordered table-condensed" id="sample_1">
                    <thead>
                        <tr>
                            <th>Hesap Kodu</th>
                            <th>Unvan</th>
                            <th>Bakiye</th>
                            <th>Bağlantı Tarihi</th>
                            <th>Bağlantı No</th>
                            <th>Sözleşme Sıra No</th>
                            <th>Bağlantı Tipi</th>
                            <th>Bağlantı Tutarı</th>
                            <th>Bağlantı Para Cinsi</th>
                            <th>Toplam Sevkedilen Tutar</th>
                            <th>Kalan Tutar</th>
                            <th>Devir Tarihi</th>
                            <th>Devir Tutarı</th>
                            <th>Devirden Sonra Sevkedilen</th>
                            <th>Bağlantı Bitiş Tarihi</th>
                            <th style="width:20px;">Detay</th>
                            <th style="width:20px;">Hareket</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="7"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th colspan="3"></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td nowrap>@item.HesapKodu</td>
                                <td nowrap>@item.Unvan</td>
                                <td nowrap>@String.Format("{0:0.00}", item.Bakiye).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.BaglantiTarihi.Value.ToString("dd/MM/yyyy")</td>
                                <td nowrap>@item.BaglantiNo</td>
                                <td nowrap>@item.SozlesmeSiraNo</td>
                                <td nowrap>@item.BaglantiTipi</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.BaglantiTutari).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.BaglantiParaCinsi</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.ToplamSevkEdilenTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.KalanTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.DevirTarih</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.DevirTutar).ToDecimal().ToOnFormat()</td>
                                <td nowrap align="right">@String.Format("{0:0.00}", item.DevirdenSonrakiSevkedilen).ToDecimal().ToOnFormat()</td>
                                <td nowrap>@item.BaglantiBitisTarihi.Value.ToString("dd/MM/yyyy")</td>
                                <td nowrap class='details-control' style="width:20px;"> </td>
                                <td nowrap class='hareket-control' style="width:20px;"> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    var model =  @Html.Raw(serializer.Serialize(Model));
    var BaglantiTutari = 0, ToplamSevkEdilenTutar = 0, KalanTutar = 0, DevirTutar = 0, DevirdenSonrakiSevkedilen = 0;
        jQuery.each(model, function (i, val) {
            BaglantiTutari += val.BaglantiTutari;
            ToplamSevkEdilenTutar += val.ToplamSevkEdilenTutar;
            KalanTutar += val.KalanTutar;
            DevirTutar += val.DevirTutar;
            DevirdenSonrakiSevkedilen += val.DevirdenSonrakiSevkedilen;
        });

        var table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "scrollY": 400,
            "ordering": false,
            "footerCallback": function (row, data, start, end, display) {

                var api = this.api(), data;

                $(api.column(7).footer()).html(
                    ondalikBinlik(Math.round(BaglantiTutari * 100) / 100, 2)
                );
                $(api.column(9).footer()).html(
                    ondalikBinlik(Math.round(ToplamSevkEdilenTutar * 100) / 100, 2)
                );
                $(api.column(10).footer()).html(
                    ondalikBinlik(Math.round(KalanTutar * 100) / 100, 2)
                );
                $(api.column(12).footer()).html(
                    ondalikBinlik(Math.round(DevirTutar * 100) / 100, 2)
                );
                $(api.column(13).footer()).html(
                    ondalikBinlik(Math.round(DevirdenSonrakiSevkedilen * 100) / 100, 2)
                );
            }
        });

        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs;' }
            ]
        }).container().appendTo($('#buttons'));

    $('#sample_1 tbody').on('click', '.details-control', function () {
        var tr = $(this).closest('tr');
        var hesKod = "";
        var bagNo = "";
        table
            .rows('.aa')
            .nodes()
            .to$()      // Convert to a jQuery object
            .removeClass('aa');
        tr.addClass("aa");
        var x = table.rows('.aa').data();

        $(".form-rounded").css("border-radius", "1rem");
        $(".valor_content").css("display", "none");
        $(".txt_sira_no").dxTextBox({ readOnly: true });
        $(".txt_sozlesme_sira_no").dxTextBox({ readOnly: true });
        $(".txt_sozlesme_notu").dxTextBox({ readOnly: true });
        $(".txt_ortalama_vade").dxTextBox({ readOnly: true });
        $(".txt_alinan_bordro_ort").dxTextBox({ readOnly: true });
        $(".date_baslangic_tarihi").dxTextBox({ readOnly: true });
        $(".date_bitis_tarihi").dxTextBox({ readOnly: true });
        $(".date_alinan_cek_ort_vade").dxTextBox({ readOnly: true });
        $(".swtch_vade_valor").dxTextBox({ readOnly: true });

        $(".txt_sira_no").dxTextBox({ readOnly: true });
        NumbBox(".numb_baglanti_tutari", true, 2);
        NumbBox(".numb_valor_gun", true, 0);
        NumbBox(".numb_kredi_limiti", true, 2);
        NumbBox(".numb_bakiye", true, 4);
        NumbBox(".numb_toplam_bakiye", true, 4);
        NumbBox(".numb_bekleyen_siparis", true, 2);
        NumbBox(".numb_alinan_bordro", true, 2);

        var bagTipi = [{ Tip: "Peşin" }, { Tip: "Vadeli" }, { Tip: "Kredi Kart" }, { Tip: "Kampanya" }]
        $(".select_baglanti_tipi").dxTextBox({ readOnly: true});
        var dvzCins = [{ Tip: "TL" }, { Tip: "EUR" }, { Tip: "USD" }]
        $(".select_baglanti_tutari_doviz").dxTextBox({ readOnly: true });
        $.ajax({
            url: window.location.origin + "/Approvals/Contract/List?tip=0",
            data: {},
            type: "post",
            success: function (data) {
                var result = JSON.parse(data);
                $(".select_sozlesmeler").dxLookup("instance").option("dataSource", result);
                jQuery.each(model, function (i, val) {
                    if (model[i]["HesapKodu"].toString().trim() == x[0][0]) {
                        hesKod = model[i]["HesapKodu"];
                    }
                    if (model[i]["BaglantiNo"].toString().trim() == x[0][4]) {
                        bagNo = model[i]["BaglantiNo"];
                    }
                });
                $(".select_sozlesmeler").dxLookup("instance").option("value", bagNo);
            }
        });

        $.ajax({
            url: window.location.origin + "/Approvals/Price/HesapKoduSelect",
            data: {},
            type: "post",
            success: function (data) {
                var result = JSON.parse(data);
                $(".select_musteri_kodu").dxLookup("instance").option("dataSource", result);
            }
        });

        $(".select_sozlesmeler").dxLookup({
            //dataSource: model,
            searchEnabled: true,
            fullScreen: true,
            pageLoadMode: "nextButton",
            searchExpr: ["ListeNo", "MusteriKod", "Unvan", "OnayMerci"],
            valueExpr: 'ListeNo',
            displayExpr: 'ListeNo',
            value: bagNo,
            readOnly: true ,
            onValueChanged: function (e) {
                if (e.value == null) {
                    $(".txt_sozlesme_sira_no").dxTextBox("instance").option("value", "");
                    return;
                }

                $.ajax({
                    url: window.location.origin + "/Approvals/Contract/ISSTempList?SozlesmeNo=" + e.value,
                    data: {},
                    type: "post",
                    success: function (data) {
                    $.ajax({
                        type: 'POST',
                        url: '/Reports/Financial/SatBagSozlesmeDetayListesiSelect',
                        data: { "listeNo": bagNo },
                        dataType: "html",
                        success: function (data) {
                            var result = JSON.parse(data);
                            var columns = [
                                { caption: 'Fiyat Listesi', dataField: 'Kod10' },
                                { caption: 'Ürün Grubu', dataField: 'MalKodGrup' },
                                { caption: 'Ürün Kodu', dataField: 'MalKod' },
                                { caption: 'Ürün Adı', dataField: 'MalAdi' },
                                { caption: 'Kalite', dataField: 'Kalite' },
                                { caption: 'İskonto1', dataField: 'Oran1', format: 'fixedPoint', precision: 5 },
                                { caption: 'İskonto2', dataField: 'Oran2', format: 'fixedPoint', precision: 5 },
                                { caption: 'İskonto3', dataField: 'Oran3', format: 'fixedPoint', precision: 5 },
                                { caption: 'İskonto4', dataField: 'Oran4', format: 'fixedPoint', precision: 5 },
                                { caption: 'İskonto5', dataField: 'Oran5', format: 'fixedPoint', precision: 5 },
                            ];
                            _grid_quotations_detail = $('.satis_baglanti_detay_data').dxDataGrid({
                                dataSource: result,
                                height: 400,
                                paging: { pageSize: 5000 },
                                columns: columns,
                                headerFilter: {
                                    visible: true
                                },
                                popupDetailedWindow: true,
                                columnAutoWidth: true,
                                pagingCounter: true,
                                filterRow: {
                                    visible: true,
                                    applyFilter: 'auto',
                                    applyFilterText: 'Apply filter',
                                    resetOperationText: 'Reset'
                                },
                                scrolling: {
                                    scrollByContent: true,
                                    scrollByThumb: true
                                },
                                allowColumnReordering: true,
                                allowColumnResizing: true,
                                remoteOperations: true,
                                showRowLines: true,
                                hoverStateEnabled: true,
                                rowAlternationEnabled: false,
                                sorting: {
                                    mode: "multiple",
                                },

                                onRowClick: function (opt) {
                                    if (opt.rowType == "data") {
                                        var component = opt.component;
                                        var prevClickTime = component.lastClickTime;//take last clicked time
                                        component.lastClickTime = new Date();
                                        if (prevClickTime && (component.lastClickTime - prevClickTime < 300)) {//check their difference, if less than 300  it is a double click
                                            //PartialView("/Approval/PartialTeminatTanim", 'teminat_tanim_data', JSON.stringify({ chk: opt.data.HesapKodu }));
                                        }
                                    }
                                },
                                onCellPrepared: function (info) {
                                    if (info.rowType == "data") {
                                        if (info.column.dataField == "Tarih" && info.value == "VadeTarih") {
                                            info.cellElement.css({ "background-color": "#ea3d75", "color": "white" });
                                        }
                                    }
                                }
                            }).dxDataGrid("instance");
                        }
                    });
                        var result = JSON.parse(data);
                        if (result.length>0){
                        $(".numb_baglanti_tutari").dxTextBox("instance").option("value", result[0].Kod11);
                        $(".txt_sira_no").dxTextBox("instance").option("value", result[0].Kod2);
                        $(".txt_sozlesme_sira_no").dxTextBox("instance").option("value", result[0].ListeNo);
                        $(".select_baglanti_tipi").dxTextBox("instance").option("value", result[0].Kod1);
                        if (result[0].BaglantiParaCinsi == null) {
                            $(".select_baglanti_tutari_doviz").dxTextBox("instance").option("value", "TL");
                        }
                        else {
                            $(".select_baglanti_tutari_doviz").dxTextBox("instance").option("value", result[0].BaglantiParaCinsi);
                        }
                        $(".date_baslangic_tarihi").dxTextBox("instance").option("value", fromOADate(result[0].BasTarih));
                        $(".date_bitis_tarihi").dxTextBox("instance").option("value", fromOADate(result[0].BitTarih));
                        $(".select_musteri_kodu").dxLookup("instance").option("value", result[0].MusteriKod);
                        $(".txt_sozlesme_notu").dxTextBox("instance").option("value", result[0].Aciklama);
                        $(".date_alinan_cek_ort_vade").dxTextBox("instance").option("value", new Date(new Date(result[0].CekOrtalamaVadeTarih.match(/\d+/)[0] * 1)));
                        }
                    }
                });
            },

            itemTemplate: function (itemData, itemIndex, itemElement) {
                itemElement.css({ "text-align": "left", "border-bottom": "1px solid #2fc1d8" });
                if (itemIndex > 0) {
                    itemElement.css({ "margin-top": "-40px" });
                }
                var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;color:#12ccee;'><b>" + itemData.Unvan + "</b></p>");
                rightBlock.append("<span style='line-height: 0%;font-size:11px;font-weight:bold;'>ListeNo: <i style='font-weight:normal;'>" + itemData.ListeNo + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:25px;'>Musteri Kodu: <i style='font-weight:normal;'>" + itemData.MusteriKod + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:25px;'>OnayMerci: <i style='font-weight:normal;'>" + itemData.OnayMerci + "</i></span></div>");
                itemElement.append(rightBlock);
            }
        });
        $(".select_musteri_kodu").dxLookup({
            //dataSource: model,
            searchEnabled: true,
            pageLoadMode: "nextButton",
            searchExpr: ["HesapKodu", "Unvan"],
            valueExpr: 'HesapKodu',
            displayExpr: 'Unvan',
            readOnly: true,
            onValueChanged: function (e) {
                if (e.value == null) {
                    return;
                }
                var listeNo = $(".select_sozlesmeler").dxLookup("instance").option("value");
                $.ajax({
                    url: window.location.origin + "/Approvals/Contract/CariBilgileri?ListeNo=" + listeNo + "&HesapKodu=" + e.value,
                    data: {},
                    type: "post",
                    success: function (data) {
                        var result = JSON.parse(data);
                        $(".numb_kredi_limiti").dxTextBox("instance").option("value", result[0].KrediLimiti);
                        $(".numb_bakiye").dxTextBox("instance").option("value", result[0].Bakiye);
                        $(".numb_toplam_bakiye").dxTextBox("instance").option("value", result[0].ToplamBakiye);
                        $(".numb_bekleyen_siparis").dxTextBox("instance").option("value", result[0].BekleyenSiparisTutar);
                        $(".numb_alinan_bordro").dxTextBox("instance").option("value", result[0].AlinanBordro);
                        $(".txt_alinan_bordro_ort").dxTextBox("instance").option("value", result[0].AlinanBordroOrtalamaVade == null ? "" : result[0].AlinanBordroOrtalamaVade);
                        $(".txt_ortalama_vade").dxTextBox("instance").option("value", result[0].OrtalamaVade == null ? "" : result[0].OrtalamaVade);
                        $('#x-modal-baglanti-detay').modal("show");
                    }
                });
            },

            itemTemplate: function (itemData, itemIndex, itemElement) {
                itemElement.css({ "text-align": "left", "border-bottom": "1px solid #2fc1d8" });
                if (itemIndex > 0) {
                    itemElement.css({ "margin-top": "-40px" });
                }
                var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;'><b>" + itemData.Unvan + "</b></p>");
                rightBlock.append("<p style='line-height: 0%;font-size:11px;'>Hesap Kodu: <i>" + itemData.HesapKodu + "</i></p></div>");
                itemElement.append(rightBlock);
            }
        });



        $('#x-modal-baglanti-detay').modal("show");



    });
    $('#sample_1 tbody').on('click', '.hareket-control', function () {
        var tr = $(this).closest('tr');
        var baglanti = "";
        table
            .rows('.aa')
            .nodes()
            .to$()      // Convert to a jQuery object
            .removeClass('aa');
        tr.addClass("aa");
        var x = table.rows('.aa').data();
        jQuery.each(model, function (i, val) {
            if (model[i]["BaglantiNo"].toString().trim() == x[0][4]) {
                baglanti = model[i]["BaglantiNo"];
            }
        });
        $.ajax({
            type: 'POST',
            url: '/Reports/Financial/SatBagHareketListesiSelect',
            data: { "listeNo": baglanti},
            dataType: "html",
            success: function (data) {
                $('#x-modal-cari-detay-cek').modal("show");
                var result = JSON.parse(data);
                var columns = [

                    { caption: 'Fiyat Listesi', dataField: 'SozlesmeNo' },
                    { caption: 'Evrak No', dataField: 'EvrakNo' },
                    {
                        caption: 'Tarih', dataField: 'Tarih',
                        customizeText: function (cellInfo) {
                            if (cellInfo.value != null) return formatDateFromJson(cellInfo.value); else return "";
                        }
                    },
                    { caption: 'Kaynak Sipariş No', dataField: 'KaynakSiparisNo' },
                    {
                        caption: 'Tarih', dataField: 'KaynakSiparisTarih',
                        customizeText: function (cellInfo) {
                            if (cellInfo.value != null) return formatDateFromJson(cellInfo.value); else return "";
                        }
                    },
                    { caption: 'Fiyat Liste Numarası', dataField: 'FytListeNo' },
                    { caption: 'Depo', dataField: 'Depo' },
                    { caption: 'MalKodu', dataField: 'MalKodu', format: 'fixedPoint', precision: 5 },
                    { caption: 'Miktar', dataField: 'Miktar', format: 'fixedPoint', precision: 5 },
                    { caption: 'Birim', dataField: 'Birim', format: 'fixedPoint', precision: 5 },
                    { caption: 'Birim Fiyat', dataField: 'BirimFiyat', format: 'fixedPoint', precision: 5 },
                    { caption: 'Tutar', dataField: 'Tutar', format: 'fixedPoint', precision: 5 },
                    { caption: 'Toplam İskonto', dataField: 'ToplamIskonto', format: 'fixedPoint', precision: 5 },
                    { caption: 'KDV Oran', dataField: 'KDVOran', format: 'fixedPoint', precision: 5 },
                    { caption: 'KDV', dataField: 'KDV', format: 'fixedPoint', precision: 5 },
                    { caption: 'Sevkedilen Tutar', dataField: 'SevkedilenTutar', format: 'fixedPoint', precision: 5 }
                ];
                _grid_quotations_detail = $('.satis_baglanti_hareket_data').dxDataGrid({
                    dataSource: result,
                    height: 400,
                    paging: { pageSize: 5000 },
                    columns: columns,
                    headerFilter: {
                        visible: true
                    },
                    popupDetailedWindow: true,
                    columnAutoWidth: true,
                    pagingCounter: true,
                    filterRow: {
                        visible: true,
                        applyFilter: 'auto',
                        applyFilterText: 'Apply filter',
                        resetOperationText: 'Reset'
                    },
                    scrolling: {
                        scrollByContent: true,
                        scrollByThumb: true
                    },
                    allowColumnReordering: true,
                    allowColumnResizing: true,
                    remoteOperations: true,
                    showRowLines: true,
                    hoverStateEnabled: true,
                    rowAlternationEnabled: false,
                    sorting: {
                        mode: "multiple",
                    },

                    onRowClick: function (opt) {
                        if (opt.rowType == "data") {
                            var component = opt.component;
                            var prevClickTime = component.lastClickTime;//take last clicked time
                            component.lastClickTime = new Date();
                            if (prevClickTime && (component.lastClickTime - prevClickTime < 300)) {//check their difference, if less than 300  it is a double click
                                //PartialView("/Approval/PartialTeminatTanim", 'teminat_tanim_data', JSON.stringify({ chk: opt.data.HesapKodu }));
                            }
                        }
                    },
                    onCellPrepared: function (info) {
                        if (info.rowType == "data") {
                            if (info.column.dataField == "Tarih" && info.value == "VadeTarih") {
                                info.cellElement.css({ "background-color": "#ea3d75", "color": "white" });
                            }
                        }
                    }
                }).dxDataGrid("instance");
            }
        });


    });
    setTimeout(function () { $("td").removeClass('sorting_1'); }, 0);
    $('#sample_1').on('draw.dt', function () {
        setTimeout(function () { $("td").removeClass('sorting_1'); }, 0);
    });

    $(document).ready(function () {

        $('.buttons-pdf').removeClass('btn btn-default');
        $('.buttons-excel').removeClass('btn btn-default');
    });

</script>


