@model List<HDF>
<div class="col-md-12" style="width:100%;">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Ürün Grup Tanımları Kartı Listesi
            </div>
            <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-condensed" id="sample_1">
                <thead>
                    <tr>
                        <th style="display:none">ID</th>
                        <th>Bolge</th>
                        <th>Temsilci</th>
                        <th>Ürün Grup</th>
                        <th>Hedef</th>
                        <th>Tarih</th>
                        <th>Duzenle/Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td nowrap style="display:none">@item.ID</td>
                        <td nowrap>@item.BOLGE</td>
                        <td nowrap>@item.TEMSILCI</td>
                        <td nowrap>@item.URUNGRUP</td>
                        <td nowrap>@Convert.ToDecimal(item.HEDEF).ToBinlikAyrac()</td>
                        <td nowrap>@item.AYYIL</td>
                        <td nowrap>
                            <a class="btn btn-default" href="javascript:;" onclick="TmzGunc('@item.ID')">Düzenle</a>
                            <a class="btn btn-danger" href="javascript:;" onclick="Delete('@item.ID','/Reports/Financial/UrunGrupTanimlariKarti','liste','')">Sil</a>
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot><tr>
                    <th style="display:none"></th>
                    <th colspan="6"></th>
                    </tr></tfoot>
                <tfoot class="tf-search">
                    <tr>
                        <th style="display:none"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "pagingType": "full_numbers",
            "ordering": true,
            "pageLength": 50,
            "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [3] }, { "className": "dt-center", "targets": "_all" }]
        });
        $("#buttons").html("");
        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
            ]
        }).container().appendTo($('#buttons'));
        $('#sample_1 .tf-search th').each(function () {
            var title = $('#sample_1 thead th').eq($(this).index()).text();
            if (title != "" && title.indexOf("Tarih") !== -1)
                $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
            else if (title != "" && title != "Detay" && title != "Hareket")
                $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
        });
        $("#sample_1 tfoot input").on('keyup change', function () { table.column($(this).parent().index() + ':visible').search(this.value).draw(); });
        $('#sample_1 .tf-search tr').insertAfter($('#sample_1 thead tr'))
    });
</script>
