@model List<RaporVadesiGelmemisCekler>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<div class="col-md-12" style="width:100%;">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Vadesi Gelmemiş Çekler
            </div>
            <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>


        </div>

        <div class="portlet-body">
            <div class="row" style="margin-bottom:5px;margin-left:5px;">
                <div class="col-md-6">

                    <div id="buttons"></div>

                </div>
            </div>

            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th>Evrak No</th>
                        <th>Hesap Kodu</th>
                        <th>Unvan</th>
                        <th>Tutar</th>
                        <th>Tarih</th>
                        <th>Vade Tarihi</th>
                        <th>Verildiği Yer</th>
                        <th>Verildiği Yer Ünvan</th>
                        <th>Çeki Düzenleyen</th>


                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="3"></th>
                        <th class="pull-right"></th>
                        <th colspan="5"></th>
                    
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td nowrap>@item.EvrakNo</td>
                            <td nowrap>@item.CHK</td>
                            <td nowrap>@item.Unvan</td>
                            <td nowrap align="right">@item.Tutar.ToDecimal().ToOnFormat()</td>
                            <td nowrap>@item.Tarih</td>
                            <td nowrap>@item.VadeTarih</td>
                            <td nowrap>@item.VerildigiYer</td>
                            <td nowrap>@item.VerildigiYerUnvan</td>
                            <td nowrap>@item.CekiDuzenleyen</td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var model =  @Html.Raw(serializer.Serialize(Model));
        var Tutar = 0;
        jQuery.each(model, function (i, val) {
            Tutar += val.Tutar;
        });
        var table123 = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation

                // Update footer
                $(api.column(3).footer()).html(
                    ondalikBinlik(Math.round(Tutar * 100) / 100, 2)
                );
            }
        });
        var buttons = new $.fn.dataTable.Buttons(table123, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs;' }
            ]
        }).container().appendTo($('#buttons'));
    });
    $(document).ready(function () {
        $('.buttons-pdf').removeClass('btn btn-default');
        $('.buttons-excel').removeClass('btn btn-default');
    });
</script>