@model IEnumerable<Olcu>
@{
    ViewBag.Title = "Boyut Kartı işlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string tmp = ViewBag.Sirket;
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
}<h3 class="page-title">Boyut İşlemleri</h3>
<div class="row">
    <div class="col-md-12">
        <div id="CreateEdit">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Liste
                    </div>
             </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div id="liste">
                            <p><a class="btn btn-default green" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Size/Create')"> Yeni Ekle </a></p>
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead><tr><th>Mal Kodu</th><th>Mal Adı</th><th>Birim</th><th>En x Boy x Derinlik</th><th>Hacim</th><th>Ağırlık</th><th></th></tr></thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.MalKodu)</td>
                                            <td>@item.MalKodu.GetMalAdi(tmp)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Birim)</td>
                                            <td align="right">@String.Format("{0:n}", item.En) x @String.Format("{0:n}", item.Boy) x @String.Format("{0:n}", item.Derinlik) mm<sup>3</sup></td>
                                            <td align="right">@String.Format("{0:n}", item.Hacim) mm<sup>3</sup></td>
                                            <td align="right">@Html.DisplayFor(modelItem => item.Agirlik) kg</td>
                                            <td>
                                                <a class="btn btn-default input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Size/Edit/@item.ID')"> Düzenle </a>
                                                <a class="btn btn-danger input-circle" href="javascript:;" onclick="Delete('@item.ID','/Size/List','liste','')"> Sil </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/Content/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="~/Content/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="~/Content/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script>
    $(document).ready(function () { $('#sample_1').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } }); });
    var DeleteFunctionUrl = '@Url.Action("Delete", "Size")';
</script>
}