@model Koridor
@{
    ViewBag.Title = "Koridor Kartı işlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
}<h3 class="page-title">Koridor İşlemleri</h3>
<div class="row">
    <div class="col-md-12">
        <div class="row" id="CreateEdit">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Koridor Ekle
                        </div>
                    </div>
                    <div class="portlet-body form">
                        @using (Ajax.BeginForm("CorridorOperation", "Corridor", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "CorridorFrom", OnSuccess = "CorridorReturn" }, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(a => a.ID)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Depo</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control input-circle DepoID", required = "required" })
                                        <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Koridor</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(a => a.KoridorAd, new { @class = "form-control input-circle", @placeholder = "Koridor", required = "required" })
                                        <span class="field-validation-valid" data-valmsg-for="KoridorAd" data-valmsg-replace="true" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sıra</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(a => a.SiraNo, new { @id = "touchspin_11", @class = "form-control", required = "required" })
                                        <span class="field-validation-valid" data-valmsg-for="SiraNo" data-valmsg-replace="true" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Durum</label>
                                    <div class="col-md-4">
                                        @Html.CheckBoxFor(a => a.Aktif, new { @checked = Model.Aktif ? "checked" : string.Empty, @class = "make-switch", @data_size = "normal", @data_on_color = "success", @data_off_text = "Pasif", @data_on_text = "Aktif", @data_off_color = "danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-circle green">@(Model.ID > 0 ? "Düzenle" : "Ekle")</button>
                                        <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="CreateEdit('0')">Temizle</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Koridor Listesi
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <label class="col-sm-1">
                                    <label style="color:#32c5d2;">Durum</label>
                                </label>
                                <label class="col-sm-1 radio-inline">
                                    <input type="radio" name="Locked" value="Locked" /> Aktif
                                </label>
                                <label class="col-sm-1 radio-inline">
                                    <input type="radio" name="Locked" value="noLocked" /> Pasif
                                </label>
                                <label class="col-sm-1 radio-inline">
                                    <input type="radio" name="Locked" value="All" checked /> Tümü
                                </label>
                                <div class="col-sm-1 col-sm-offset-4" style="color:#32c5d2;">Depo</div>
                                <label class="col-sm-2">                                    
                                    @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control input-circle StoreListi DepoID", required = "required" })
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="CorridorGrid" style="padding:8px;margin-top:30px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="@Url.Content("~/Content/assets/global/plugins/fuelux/js/spinner.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js")" type="text/javascript"></script>
<script src="~/Content/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
    var CorridorGridUrl = '@Url.Action("CorridorGridPartial", "Corridor")';
    var CorridorDetailUrl = '@Url.Action("CorridorDetailPartial", "Corridor")';
    var DeleteFunctionUrl = '@Url.Action("Delete", "Corridor")';
    $(document).ready(function () {
        $(".make-switch").bootstrapSwitch(); $("input[name='Aktif']").val(true);
        $('.make-switch').on('switchChange.bootstrapSwitch', function (event, state) { $("input[name='Aktif']").val(state) });
        @if (Model.Aktif == false) {<text> $(".make-switch").bootstrapSwitch('state', true); $("input[name='Aktif']").val(true); </text>}
        $("#touchspin_11").TouchSpin({ buttondown_class: "btn blue", buttonup_class: "btn red" });
        $(".DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $(".DepoID")[0].selectedIndex = 0; $(".DepoID")[1].selectedIndex = 0;
        $('[name="Locked"]').click(function () { FuncSearchBtn(); });
        $('.StoreListi').on('change', function () { FuncSearchBtn(); })
    });
    function FuncSearchBtn() {
        var Type = $("input[type='radio'][name='Locked']:checked").val();
        var StoreId = $(".StoreListi option:selected").val(); if (StoreId == null) StoreId = 0;
        $('#CorridorGrid').html("");
        PartialView(CorridorGridUrl, 'CorridorGrid', JSON.stringify({ Id: (Type + "#" + StoreId) }));
    }
    function CorridorReturn(Data) {
        FuncSearchBtn();
        if (Data.Status == false) Modaldialog(Data.Message, "Hata", "Tamam", "btn-warning");
        CreateEdit('0');
    }
    function CreateEdit(Id) {
        if (Id == 0) {
            $("#ID").val("0");
            $("#KoridorAd").val("");
        }
        else
            PartialView(CorridorDetailUrl, 'CreateEdit', JSON.stringify({ Id: Id == null ? '' : Id }));
    }
</script>
}