@model ProjeForm

@{
    ViewBag.Title = "Cek Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ProjeForm</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Proje)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Proje)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Form)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Form)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sorumlu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sorumlu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KarsiSorumlu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KarsiSorumlu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Aciklama)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Aciklama)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MesaiKontrol)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MesaiKontrol)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MesaiKota)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MesaiKota)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Durum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Durum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Kaydeden)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Kaydeden)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KayitTarih)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KayitTarih)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Degistiren)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Degistiren)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DegisTarih)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DegisTarih)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.DisplayNameFor(model => model.Musteri.Firma) |
        @Html.DisplayFor(model => model.Musteri.Firma)
    </p>
</body>
</html>
