@model IEnumerable<frmCableStok>
@{ string tmp; List<string> Sirket = ViewBag.Sirket; var malkod = new List<String>(); var malad = new List<String>(); }
<table class="table table-striped table-bordered" id="sample_1">
    <thead>
        <tr>
            <th>Yer<br /><input class="w-50 input-circle" type="text" id="Yer" /></th>
            <th>Mal Kodu<br /><input class="w-50 input-circle" type="text" id="MalKodu" /></th>
            <th>Mal Adı<br /><input class="w-50 input-circle" type="text" id="MalAdi" /></th>
            <th>Marka<br /><input class="w-50 input-circle" type="text" id="Marka" /></th>
            <th>Cins<br /><input class="w-50 input-circle" type="text" id="Cins" /></th>
            <th>Kesit<br /><input class="w-50 input-circle" type="text" id="Kesit" /></th>
            <th>Renk<br /><input class="w-50 input-circle" type="text" id="Renk" /></th>
            <th>Birim</th>
            <th class="text-right">Miktar<br /><input class="w-50 input-circle" type="text" id="Miktar" /></th>
            <th>Makara No<br /><input class="w-50 input-circle" type="text" id="MakaraNo" /></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (malkod.Contains(item.MalKodu) == false)
            {
                tmp = item.MalKodu.GetMalAdi(Sirket[0]);
                if (tmp == null || tmp == "") { tmp = item.MalKodu.GetMalAdi(Sirket[1]); }
                malkod.Add(item.MalKodu);
                malad.Add(tmp);
            }
            else
            {
                tmp = malad[malkod.IndexOf(item.MalKodu)];
            }
            <tr>
                <td>@item.HucreAd</td>
                <td>@item.MalKodu</td>
                <td>@tmp</td>
                <td>@item.marka</td>
                <td>@item.cins</td>
                <td>@item.kesit</td>
                <td>@item.renk</td>
                <td>@item.Birim</td>
                <td align="right">@String.Format("{0:n}", item.Miktar)</td>
                <td>@item.MakaraNo</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers",
            "ordering": false,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "dom": 'Bfrtip',
            "buttons": [
                { "extend": 'pdf', "text": '<span class="glyphicon glyphicon-file">PDF</span>', "className": 'btn btn-default btn-xs' },
                { "extend": 'excel', "text": '<span class="glyphicon glyphicon-pencil">XLS</span>', "className": 'btn btn-default btn-xs' }
            ]
        });
        $("#Yer").on("change paste keyup", function () { filter(table, 0, $("#Yer").val()); });
        $("#MalKodu").on("change paste keyup", function () { filter(table, 1, $("#MalKodu").val()); });
        $("#MalAdi").on("change paste keyup", function () { filter(table, 2, $("#MalAdi").val()); });
        $("#Marka").on("change paste keyup", function () { filter(table, 3, $("#Marka").val()); });
        $("#Cins").on("change paste keyup", function () { filter(table, 4, $("#Cins").val()); });
        $("#Kesit").on("change paste keyup", function () { filter(table, 5, $("#Kesit").val()); });
        $("#Renk").on("change paste keyup", function () { filter(table, 6, $("#Renk").val()); });
        $("#Saat").on("change paste keyup", function () { filter(table, 8, $("#Miktar").val()); });
        $("#MakaraNo").on("change paste keyup", function () { filter(table, 9, $("#MakaraNo").val()); });
    });
</script>