@model IEnumerable<frmStokdetail>
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-body">
                    <h3>İrsaliye Ayrıntı</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-condensed">
                                <thead><tr><th>İşlem Türü</th><th>Evrak No</th><th>Hesap Kodu</th><th>Ünvan</th><th>Tarih</th></tr></thead>
                                <tbody>
                                    <tr>
                                        <td>@{if (Model.FirstOrDefault().IslemTur == false) {<text>Giriş</text>} else {<text>Çıkış </text>}} </td>
                                        <td>@Model.FirstOrDefault().EvrakNo</td>
                                        <td>@Model.FirstOrDefault().HesapKodu</td>
                                        <td>@Model.FirstOrDefault().Unvan</td>
                                        <td>@Model.FirstOrDefault().Tarih.FromOADateInt()</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <table class="table table-bordered table-condensed">
                            <thead><tr><th>Mal Kodu</th><th>Mal Adı</th><th class="text-right">Miktar</th><th>Birim</th></tr></thead>
                            <tbody>@foreach (var item in Model) {<tr><td>@item.MalKodu</td><td>@item.MalAdi</td><td align="right">@String.Format("{0:n}", item.Miktar)</td><td>@item.Birim</td></tr>}</tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
