@model IR
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-body">@*Project Details Go Here*@
                    <h4>İrsaliye Ayrıntı</h4>
                    <table class="table table-bordered table-condensed">
                        <thead><tr><th>Şirket</th><th>İşlem Türü</th><th>Evrak No</th><th>Hesap Kodu</th><th>Tarih</th></tr></thead>
                        <tbody><tr><td>@Model.SirketKod</td><td>@{if (Model.IslemTur == false) {<text>Giriş</text>}else{<text>Çıkış </text>}}</td><td>@Model.EvrakNo</td><td>@Model.HesapKodu</td><td>@Model.Tarih.FromOaDate()</td></tr></tbody>
                    </table>
                    <table>
                        <thead><tr><th>Mal Kodu</th><th>Mal Adı</th><th>Miktar</th><th>Birim</th></tr></thead>
                        <tbody>
                            @foreach (var item in Model.IRS_Detay) {<tr><td>@item.MalKodu</td><td>@item.MalKodu.GetMalAdi(Model.SirketKod)</td><td align="right">@String.Format("{0:n}", item.Miktar)</td><td>@item.Birim</td></tr>}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
