@model IEnumerable<Yer_Log>
@{decimal i = 0;}
<div class="form-group">
    <div class="col-sm-3 control-label">Güneşteki Stok</div>
    <div class="col-sm-4">
        <input class="form-control input-circle text-right" disabled="disabled" type="text" value="@String.Format("{0:n}", ViewBag.GunesStok)">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3 control-label">WMS Stok</div>
    <div class="col-sm-4">
        <input class="form-control input-circle text-right" disabled="disabled" type="text" value="@String.Format("{0:n}", ViewBag.WmsStok)">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3 control-label">Hareketlerdeki Stok</div>
    <div class="col-sm-4">
        <input class="form-control input-circle text-right" id="Stok" name="Stok" disabled="disabled" type="text" value="">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3 control-label">Rezerv Stok</div>
    <div class="col-sm-4">
        <input class="form-control input-circle text-right" disabled="disabled" type="text" value="@String.Format("{0:n}", ViewBag.WmsRezerv)">
    </div>
    <div class="col-sm-1">
        <a class="btn btn-default input-circle green" href="#modalEditPage" data-toggle="modal" onclick="editInModal2('/WMS/Stock/ReserveList', { MalKodu: $('#MalKodu').val(), DepoID: $('#DepoID').val() })"> Liste </a>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 col-sm-offset-3">
        <button class="btn btn-default btn-block btn-circle" type="button" onclick="FuncSearchBtn()">Yenile <i class="icon-refresh"></i></button>
    </div>
</div>
<div class="p-30">
    <table class="table table-striped table-bordered" id="sample_1">
        <thead>
            <tr>
                <th></th>
                <th>Girdi-Çıktı</th>
                <th>İşlem Tipi</th>
                <th>Tarih</th>
                <th>Saat</th>
                <th>Evrak No</th>
                <th>Hücre Adı</th>
                <th>Makara No</th>
                <th>Birim</th>
                <th class="text-right">Miktar</th>
                <th class="text-right">Stok</th>
            </tr>
        </thead>
        <tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
        <tfoot class="tf-search"><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@if (item.GC == true)
                    {
                        i = i - item.Miktar;<text>Çıktı</text> }
                    else
                    {
                        i = i + item.Miktar; <text>Girdi</text>}</td>
                    <td>@item.IslemTipi</td>
                    <td>@item.KayitTarihi.FromOADateInt()</td>
                    <td>@item.KayitSaati.FromOaTime()</td>
                    <td>@if (item.IR != null)
                    {<a class="btn btn-default input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/WMS/Stock/Details/@item.IR.ID')"> @item.IR.EvrakNo </a>}</td>
                    <td>@Html.DisplayFor(modelItem => item.HucreAd)</td>
                    <td>@Html.DisplayFor(modelItem => item.MakaraNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Birim)</td>
                    <td align="right">@String.Format("{0:n}", item.Miktar)</td>
                    <td align="right">@String.Format("{0:n}", i)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#Stok').val('@String.Format("{0:n}", i)');
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers",
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "dom": 'lBfrtip',
            "buttons": [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs' }
            ]
        });
        $('#sample_1 .tf-search th').each(function ()
        {
            var title = $('#sample_1 thead th').eq($(this).index()).text();
            if (title != "" && title.indexOf("Tarih") !== -1)
                $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
            else if (title != "" && title != "Detay" && title != "Hareket")
                $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
        });
        $("#sample_1 tfoot input").on('keyup change', function () { table.column($(this).parent().index() + ':visible').search(this.value).draw(); });
        table.on('order.dt search.dt', function ()
        {
            table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i)
            {
                cell.innerHTML = i + 1;
            });
        }).draw();
        //tarih
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $(".tarih").datepicker();
    });
</script>