@model IEnumerable<Yer>
@{ string tmp; List<string> Sirket = ViewBag.Sirket; var malkod = new List<String>(); var malad = new List<String>(); bool ellemi = ViewBag.Manual; }
<table class="table table-striped table-bordered" id="sample_1">
    <thead>
        <tr>
            <th>Yer<br /><input class="w-50 input-circle" type="text" id="Yer" /></th>
            <th>Mal Kodu<br /><input class="w-50 input-circle" type="text" id="sMalKodu" /></th>
            <th>Mal Adı<br /><input class="w-50 input-circle" type="text" id="sMalAdi" /></th>
            <th>Birim</th>
            <th class="text-right">Miktar<br /><input class="w-50 input-circle" type="text" id="Miktar" /></th>
            <th>Makara No<br /><input class="w-50 input-circle" type="text" id="MakaraNo" /></th>
            @{if (ellemi == true) { <th></th> } }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (malkod.Contains(item.MalKodu) == false)
            {
                tmp = item.MalKodu.GetMalAdi(Sirket[0]);
                if (tmp == null || tmp == "") { tmp = item.MalKodu.GetMalAdi(Sirket[1]); }
                malkod.Add(item.MalKodu);
                malad.Add(tmp);
            }
            else
            {
                tmp = malad[malkod.IndexOf(item.MalKodu)];
            }
            <tr>
                <td>@item.HucreAd</td>
                <td>@item.MalKodu</td>
                <td>@tmp</td>
                <td>@item.Birim</td>
                <td align="right">@String.Format("{0:n}", item.Miktar)</td>
                <td>@item.MakaraNo</td>
                @{if (ellemi == true) { <td><a class="btn btn-default btn-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/WMS/Stock/ManualNewPlace/@item.ID')"> Değiştir </a></td> } }
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers",
            "ordering": false,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "dom": 'Bfrtip',
            "buttons": [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs' }
            ]
        });
        $("#Yer").on("change paste keyup", function () { filter(table, 0, $("#Yer").val()); });
        $("#sMalKodu").on("change paste keyup", function () { filter(table, 1, $("#sMalKodu").val()); });
        $("#sMalAdi").on("change paste keyup", function () { filter(table, 2, $("#sMalAdi").val()); });
        $("#Miktar").on("change paste keyup", function () { filter(table, 4, $("#Miktar").val()); });
        $("#MakaraNo").on("change paste keyup", function () { filter(table, 5, $("#MakaraNo").val()); });
    });
</script>