@model List<Wms12m.Entity.Models.GorevListesi>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th> Depo</th>
            <th> Görev No</th>
            <th> Görev Tipi</th>
            <th> Durum </th>
            <th> Görevli </th>
            <th> Atayan </th>
            <th> Oluşturma Tarihi </th>
            <th> Atama Tarihi </th>
            <th> Bitirme Tarihi </th>
            <th> Bilgi </th>
            <th> Açıklama </th>
            <th> İşlem </th>
        </tr>
    </thead>
    <tbody id="StoreFrom">
        @*@{Html.RenderAction("NewMalzemeForm", new { id = ViewBag.IrsaliyeId });}*@
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.DepoID</td>
                <td>@item.GorevNo</td>
                <td>@item.GorevTipi</td>
                <td>@item.Durum</td>
                <td>@item.GorevliID </td>
                <td>@item.AtayanID</td>
                <td>@item.OlusturmaTarihi</td>
                <td>@item.AtamaTarihi</td>
                <td>@item.BitirmeTarihi</td>
                <td>@item.Bilgi </td>
                <td>@item.Aciklama </td>
                <td>
                    <a class="edit" href="javascript:;" onclick="CreateEdit('@item.ID')"> Düzenle </a>
                    <a class="edit" href="javascript:;" onclick="Delete('@item.ID','/Gorev/GorevGridPartial','GorevGrid','0')"> Sil </a>
                </td>
            </tr>
        }
    </tbody>
</table>