@model List<GorevListesi>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th> Depo</th>
            <th> EvrakNo</th>
            <th> Görev No</th>
            <th> Görev Tipi</th>
            <th> Durum </th>
            <th> Görevli </th>
            <th> Oluşturma Tarihi </th>
            <th> Atama Tarihi </th>
            <th> Bitirme Tarihi </th>
            <th> Bilgi </th>
            <th> Açıklama </th>
            <th> İşlem </th>
        </tr>
    </thead>
    <tbody id="GorevFrom">
        @*@{Html.RenderAction("NewMalzemeForm", new { id = ViewBag.IrsaliyeId });}*@
        @foreach (var item in Model)
        {
            <tr ondblclick="tiklama('@item.IrsaliyeID')">
                <td>@item.TK_DEP.DepoAdi</td>
                <td>@item.IR.EvrakNo</td>
                <td>@item.GorevNo</td>
                <td>@item.ComboItemName.ItemName</td>
                <td>@item.ComboItemName1.ItemName</td>
                <td>@{if(item.USR01!=null) { @item.USR01.UserName}} </td>
                <td>@DateTime.FromOADate(item.OlusturmaTarihi).ToShortDateString()</td>
                <td>@DateTime.FromOADate(item.AtamaTarihi.Value).ToShortDateString()</td>
                <td>@DateTime.FromOADate(item.BitirmeTarihi.Value).ToShortDateString()</td>
                @*<td>@item.OlusturmaTarihi</td>
                <td>@item.AtamaTarihi</td>
                <td>@item.BitirmeTarihi</td>*@
                <td>@item.Bilgi </td>
                <td>@item.Aciklama </td>
                <td>
                    <a class="edit" href="javascript:;" onclick="CreateEdit('@item.ID')"> Düzenle </a>
                    <a class="edit" href="javascript:;" onclick="Delete('@item.ID','/Gorev/GorevGridPartial','GorevGrid','0')"> Sil </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $("#CreateEdit").hide();
    function tiklama(id)
    {
        window.location.href = '/MalKabul/Index?IrsNo=' + id;
    }
</script>