@model List<GorevListesi>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Depo</th>
            <th>EvrakNo</th>
            <th>Görev No</th>
            <th>Görev Tipi</th>
            <th>Durum</th>
            <th>Görevli</th>
            <th>Oluşturma Tarihi</th>
            <th>Atama Tarihi</th>
            <th>Bitirme Tarihi</th>
            <th>Bilgi</th>
            <th>Açıklama</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody id="GorevFrom">
        @foreach (var item in Model)
        {
            <tr ondblclick="tiklama('@item.IrsaliyeID')">
                <td>@item.TK_DEP.Depo</td>
                <td>@item.WMS_IRS.EvrakNo</td>
                <td>@item.GorevNo</td>
                <td>@item.ComboItemName.ItemName</td>
                <td>@item.ComboItemName1.ItemName</td>
                <td>@{if (item.USR011 != null) { @item.USR011.AdSoyad}} </td>
                <td>@DateTime.FromOADate(item.OlusturmaTarihi).ToShortDateString()</td>
                <td>@{if (item.AtamaTarihi != null) { @DateTime.FromOADate(item.AtamaTarihi.Value).ToShortDateString()} }</td>
                <td>@{if (item.BitisTarihi != null) { @DateTime.FromOADate(item.BitisTarihi.Value).ToShortDateString()}}</td>
                <td>@item.Bilgi </td>
                <td>@item.Aciklama </td>
                <td>
                    <a class="btn btn-default" href="javascript:;" onclick="CreateEdit('@item.ID')"> Düzenle </a>
                    <a class="btn btn-default" href="javascript:;"> Görevli Ata </a>
                    <a class="btn btn-danger" href="javascript:;" onclick="Delete('@item.ID','/Gorev/GorevGridPartial','GorevGrid','0')"> Sil </a>
                </td>
            </tr>
        }
    </tbody>
</table>