@model Gorev
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-body">@*Project Details Go Here*@
                    <h4>Ayrıntılar</h4><hr />
                    <dl class="dl-horizontal">
                        <dt>Depo</dt><dd>@Html.DisplayFor(model => model.Depo.DepoAd)</dd>
                        <dt>Görev No</dt><dd>@Html.DisplayFor(model => model.GorevNo)</dd>
                        <dt>Görev Tipi</dt><dd>@Html.DisplayFor(model => model.ComboItem_Name.Name)</dd>
                        <dt>Durum</dt><dd>@Html.DisplayFor(model => model.ComboItem_Name1.Name)</dd>
                        <dt>Görevli</dt><dd>@Html.DisplayFor(model => model.User.AdSoyad)</dd>
                        <dt>Bilgi</dt><dd>@Html.DisplayFor(model => model.Bilgi)</dd>
                        <dt>Açıklama</dt><dd>@Html.DisplayFor(model => model.Aciklama)</dd>
                        <dt>Oluşturan</dt><dd>@Html.DisplayFor(model => model.User1.AdSoyad)</dd>
                        <dt>Oluşturma Tarihi</dt><dd>@Html.DisplayFor(model => model.OlusturmaTarihi)</dd>
                        <dt>Oluşturma Saati</dt><dd>@Html.DisplayFor(model => model.OlusturmaSaati)</dd>
                        <dt>Atayan</dt><dd>@Html.DisplayFor(model => model.User2.AdSoyad)</dd>
                        <dt>Atama Tarihi</dt><dd>@Html.DisplayFor(model => model.AtamaTarihi)</dd>
                        <dt>Bitiş Tarihi</dt><dd>@Html.DisplayFor(model => model.BitisTarihi)</dd>
                        <dt>Bitiş Saati</dt><dd>@Html.DisplayFor(model => model.BitisSaati)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>