@model List<GorevListesi>
@{
    ViewBag.Title = "Gorev Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="page-title">Görev İşlemleri</h3>
<div class="row">
    <div class="col-md-12">
        <div id="CreateEdit"></div>
        <div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Görev Listesi
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="GorevGrid" style="padding:10px;margin-top:18px;">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Depo</th>
                                    <th>EvrakNo</th>
                                    <th>Görev No</th>
                                    <th>Görev Tipi</th>
                                    <th>Durum</th>
                                    <th>Görevli</th>
                                    <th>Oluşturma Tarihi</th>
                                    <th>Atama Tarihi</th>
                                    <th>Bitirme Tarihi</th>
                                    <th>Bilgi</th>
                                    <th>Açıklama</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody id="GorevFrom">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.TK_DEP.Depo</td>
                                        <td>@item.WMS_IRS.EvrakNo</td>
                                        <td>@item.GorevNo</td>
                                        <td>@item.ComboItemName.ItemName</td>
                                        <td>@item.ComboItemName1.ItemName</td>
                                        <td>
                                            <a class="btn btn-default input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Gorev/GorevliAta/@item.ID')"> @{if (item.USR011 != null){ @item.USR011.AdSoyad} else {<text>Görevli Ata</text>}} </a>
                                            
                                        </td>
                                        <td>@DateTime.FromOADate(item.OlusturmaTarihi).ToShortDateString()</td>
                                        <td>@{if (item.AtamaTarihi != null) { @DateTime.FromOADate(item.AtamaTarihi.Value).ToShortDateString()} }</td>
                                        <td>@{if (item.BitisTarihi != null) { @DateTime.FromOADate(item.BitisTarihi.Value).ToShortDateString()}}</td>
                                        <td>@item.Bilgi </td>
                                        <td>@item.Aciklama </td>
                                        <td>
                                            <a class="btn btn-default input-circle" href="javascript:;" onclick="CreateEdit('@item.ID')"> Düzenle </a>
                                            <a class="btn btn-danger input-circle" href="javascript:;" onclick="Delete('@item.ID','/Gorev/GorevGridPartial','GorevGrid','0')"> Sil </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var GorevGridUrl = '@Url.Action("GorevGridPartial", "Gorev")';
        var GorevDetailUrl = '@Url.Action("GorevDetailPartial", "Gorev")';
        var DeleteFunctionUrl = '@Url.Action("Delete", "Gorev")';
        function ShelfReturn(Data) {
            CreateEdit('0');
        }
        function CreateEdit(Id) {
            PartialView(GorevDetailUrl, 'CreateEdit', JSON.stringify({ Id: Id == null ? '' : Id }));
            $("#CreateEdit").show();
        }
        function DuzenleIptal() {
            $("#CreateEdit").hide();
        }
        function InsertRefresh() {
            PartialView(ShelfDetailUrl, "CreateEdit", '0');
        }
    
    </script>
}