@{
    ViewBag.Title = "Satıştan İade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
        td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
        tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
        .ui-autocomplete {max-height: 200px;overflow-y: auto;overflow-x: hidden;padding-right: 20px;}
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Satıştan İade</span></li></ul></div>
<h1 class="page-title">Satıştan İade</h1>
<div class="row">
    <div class="col-md-12">
        <div class="mt-element-step">
            <div class="row step-line">
                <div class="col-md-3 col-md-offset-1 mt-step-col first active">
                    <div class="mt-step-number bg-white">1</div>
                    <div class="mt-step-title uppercase font-grey-cascade">MÜŞTERİ SEÇİMİ</div>
                    <div class="mt-step-content font-grey-cascade">Müşteri ve Tarih Seçin</div>
                </div>
                <div class="col-md-3 mt-step-col">
                    <div class="mt-step-number bg-white">2</div>
                    <div class="mt-step-title uppercase font-grey-cascade">EVRAK SEÇİMİ</div>
                    <div class="mt-step-content font-grey-cascade">Bir Evrak Seçin</div>
                </div>
                <div class="col-md-3 mt-step-col last">
                    <div class="mt-step-number bg-white">3</div>
                    <div class="mt-step-title uppercase font-grey-cascade">ONAY</div>
                    <div class="mt-step-content font-grey-cascade">Onaylayın</div>
                </div>
            </div>
        </div>
        <div class="portlet box green m-t-30">
            <div class="portlet-title"><div class="caption"><i class="fa fa-gift"></i>Müşteri Seçimi</div></div>
            <div class="portlet-body form">
                @using (Html.BeginForm("Step2", "ReturnSale", new { area = "WMS" }, FormMethod.Post, new { @class = "form-horizontal", @id = "frmReturnSale" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-body">
                        @*<div class="form-group">
                            <label class="col-md-3 control-label">Şirket</label>
                            <div class="col-md-4">
                                @Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control input-circle", required = "required", @onchange = "sirketKod()" })
                                <span class="field-validation-valid" data-valmsg-for="SirketID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-md-3 control-label">Depo</label>
                            <div class="col-md-4">
                                @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control input-circle" })
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Hesap Kodu</label>
                            <div class="col-md-4">
                                <input class="form-control input-circle" type="text" id="txtHesap" name="CHK" required = "required" />
                                <span class="field-validation-valid" data-valmsg-for="CHK" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Ünvan</label>
                            <div class="col-md-4">
                                <input class="form-control input-circle" type="text" id="txtUnvan" name="Unvan" />
                                <span class="field-validation-valid" data-valmsg-for="Unvan" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Evrak No</label>
                            <div class="col-md-4">
                                <input class="form-control input-circle" type="text" id="txtEvrakNo" name="EvrakNo" required = "required" />
                                <span class="field-validation-valid" data-valmsg-for="EvrakNo" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Evrak Tarihi</label>
                            <div class="col-md-4">
                                <input type="text" name="Tarih" id="Tarih" class="form-control input-circle daters dateboxbg" value="@DateTime.Today.ToString("dd.MM.yyyy")" />
                                <span class="field-validation-valid" data-valmsg-for="Tarih" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Başlangıç Tarihi</label>
                            <div class="col-md-4">
                                <input type="text" name="Starts" id="Starts" class="form-control input-circle daters dateboxbg" value="@DateTime.Today.AddDays(-7).ToString("dd.MM.yyyy")" />
                                <span class="field-validation-valid" data-valmsg-for="Starts" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Bitiş Tarihi</label>
                            <div class="col-md-4">
                                <input type="text" name="Ends" id="Ends" class="form-control input-circle daters dateboxbg" value="@DateTime.Today.ToString("dd.MM.yyyy")" />
                                <span class="field-validation-valid" data-valmsg-for="Ends" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-3">
                                <button type="button" class="btn btn-circle green btn-block" onclick="FuncSearchBtn();"><i class="icon-refresh"></i> Ara</button>
                            </div>
                        </div>
                        <div class="form-group p-l-30 p-r-30" id="liste"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    $("#DepoID").prepend("<option value=''>Seçiniz !!!</option>");
    $.datepicker.setDefaults($.datepicker.regional["tr"]);
    $(".daters").datepicker();
    $("#txtHesap").autocomplete({
        source: "/WMS/Purchase/GetChkKod",
        minLength: 2,
        scroll: true,
        select: function (event, ui) {
            setTimeout(function () { $("#txtHesap").val(ui.item.id); $("#txtUnvan").val(ui.item.label); checkEnabled(); }, 50);
        }
    });
    $("#txtUnvan").autocomplete({
        source: "/WMS/Purchase/GetChkUnvan",
        minLength: 2,
        scroll: true,
        select: function (event, ui) {
            setTimeout(function () { $("#txtHesap").val(ui.item.id); $("#txtUnvan").val(ui.item.label); checkEnabled(); }, 50);
        }
    });
    CreateNew(0);
    //function sirketKod() {
    //    if ($("#SirketID").val() != "") {
    //        $("#txtHesap").attr("disabled", false);
    //        $("#txtUnvan").attr("disabled", false);
    //        $("#txtHesap").autocomplete({
    //            source: "/WMS/Purchase/GetChkKod",
    //            minLength: 2,
    //            scroll: true,
    //            select: function (event, ui) {
    //                setTimeout(function () { $("#txtHesap").val(ui.item.id); $("#txtUnvan").val(ui.item.label); checkEnabled(); }, 50);
    //            }
    //        });
    //        $("#txtUnvan").autocomplete({
    //            source: "/WMS/Purchase/GetChkUnvan",
    //            minLength: 2,
    //            scroll: true,
    //            select: function (event, ui) {
    //                setTimeout(function () { $("#txtHesap").val(ui.item.id); $("#txtUnvan").val(ui.item.label); checkEnabled(); }, 50);
    //            }
    //        });
    //    }
    //    else {
    //        $("#txtHesap").attr("disabled", true);
    //        $("#txtUnvan").attr("disabled", true);
    //    }
    //}
    function CreateNew(ix) {
        if (ix == 0)
        {
            $("#DepoID")[0].selectedIndex = 0;
        }
    }
    function FuncSearchBtn() {
        $("#liste").html("");
        if ($('#Starts').val() == "" || $('#Ends').val() == "" || $("#txtEvrakNo").val() == "" || $("#Tarih").val() == "") return;
        $.ajax({
            type: 'POST',
            url: "/WMS/ReturnSale/GetSiparis/",
            data: {DepoID: $('#DepoID').val(), CHK: $("#txtHesap").val(), Starts: $("#Starts").val(), Ends: $("#Ends").val(), EvrakNo: $("#txtEvrakNo").val(), Tarih: $("#Tarih").val() },
            dataType: "html",
            success: function (data) {
                if (data == "") { Modaldialog("Lütfen Tekrar Deneyin", "Hata", "Tamam", "btn-danger"); }
                else
                {
                    $("#liste").html(data);
                    $('html, body').animate({ scrollTop: $('#liste').offset().top }, 'slow');
                }
            },
            error: function (data) {
                Modaldialog("Lütfen Tekrar Deneyin", "Hata", "Tamam", "btn-danger");
            }
        });
    }
</script>}
