@model IEnumerable<Message>
@{
    ViewBag.Title = "Bildirimler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notifications</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kimden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mesaj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kimden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mesaj)
        </td>
        <td>
        </td>
    </tr>
}

</table>
