@model IEnumerable<Musteri>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Müşteri Listesi
        </div>
    </div>
    <div class="portlet-body form p-40">
        <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead><tr><th>Firma</th><th>Ünvan</th><th>Açıklama</th><th>Email</th><th>Mesai Kota</th><th>Proje Sayısı</th><th></th></tr></thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Firma</td>
                        <td>@item.Unvan</td>
                        <td>@item.Aciklama</td>
                        <td>@item.Email</td>
                        <td>@if (item.MesaiKontrol == true) { @item.MesaiKota } else { @("-"); }</td>
                        <td>@item.ProjeForms.Where(m => m.PID == null).ToList().Count</td>
                        <td>
                            <a class="btn btn-default" href="javascript:;" onclick="CreateEdit('@item.ID')"> Düzenle </a>
                            <a class="btn btn-danger" href="javascript:;" onclick="Delete('@item.ID','/ToDo/Customer/List','liste','')"> Sil </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>$(document).ready(function () {$('#sample_1').DataTable({ "pagingType": "full_numbers", "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } });});</script>
