@model CRM_TeklifAnaliz_Detay_Result
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeklifSahibi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Musteri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KONU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TARIH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GECERLILIKTARIHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToplamTeklifTutari)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeklifSahibi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Musteri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KONU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TARIH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GECERLILIKTARIHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToplamTeklifTutari)
        </td>
    </tr>
</table>
