@model IEnumerable<CRM_TeklifAnaliz_Detay_Result> 
<table class="table">
    <thead><tr><th>Ürün Kodu</th><th>Açıklama</th><th class="text-right">Brim Fiyat</th><th class="text-right">Miktar</th><th class="text-right">İskonto Oran 1</th><th class="text-right">İskonto Oran 2</th><th class="text-right">KDV Oran</th><th class="text-right">Tutar</th></tr></thead>
    <tbody>@foreach (var item in Model) { <tr><td>@item.STOKKODU</td><td>@item.ACIKLAMA</td><td align="right">@item.BIRIMFIYAT</td><td align="right">@item.Miktar</td><td align="right">@item.ISKORAN</td><td align="right">@item.ISKORAN2</td><td align="right">@item.KDVORANI</td><td align="right">@String.Format("{0:n}", item.TUTAR)</td></tr> }</tbody>
</table>
