@model IEnumerable<CRM_KurumKarti_Result>
@{
    ViewBag.Title = "Kurum Kartı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-striped table-bordered table-hover table-responsive" id="sample_1">
    <thead>
        <tr>
            <th>Kurum kodu</th>
            <th>Hesap Kodu</th>
            <th>Ünvanı</th>
            <th>Web Sayfası</th>
            <th>Email</th>
            <th>Sektör</th>
            <th>Adres</th>
            <th>Posta Kodu</th>
            <th>Ülke</th>
            <th>İl</th>
            <th>İlçe</th>
            <th>Bayi Tipi</th>
            <th>Bölge</th>
            <th>Müşteri Tipi</th>
            <th>Parke</th>
            <th>Plaka</th>
            <th>Kontraplak</th>
            <th>Tezgah</th>
            <th>Kartela</th>
            <th>Stand</th>
            <th>Filtre Kağıt</th>
            <th>Emprenyeli K.</th>
            <th>Tutkal</th>
            <th>Palet</th>
            <th>Ahşap Kiriş</th>
            <th>Kereste</th>
            <th>Ticari Mal</th>
            <th>Formaldehit</th>
            <th>Kaydeden</th>
            <th>Kayıt Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Kodu</td>
                <td>@item.CariHesapKodu</td>
                <td>@item.KisaAdi</td>
                <td>@item.WEBSAYFASI</td>
                <td>@item.EMAIL</td>
                <td>@item.Sektor</td>
                <td>@item.Adres</td>
                <td>@item.PostaKodu</td>
                <td>@item.Ulke</td>
                <td>@item.Il</td>
                <td>@item.Ilce</td>
                <td>@item.BayiTipi</td>
                <td>@item.Bolge</td>
                <td>@item.MusteriTipi</td>
                <td>@item.Parke</td>
                <td>@item.Plaka</td>
                <td>@item.Kontraplak</td>
                <td>@item.MutfakTezgahi</td>
                <td>@item.Kartela</td>
                <td>@item.Stand</td>
                <td>@item.FiltreKagit</td>
                <td>@item.EmprenyeliKagit</td>
                <td>@item.Tutkal</td>
                <td>@item.Palet</td>
                <td>@item.AhsapKiris</td>
                <td>@item.Kereste</td>
                <td>@item.TicariMal</td>
                <td>@item.Formaldehit</td>
                <td>@item.Kaydeden</td>
                <td>@item.KayitTarih</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{<script>
$(document).ready(function () {
    $('#sample_1').DataTable({
        "pagingType": "full_numbers",
        "dom": 'Bfrtip',
        "buttons": [
            { "extend": 'pdf', "text": '<span class="glyphicon glyphicon-file">PDF</span>', "className": 'btn btn-default btn-xs' },
            { "extend": 'excel', "text": '<span class="glyphicon glyphicon-pencil">XLS</span>', "className": 'btn btn-default btn-xs' }
        ],
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" }
    });
});</script>}