@model FaturaDetayData
@{
    Setting setts = ViewBag.settings;
    ViewBag.Title = "Fatura Detay";
    Layout = "~/Views/Shared/_Layout.Null.cshtml";
    int ii = 1;
}@section Styles{<link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/pages/css/invoice.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<style>
    .list-unstyled.amounts li {font-size: 9px;text-align: left;float: left;}
    .list-unstyled.genel strong {color: rgba(214, 60, 60, 0.95)}
    .invoice-payment.genel h3 {
        color: #32c5d2;
        font-weight: bold;
    }
</style>
}<div class="page-bar"></div>
<div style="padding:10px 15px;width:100%;">
    <h1 class="page-title" style="color:rgba(62, 93, 183, 0.89);font-weight:bold;">Fatura Onay<small></small></h1>
    <div class="invoice">
        <div class="row invoice-logo" style="color:#d65252">
            <div class="col-xs-6 invoice-logo-space">
                <img src="~/Content/images/@setts.LoginLogo" class="img-responsive" alt="" />
            </div>
            <div class="col-xs-6" style="color:rgba(13, 166, 191, 0.78);">
                <p>@Model.GENEL[0].EvrakNo / @Model.GENEL[0].Tarih<span class="muted">  </span></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-3 invoice-payment genel">
                <h3 style:"background-color:#32c5d2!important">Hesap Bilgilerim:</h3>
                <ul class="list-unstyled genel">
                    <li><strong>Hesap Kodu:</strong> @Model.GENEL[0].Chk</li>
                    <li><strong>Teslim Yeri Kodu:</strong> @Model.GENEL[0].TeslimYeriKodu</li>
                    <li><strong>Ünvan:</strong> @Model.GENEL[0].Unvan</li>
                    <li><strong>Evrak No:</strong> @Model.GENEL[0].EvrakNo</li>
                    <li><strong>Tarih:</strong> @Model.GENEL[0].Tarih</li>
                </ul>
            </div>
            <div class="col-xs-3 invoice-payment genel">
                <h3>İşlem Bilgileri:</h3>
                <ul class="list-unstyled genel">
                    <li><strong>İşlem Tipi:</strong> @Model.GENEL[0].IslemTip</li>
                    <li><strong>Vade Tarihi:</strong> @Model.GENEL[0].VadeTarih</li>
                    <li><strong>Döviz/TL:</strong> @Model.GENEL[0].DvzTL</li>
                    <li><strong>Döviz Cinsi:</strong> @Model.GENEL[0].DovizCinsi</li>
                    <li><strong>Döviz Kuru:</strong> @Model.GENEL[0].DovizKuru</li>
                    <li><strong>E-Fatura Tipi:</strong> @Model.GENEL[0].EFatTip</li>
                </ul>
            </div>
            <div class="col-xs-3 invoice-payment genel">
                <h3>Açıklamalar:</h3>
                <ul class="list-unstyled genel">
                    <li><strong>Açıklama:</strong> @Model.GENEL[0].Aciklama</li>
                    <li><strong>Açıklama2:</strong> @Model.GENEL[0].Aciklama2</li>
                    <li><strong>Açıklama3:</strong> @Model.GENEL[0].Aciklama3</li>
                    <li><strong>Açıklama4:</strong> @Model.GENEL[0].Aciklama4</li>
                    <li><strong>Açıklama5:</strong> @Model.GENEL[0].Aciklama5</li>
                    <li><strong>Açıklama6:</strong> @Model.GENEL[0].Aciklama6</li>
                    <li><strong>Kaydeden:</strong> @Model.GENEL[0].Kaydeden</li>
                    <li><strong>Değiştiren:</strong> @Model.GENEL[0].Degistiren</li>
                </ul>
            </div>
            <div class="col-xs-3 invoice-payment genel">
                <h3>E-İhracat Bilgileri:</h3>
                <ul class="list-unstyled genel">
                    <li><strong>Teslim Şartı:</strong> @Model.GENEL[0].TeslimSarti</li>
                    <li><strong>Gönderim Şekli:</strong> @Model.GENEL[0].GonderimSekli</li>
                    <li><strong>Brüt Kilo:</strong> @Model.GENEL[0].BrutKilo</li>
                    <li><strong>Net Kilo:</strong> @Model.GENEL[0].NetKilo</li>
                    <li><strong>Ödeme Notu:</strong> @Model.GENEL[0].OdemeNotu</li>
                    <li><strong>Ödeme Şekli:</strong> @Model.GENEL[0].OdemeSekli</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 invoice-payment genel">
                <ul class="list-unstyled genel">
                    <li><strong>Fatura Notu:</strong> @Model.GENEL[0].EFatNot</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered table-condensed" id="sample_1">
                    <thead>
                        <tr style="background-color: #32c5d2;color:rgba(247, 238, 238, 0.85);">
                            <th> # </th>
                            <th> Mal Kodu </th>
                            <th> Mal Adı </th>
                            <th> Birim </th>
                            <th> Birim Miktar </th>
                            <th> Birim Fiyat </th>
                            <th> Tutar </th>
                            <th> Depo </th>
                            <th> KDV Oranı </th>
                            <th> KDV Muafiyet Nedeni </th>
                            <th> Döviz/TL </th>
                            <th> Döviz Cinsi </th>
                            <th> Döviz Kuru </th>
                            <th> Döviz Tutar </th>
                            <th> İskonto 1 </th>
                            <th> İskonto 2 </th>
                            <th> İskonto 3 </th>
                            <th> İskonto 4 </th>
                            <th> İskonto 5 </th>
                            <th> Net Tutar </th>
                            <th> Nesne1 </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.STI)
                        {
                            <tr>
                                <td> @ii </td>
                                <td> @item.MalKodu </td>
                                <td nowrap> @item.MalAdi  </td>
                                <td> @item.Birim  </td>
                                <td align="right"> @item.BirimMiktar  </td>
                                <td align="right"> @item.BirimFiyat  </td>
                                <td align="right"> @item.Tutar  </td>
                                <td> @item.Depo  </td>
                                <td align="right"> @item.KdvOran  </td>
                                <td align="right"> @item.KdvMuafiyetNedeni  </td>
                                <td> @item.DvzTL  </td>
                                <td> @item.DovizCinsi  </td>
                                <td align="right"> @item.DovizKuru  </td>
                                <td align="right"> @item.DovizTutar  </td>
                                <td align="right"> @item.IskontoOran1  </td>
                                <td align="right"> @item.IskontoOran2  </td>
                                <td align="right"> @item.IskontoOran3  </td>
                                <td align="right"> @item.IskontoOran4  </td>
                                <td align="right"> @item.IskontoOran5  </td>
                                <td align="right"> @item.NetTutar  </td>
                                <td> @item.Nesne1  </td>
                            </tr>
                            ii++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-xs-2 col-sm-2" style="text-align:center;">
                <div class="btn btn-lg green onayla-buton" style="width:100%; margin-bottom:10px;">Onayla<i class="fa fa-check"></i></div>
                <div class="btn btn-lg red red-buton" style="width:100%; margin-bottom:10px;">Reddet<i class="fa fa-close"></i></div>
                <div class="btn btn-lg default geri-buton" style="width:100%; margin-bottom:10px;">Geri Dön<i class="fa fa-mail-reply"></i></div>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div class="row">
                    <div class="col-xs-3 col-sm-3"></div>
                    <div class="col-xs-1 col-sm-1 bold text-center">Oran</div>
                    <div class="col-xs-1 col-sm-1 bold text-center">Tutar</div>
                    <div class="col-xs-1 col-sm-1 bold text-center">Döviz/TL</div>
                    <div class="col-xs-1 col-sm-1 bold text-center">Döviz Cinsi</div>
                    <div class="col-xs-1 col-sm-1 bold text-center">Döviz Kuru</div>
                    <div class="col-xs-1 col-sm-1 bold text-center">Döviz Tutar</div>
                </div>
                @foreach (var item in Model.FTD)
                {
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 bold text-right">@item.Tip</div>
                        <div class="col-xs-1 col-sm-1 text-right">@item.IskontoOran</div>
                        <div class="col-xs-1 col-sm-1 text-right">@item.Iskonto</div>
                        <div class="col-xs-1 col-sm-1 text-right">@item.DvzTL</div>
                        <div class="col-xs-1 col-sm-1">@item.DovizCinsi</div>
                        <div class="col-xs-1 col-sm-1 text-right">@item.DovizKuru</div>
                        <div class="col-xs-1 col-sm-1 text-right">@item.DovizTutar</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="modal fade" id="x-modal-faturared" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="color:#3434cb">Fatura Onay Red</h4>
                </div>
                <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                    <div class="redNeden">
                        <div style="width:100%;">
                            <h5 style="color:#de3838;">
                                Red Nedeni
                            </h5>
                        </div>
                        <div class="txtRedNeden">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="mdlSilKapat">Kapat</button>
                    <button type="button" class="btn btn-primary" id="mdlSilKayit" data-dismiss="modal">Kaydet</button>
                    <div class="label"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/dataTables.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/scripts/datatable.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/DevExtreme/js/dx.web.js" type="text/javascript"></script>
<script type="text/javascript">
    var f_evrakNo = '@ViewBag.EvrakNo';
    var f_chk= '@Model.GENEL[0].Chk';
    var f_tarih='@Model.GENEL[0].Tarih';
    var check_sum = new Array();

    var model = @Html.Raw(Json.Encode(Model));

    for (var i = 0; i < model.STI.length; i++) {
        check_sum.push(model.STI[i].CheckSum);
    }
    var sayac = 1;
    $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" }
    });

    $(document).on("ready", function () {
        $(".txtRedNeden").dxTextArea({ placeholder: 'Açıklama girin', height: 150, maxLength: '128' });
    });

    $(document).on("click", ".geri-buton", function () {
        window.location.href = '/Approvals/Invoice';
    });
    $(document).on("click", ".onayla-buton", function () {
        ModalYesNoClick("Onaylamak istediğinize emin misiniz?", "Onay Uyarı", "Onayla", "btn-primary", Onayla, "İptal", "btn-danger", null);
    });
    function Onayla() {
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/Invoice/Onay",
            data: JSON.stringify({ EvrakNo: f_evrakNo, CHK: f_chk, Tarih: f_tarih, ChckSm: check_sum }),
            contentType: "application/json",
            type: "post",
            success: function (data) {
                if (data == "YES") {
                    Modaldialog("İşlem Başarılı.", "Güncelleme İşlemi", "Tamam", "btn-success");
                    setTimeout(function () { window.location.href = '/Approvals/Invoice'; }, 500);
                }
                else if (data == "NO") {
                    Modaldialog("Kayıt sırasında hata oluştu. İşleminiz gerçekleştirilemedi.", "Güncelleme İşlemi", "Tamam", "btn-danger");
                }
                else if (data == "DEGISIM") {
                    Modaldialog("Faturada değişiklik tespit edildi. Fatura Durumu : Onay Bekliyor", "Güncelleme İşlemi", "Tamam", "btn-danger");
                    setTimeout(function () { window.location.href = '/Approvals/Invoice/Detail?EvrakNo=' + f_evrakNo; }, 500);


                }
                else {
                    Modaldialog("Kayıt sırasında hata oluştu. İşleminiz gerçekleştirilemedi.", "Güncelleme İşlemi", "Tamam", "btn-danger");
                    setTimeout(function () { window.location.href = '/Approvals/Invoice'; }, 500);
                }
            }
        });
        return _dfd.promise();
    }

    $(document).on("click", ".red-buton", function () {
        $(".rdgrpSil").dxRadioGroup({
            value: "Silme"
        });
        $('#x-modal-faturared').modal("show");

    });
    $(document).on("click", "#mdlSilKayit", function () {
        ModalYesNoClick("Reddetmek istediğinize emin misiniz?", "Red Uyarı", "Reddet", "btn-primary", Red, "İptal", "btn-danger", null);
    });

    function Red() {
        var _dfd = $.Deferred();
        var f_redNeden;
        f_redNeden = $(".txtRedNeden").dxTextArea("instance").option("value");
        $.ajax({
            url: window.location.origin + "/Approvals/Invoice/Red",
            data: { EvrakNo: f_evrakNo, CHK: f_chk, Tarih: f_tarih, RedNeden: f_redNeden, ChckSm: check_sum },
            type: "post",
            success: function (data) {

                if (data == "NO") {
                    Modaldialog("Kayıt sırasında hata oluştu. İşleminiz gerçekleştirilemedi.", "Güncelleme İşlemi", "Tamam", "btn-dange");
                }
                else if (data == "DEGISIM") {
                    Modaldialog("Faturada değişiklik tespit edildi. Fatura Durumu : Onay Bekliyor", "Güncelleme İşlemi", "Tamam", "btn-dange");
                    setTimeout(function () { window.location.href = '/Approvals/Invoice/Detail?EvrakNo=' + evrakNo; }, 500);


                }
                else {
                    Modaldialog("İşlem Başarılı", "Güncelleme İşlemi", "Tamam", "btn-dange");
                    setTimeout(function () { window.location.href = '/Approvals/Invoice';}, 500);

                }
            }
        });
        return _dfd.promise();
    }
</script>
}