@{
    ViewBag.Title = "Transfer Planlama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Transfer Planlama</span></li></ul></div>
<h1 class="page-title">Depolar Arası Transfer Planlama</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Depolar Arası Transfer Planlama
                </div>
            </div>
            <div class="portlet-body form">
                @using (Ajax.BeginForm("Summary", "Transfer", new { area = "WMS" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "getResult",  OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Çıkış Depo</label>
                            <div class="col-md-4">
                                @Html.DropDownList("CikisDepo", null, htmlAttributes: new { @class = "form-control input-circle DepoID", required = "required" })
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Ara Depo</label>
                            <div class="col-md-4">
                                @Html.DropDownList("AraDepo", null, htmlAttributes: new { @class = "form-control input-circle DepoID", required = "required" })
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Giriş Depo</label>
                            <div class="col-md-4">
                                @Html.DropDownList("GirisDepo", null, htmlAttributes: new { @class = "form-control input-circle DepoID", required = "required" })
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Kriter</label>
                            <div class="col-md-4">
                                <select class = "form-control input-circle" name="listType" id="listType"><option value="1">Giriş Depo Gereken Miktar < 0</option><option value="0">Tüm Stoklar</option></select>
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-3">
                                <button class="btn btn-default btn-block btn-circle" type="button" onclick="FuncSearchBtn()">Listele <i class="icon-refresh"></i></button>
                            </div>
                        </div>
                        <div id="hatali" class="row m-30 color-red bold"></div>
                        <div class="form-group" id="seciliTable">
                            <div class="col-md-6 col-md-offset-2">
                                <table class="table table-striped" id="myTable">
                                    <thead><tr><th nowrap>Mal Kodu</th><th>Mal Adı</th><th class="text-right">Miktar</th><th class="text-right">Stok</th><th>Birim</th><th></th></tr></thead>
                                    <tbody><tr class="hidden"></tr></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-3">
                                <input type="submit" class="btn btn-primary btn-block btn-circle green submit" value="Onayla" id="submit" />
                            </div>
                        </div>
                        <div class="form-group p-l-30 p-r-30" id="liste"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{<script type="text/javascript">
    $(".DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $(".DepoID")[0].selectedIndex = 0; $(".DepoID")[1].selectedIndex = 0; $(".DepoID")[2].selectedIndex = 0;
    $("#submit").hide();
    $("#seciliTable").hide();
    var DeleteFunctionUrl = '/WMS/Transfer/Delete2';
    function FuncSearchBtn() {
        $('#liste').html("");
        $('#hatali').html("");
        if ($("#GirisDepo").val() == "" || $("#CikisDepo").val() == "" || $("#AraDepo").val() == "") return;
        if ($("#GirisDepo").val() == $("#CikisDepo").val() || $("#GirisDepo").val() == $("#AraDepo").val() || $("#CikisDepo").val() == $("#AraDepo").val()) return;
        $('#liste').html("");
        $.ajax({
            url: '/WMS/Transfer/List',
            type: 'POST',
            data: { GirisDepo: $("#GirisDepo").val(), AraDepo: $("#AraDepo").val(), CikisDepo: $("#CikisDepo").val(), Tip: $("#listType").val() },
            success: function (data) {
                if (data == "") {
                    Modaldialog("Hata oluştu", "Hata", "Tamam", "btn-danger");
                } else {
                    $('#liste').html(data);
                    $("html, body").animate({ scrollTop: 400 }, "slow");
                }
            }
        });
    }
    function getResult(e) {
        if (e.Status == true)
        {
            Modaldialog("İşlem Başarıyla gerçekleşti", "Başarı", "Tamam", "btn-success");
            $("#submit").hide();
            $("#seciliTable").hide();
            $('#liste').html("");
            $('#hatali').html("");
            $(".DepoID")[0].selectedIndex = 0; $(".DepoID")[1].selectedIndex = 0; $(".DepoID")[2].selectedIndex = 0;
        }
        else
            Modaldialog(e.Message, 'Hata', 'Tamam', 'btn-danger');
    };
    function NewRow(kod, mal, stk, brm, mktr)
    {
        $("#seciliTable").show();
        $("#submit").show();
        $('#myTable tbody tr:first').after('<tr>' +
            '<td><input class="form-control" name="MalKodus" type="text" value="' + kod + '" readonly="readonly"></td>' +
            '<td><input class="form-control w-200" type="text" value="' + mal + '" readonly="readonly"></td>' +
            '<td><input class="form-control w-50 pull-right" name="Miktar" type="text" value="' + numeral(mktr).format() + '"></td>' +
            '<td class="text-right"><input class="hidden" name="Miktars" type="text" value="0">' + numeral(stk).format() + '</td>' +
            '<td><input class="form-control w-50" name="Birims" type="text" value="' + brm + '" readonly="readonly"></td>' +
            '<td><button type="button" class="btn btn-danger btn-block" onclick="DeleteRow(this);">Sil</button></td>' +
            '</tr>');
    }
    function DeleteRow(btn)
    {
        $(btn).closest('tr').remove();
        satir--;
    }
    function getBirims(id) {
        $("#sBirim option").remove();
        $.ajax({
            url: "/WMS/Purchase/getBirim",
            type: 'POST',
            data: JSON.stringify({ kod: id, s: 0 }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    if (data[0].Birim1.replace(" ", "") != "") { $('#sBirim').append($('<option>', { value: data[0].Birim1, text: data[0].Birim1 })); }
                    if (data[0].Birim2.replace(" ", "") != "") { $('#sBirim').append($('<option>', { value: data[0].Birim2, text: data[0].Birim2 })); }
                    if (data[0].Birim3.replace(" ", "") != "") { $('#sBirim').append($('<option>', { value: data[0].Birim3, text: data[0].Birim3 })); }
                    if (data[0].Birim4.replace(" ", "") != "") { $('#sBirim').append($('<option>', { value: data[0].Birim4, text: data[0].Birim4 })); }
                }
                $("#sMiktar").focus();
            }
        });
    }
</script>
}