@model IEnumerable<GorevYer>
<table class="table">
    <tr>
        <th>GorevNo</th>
        <th>MalKodu</th>
        <th>Miktar</th>
        <th>Birim</th>
        <th>HucreAd</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Gorev.GorevNo)</td>
            <td>@Html.DisplayFor(modelItem => item.MalKodu)</td>
            <td>@Html.DisplayFor(modelItem => item.Miktar)</td>
            <td>@Html.DisplayFor(modelItem => item.Birim)</td>
            <td>@Html.DisplayFor(modelItem => item.Yer.HucreAd)</td>
        </tr>
    }
</table>