@model IEnumerable<GetIrsDetayfromGorev_Result>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.GorevNo)</th>
        <th>@Html.DisplayNameFor(model => model.MalKodu)</th>
        <th>@Html.DisplayNameFor(model => model.Miktar)</th>
        <th>@Html.DisplayNameFor(model => model.Stok)</th>
        <th>@Html.DisplayNameFor(model => model.Birim)</th>
        <th>@Html.DisplayNameFor(model => model.Hucre)</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.GorevNo)</td>
            <td>@Html.DisplayFor(modelItem => item.MalKodu)</td>
            <td>@Html.DisplayFor(modelItem => item.Miktar)</td>
            <td>@Html.DisplayFor(modelItem => item.Stok)</td>
            <td>@Html.DisplayFor(modelItem => item.Birim)</td>
            <td>@Html.DisplayFor(modelItem => item.Hucre)</td>
        </tr>
    }
</table>