
@model List<GetStockRezerv_Result>
@{ List<string> Sirket = ViewBag.Sirket; string tmp; string tmpUnvan; var malkod = new List<String>(); var malad = new List<String>(); var hesapKod = new List<String>(); var unvan = new List<String>();  }
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-body">
                    @*Project Details Go Here*@
                    <h4>Rezerv Ayrıntı</h4>
                    <table class="table table-bordered table-condensed m-t-20">
                        <thead>
                            <tr><th>Evrak No</th><th>HesapKodu</th><th>Unvan</th><th>Mal Kodu</th><th>Mal Adı</th><th>Rezerv Miktar</th><th>Birim</th>@*<th>Güneş Stok</th><th>WMS Stok</th>*@</tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (malkod.Contains(item.MalKodu) == false)
                                {
                                    tmp = item.MalKodu.GetMalAdi(item.SirketKod);
                                    malkod.Add(item.MalKodu);
                                    malad.Add(tmp);

                                }
                                else
                                {
                                    tmp = malad[malkod.IndexOf(item.MalKodu)];
                                }
                                if (hesapKod.Contains(item.HesapKodu) == false)
                                {
                                    tmpUnvan = item.HesapKodu.GetUnvan(item.SirketKod);
                                    hesapKod.Add(item.HesapKodu);
                                    unvan.Add(tmpUnvan);
                                }
                                else
                                {
                                    tmpUnvan = unvan[hesapKod.IndexOf(item.HesapKodu)];
                                }
                                <tr>
                                    <td>@item.EvrakNo</td>
                                    <td>@item.HesapKodu</td>
                                    <td>@tmpUnvan</td>
                                    <td>@item.MalKodu</td>
                                    <td>@tmp</td>
                                    <td>@item.Miktar</td>
                                    <td>@item.Birim</td>
                                    @*<td>@item</td></tr></tbody>*@
                                </tr>

                            }
                        </tbody>

                    </table>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
