@model List<frmGorevlerCalismalar>
@{ var tarihler = new List<int>(); List<Tatil> tbl = ViewBag.Tatil;
}<div id="calendar" class="has-toolbar"> </div>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            locale: 'tr',
            themeSystem: 'bootstrap3',
            weekends: true,
            showNonCurrentDates: true,
            showNonCurrentDates: false,
            height: 500,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'listWeek,listMonth,month'
            },
            views: {
                listWeek: { buttonText: 'Haftalık' },
                listMonth: { buttonText: 'Aylık' },
                month: { buttonText: 'Takvim' }
            },
            navLinks: false,
            events: [
                @foreach (var item in Model) { tarihler.Add(item.Tarih.ToOADateInt()); <text>{ tip: 1, id: '@item.Tarih.ToOADateInt()', title: '@item.Sure', start: '@item.Tarih.ToString("yyyy-MM-dd")', backgroundColor: App.getBrandColor('@if (item.Sure == 540) {@("green")} else  {@("yellow")}') },</text> }
                @foreach (var item in tbl) { tarihler.Add(item.Tarih.ToOADateInt()); <text>{ tip: 2, id: '@item.Aciklama', title: '@if (item.Username != null) { @item.Username @(" - ")}@item.ComboItem_Name.Name', start: '@item.Tarih.ToString("yyyy-MM-dd")', backgroundColor: App.getBrandColor('white') },</text> }
                @for (int i = 42850; i <= DateTime.Today.ToOADateInt(); i++) { if (tarihler.Contains(i) == false && i.FromOaDate().DayOfWeek != DayOfWeek.Saturday && i.FromOaDate().DayOfWeek != DayOfWeek.Sunday) {<text>{ tip: 0, id: '@i', title: '0', start: '@i.FromOaDate().ToString("yyyy-MM-dd")', backgroundColor: App.getBrandColor('red') },</text>} }
            ],
            eventClick: function (calEvent, jsEvent, view) {
                        if (calEvent.tip == 1)
                            format(calEvent.id, "@ViewBag.UserName");
                        else if (calEvent.tip == 2)
                            Modaldialog(calEvent.id, "Açıklama", "Tamam", "btn-primary");
                    }
                });
    });
</script>