@model Etkinlik
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>İzin, Tatil ve Etkinlik @if (ViewBag.New == 1) {@("Düzenle")} else {@("Ekle")}
                </div>
            </div>
            <div class="portlet-body form">
                @using (Ajax.BeginForm("Save", "GorevTakvimi", new { area = "ToDo" }, new AjaxOptions { OnSuccess = "getresult", OnBegin = "$('#btnSubmit').prop('disabled', true);", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "form-horizontal" }))
                {
                    <input type="hidden" name="ID" id="ID" value="@if (ViewBag.New == 1) {@Model.ID} else {@("0")}" />
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, "Kullanıcı", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.DropDownList("Username", null, htmlAttributes: new { @class = "form-control input-circle satirekle" })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TatilTipi, "Tatil Tipi", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.DropDownList("TatilTipi", null, htmlAttributes: new { @class = "form-control input-circle satirekle1", required = "required" })
                                @Html.ValidationMessageFor(model => model.TatilTipi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tarih, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Tarih, new { @class = "form-control input-circle date-picker", @Value = Model.Tarih.Year == 1 ? DateTime.Today.ToString("dd.MM.yyyy") : Model.Tarih.ToString("dd.MM.yyyy"), required = "required" })
                                @Html.ValidationMessageFor(model => model.Tarih, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Aciklama, "Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Aciklama, new { @class = "form-control input-circle" })
                                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tekrarlayan, "Tekrarlayan Mı", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.CheckBoxFor(model => model.Tekrarlayan, new { @class = "make-switch", @data_size = "normal", @data_on_color = "success", @data_off_text = "Hayır", @data_on_text = "Evet", @data_off_color = "warning" })
                                @Html.ValidationMessageFor(model => model.Tekrarlayan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                                <input type="submit" value="Kaydet" class="btn green pull-right" id="btnSubmit" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#Tekrarlayan").bootstrapSwitch();
    $(document).ready(function () {
        $(".satirekle").prepend("<option value=''>Herkes</option>"); @if (Model.Username == null) { <text>$(".satirekle")[0].selectedIndex = 0;</text> }
        $(".satirekle1").prepend("<option value=''>Seçiniz !!!</option>"); @if (ViewBag.New == 0) { <text>$(".satirekle1")[0].selectedIndex = 0;</text> }
        $('.date-picker').datepicker();
    });
</script>