@model ComboItem_Name
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-body">@*Project Details Go Here*@
                    <h4>Düzenle</h4>
                    @using (Html.BeginForm("Save", "ComboItems", "System", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            <div class="form-group">
                                <label class="col-md-3 control-label">Combo</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("ComboID", null, htmlAttributes: new { @class = "form-control input-circle", required = "required" })
                                    <span class="field-validation-valid" data-valmsg-for="ComboID" data-valmsg-replace="true" style="color:red;"></span>
                                </div>
                            </div>
                            <div class="form-group">
                               <label class="col-md-3 control-Ad">Ad</label>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                                <input type="submit" class="btn btn-primary pull-right" id="submitter" value="Kaydet" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>$("#submitter").click(function () { $('#modalEditPage').modal('toggle'); })</script>