@model List<ChartBolgeBazliSatisAnalizi>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bölge Bazlı Satış Analizi <span style="color:#8888a7;">3D CHART</span></span>
                </div>
                <div class="col-md-1 m-l-10 slct_ay"></div>
                <div class="col-md-1 m-l-10 slct_kriter"></div>
                <div class="col-md-2">
                    @Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control SirketIDr", @onchange = "Reloadr(this.value)" })
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="reload" onclick="Reloadr('@ViewBag.SirketKodu');"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_5_bolge" class="chart" style="height: 400px;"> </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ay_value= @ViewBag.Ay;
    var kriter_value=@Html.Raw(Json.Encode(ViewBag.Kriter));
    var ay = [{ id: 0, state: "Tümü"},{ id: 1, state: "Ocak"},{ id: 2, state: "Şubat" },{ id: 3, state: "Mart"},{ id: 4, state: "Nisan"},{ id: 5, state: "Mayıs" },{ id: 6, state: "Haziran"},{ id: 7, state: "Temmuz"},{ id: 8, state: "Ağustos" },{ id: 9, state: "Eylül"},{ id: 10, state: "Ekim"},{ id: 11, state: "Kasım" },{ id: 12, state: "Aralik"}];
    if ($('.SirketIDr option').size() == 1) $(".SirketIDr").hide();
    else $(".SirketIDr").val('@ViewBag.SirketKodu');
    function Reloadr(v)
    {
        PartialView("/Home/PartialBolgeBazliSatisAnalizi", 'bolge_bazli_satis_analizi', JSON.stringify({ SirketKodu: v, ay: ay_value, kriter:kriter_value }));
    }
    $(document).ready(function (e) {
        var model = @Html.Raw(Json.Encode(Model));
        var color = ["#FF0F00", "#FF6600", "#FF9E01", "#FCD202", "#F8FF01", "#B0DE09", "#04D215", "#0D8ECF", "#0D52D1", "#2A0CD0", "#8A0CCF", "#CD0D74", "#754DEB", "#DDDDDD", "#999999", "#333333", "#000000"];
        for (var i = 0; i < model.length; i++) {
            $.extend(model[i], {
                color: color[i % color.length]
            });
        }

        $(".slct_ay").dxSelectBox({
            dataSource: ay,
            valueExpr: 'id',
            displayExpr: 'state',
            value: ay_value,
            onValueChanged: function (e) {
                ay_value = e.value;
                PartialView("/Home/PartialBolgeBazliSatisAnalizi", 'bolge_bazli_satis_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', ay: ay_value, kriter: kriter_value }));
            }
        });
       $.ajax({
           url: "/Home/BolgeBazliSatisAnaliziKriter",
            data: { SirketKodu: '@ViewBag.SirketKodu'},
            type: "post",
            success: function (data)
            {
                  $(".slct_kriter").dxSelectBox({
                      dataSource: $.parseJSON(data),
                      valueExpr: 'Kriter',
                      displayExpr: 'Kriter',
                        value: kriter_value,
                        onValueChanged: function (e) {
                     kriter_value=e.value;
                     PartialView("/Home/PartialBolgeBazliSatisAnalizi", 'bolge_bazli_satis_analizi', JSON.stringify({ SirketKodu: '@ViewBag.SirketKodu', ay: ay_value, kriter:kriter_value }));
            }
        });
            }
        });

        var ChartsAmcharts9 = function () {
            var initChartSample5 = function () {
                var chart = AmCharts.makeChart("chart_5_bolge", {
                    "theme": "light",
                    "type": "serial",
                    "startDuration": 2,
                    "titleRotation": 10,
                    "fontFamily": 'Open Sans',
                    "color": '#888',
                    "valueAxes": [{
                        "position": "left",
                        "axisAlpha": 0,
                        "gridAlpha": 0

                    }],
                    "graphs": [{
                        "balloonText": "[[category]]: <b>[[value]]</b>",
                        "colorField": "color",
                        "fillAlphas": 0.85,
                        "lineAlpha": 0.1,
                        "type": "column",
                        "topRadius": 1,
                        "valueField": "GenelTutar",
                        "fixedColumnWidth": 40,
                        "labelText": "[[value]]",
                        "labelRotation": 315,
                        "color": "grey",
                        "labelOffset": 30
                    }],
                    "depth3D": 40,
                    "angle": 30,
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "Lokasyon",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "labelRotation": 45

                    },
                    "exportConfig": {
                        "menuTop": "20px",
                        "menuRight": "20px",
                        "menuItems": [{
                            "icon": '/lib/3/images/export.png',
                            "format": 'png'

                        }]
                    }
                }, 0);
                chart.dataProvider = model;
                chart.validateData();
                chart.animateAgain();
                jQuery('.chart_5_chart_input').off().on('input change', function () {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    chart.startDuration = 0;

                    if (property == 'topRadius') {
                        target = chart.graphs[0];
                    }

                    target[property] = this.value;
                    chart.validateNow();
                });

                $('#chart_5_bolge').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }

            return {
                init: function () {
                    initChartSample5();
                }
            };
        }();

        jQuery(document).ready(function () {
            ChartsAmcharts9.init();
        });
        });
</script>