@model IEnumerable<MyChi>
<table class="table table-striped table-bordered table-hover" id="sample_1">
    <thead>
        <tr>
            <th nowrap>Evrak No</th>
            <th nowrap>Hesap Kodu</th>
            <th nowrap>Ünvan </th>
            <th nowrap>Tahsis Evrak No</th>
            <th nowrap>Mektup Tutar</th>
            <th nowrap>Peşinat Tutar</th>
            <th nowrap>Toplam İbreli Mik. Ster</th>
            <th nowrap>Toplam İbreli Mik. M3</th>
            <th nowrap>Toplam Yapraklı Mik. Ster</th>
            <th nowrap>Toplam Yapraklı Mik. M3</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td nowrap>@item.EvrakNo</td>
                <td nowrap>@item.HesapKodu</td>
                <td nowrap>@item.Unvan</td>
                <td nowrap>@item.EvrakNo2</td>
                <td nowrap>@item.Kod13</td>
                <td nowrap>@item.Kod14</td>
                <td nowrap>item.FaturaToplamIbreliMikSter</td>
                <td nowrap>item.FaturaToplamIbreliMikM3</td>
                <td nowrap>item.FaturaToplamYaprakliMikSter</td>
                <td nowrap>item.FaturaToplamYaprakliMikM3</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "ordering": false,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "scrollX": true,
            "dom": 'Bfrtip',
            "buttons": [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs' }
            ]
        });
    });
</script>