@model IEnumerable<MyChi>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}<table class="table table-striped table-bordered table-hover" id="sample_1">
    <thead>
        <tr>
            <th nowrap>Evrak No</th>
            <th nowrap>Hesap Kodu</th>
            <th nowrap>Ünvan </th>
            <th nowrap>Tahsis Evrak No</th>
            <th nowrap>Mektup Tutar</th>
            <th nowrap>Peşinat Tutar</th>
            <th nowrap>Toplam İbreli Mik. Ster</th>
            <th nowrap>Toplam İbreli Mik. M3</th>
            <th nowrap>Toplam Yapraklı Mik. Ster</th>
            <th nowrap>Toplam Yapraklı Mik. M3</th>
        </tr>
    </thead>
     <tfoot>
         <tr>
             <th></th>
             <th></th>
             <th></th>
             <th></th>
             <th class="text-right"></th>
             <th class="text-right"></th>
             <th class="text-right"></th>
             <th class="text-right"></th>
             <th class="text-right"></th>
             <th class="text-right"></th>
         </tr>
     </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td nowrap>@item.EvrakNo</td>
                <td nowrap>@item.HesapKodu</td>
                <td nowrap>@item.Unvan</td>
                <td nowrap>@item.EvrakNo2</td>
                <td nowrap align="right">@String.Format("{0:n}", item.Kod13)</td>
                <td nowrap align="right">@String.Format("{0:n}", item.Kod14)</td>
                <td nowrap align="right">@String.Format("{0:n}", item.topSterIbre)</td>
                <td nowrap align="right">@String.Format("{0:n}", item.topM3Ibre)</td>
                <td nowrap align="right">@String.Format("{0:n}", item.topSterYaprak)</td>
                <td nowrap align="right">@String.Format("{0:n}", item.topM3Yaprak)</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    var model =  @Html.Raw(serializer.Serialize(Model));
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "ordering": false,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "dom": 'lBfrtip',
            "buttons": [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs' }//
            ],
            "footerCallback": function (row, data, start, end, display) {
                var Kod13 = 0, Kod14 = 0, topSterIbre = 0, topM3Ibre = 0, topSterYaprak = 0, topM3Yaprak = 0;
                table.rows({ search: 'applied' }).data().each(function (val, index) {
                    if (val[4] != '' && val[4] != null)
                        Kod13 += jDecimal(val[4]);
                    if (val[5] != '' && val[5] != null)
                        Kod14 += jDecimal(val[5]);
                    if (val[6] != '' && val[6] != null)
                        topSterIbre += jDecimal(val[6]);
                    if (val[7] != '' && val[7] != null)
                        topM3Ibre += jDecimal(val[7]);
                    if (val[8] != '' && val[8] != null)
                        topSterYaprak += jDecimal(val[8]);
                    if (val[9] != '' && val[9] != null)
                        topM3Yaprak += jDecimal(val[9]);

                });
                var api = this.api(), data;
                $(api.column(4).footer()).html(numeral(Kod13).format());
                $(api.column(5).footer()).html(numeral(Kod14).format());
                $(api.column(6).footer()).html(numeral(topSterIbre).format());
                $(api.column(7).footer()).html(numeral(topM3Ibre).format());
                $(api.column(8).footer()).html(numeral(topSterYaprak).format());
                $(api.column(9).footer()).html(numeral(topM3Yaprak).format());

                $(".select_mektuptutar").digits();
                $(".select_pesinattutar").digits();
                $(".select_ibrelistermiktar").digits();
                $(".select_ibrelim3miktar").digits();
                $(".select_yapraklistermiktar").digits();
                $(".select_yapraklim3miktar").digits();
                $(".select_pesinatkullanilan").html(numeral(Kod14).format());
                $(".select_pesinatkalan").html(numeral(select_pesinattutar - Kod14).format());
                $(".select_mektupkullanilan").html(numeral(Kod13).format());
                $(".select_mektupkalan").html(numeral(select_mektuptutar - Kod13).format());
                $(".select_ibrelisterkullanilan").html(numeral(topSterIbre).format());
                $(".select_ibrelisterkalan").html(numeral(select_ibrelistermiktar - topSterIbre).format());
                $(".select_ibrelim3kullanilan").html(numeral(topM3Ibre).format());
                $(".select_ibrelim3kalan").html(numeral(select_ibrelim3miktar - topM3Ibre).format());
                $(".select_yapraklisterkullanilan").html(numeral(topSterYaprak).format());
                $(".select_yapraklisterkalan").html(numeral(select_yapraklistermiktar - topSterYaprak).format());
                $(".select_yapraklim3kullanilan").html(numeral(topM3Yaprak).format());
                $(".select_yapraklim3kalan").html(numeral(select_yapraklim3miktar - topM3Yaprak).format());
            }
        });
    });
</script>