@model Gorevler
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Düzenle
                </div>
            </div>
            <div class="portlet-body form">
                @using (Ajax.BeginForm("Save", "Duties", new { area = "ToDo" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');", OnSuccess = "CreateEdit('0');" }, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.ID)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-group row">
                            <label class="col-md-1 control-label">Firma</label>
                            <div class="col-md-10">
                                @Html.DropDownList("MusteriID", null, string.Empty, htmlAttributes: new { @class = "form-control input-circle MusteriID", @onchange = "getProje(this.value,'ProjeList', 'FormList');", required = "required" })
                                <span class="field-validation-valid" data-valmsg-for="MusteriID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-1 control-label">Proje</label>
                            <div class="col-md-10">
                                @Html.DropDownList("Proje", null, string.Empty, htmlAttributes: new { @class = "form-control input-circle Proje", @id = "ProjeList", @onchange = "getForm(this.value, 'FormList');", required = "required" })
                                <span class="field-validation-valid" data-valmsg-for="MusteriID" data-valmsg-replace="Proje" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-1 control-label">Form</label>
                            <div class="col-md-10">
                                @Html.DropDownList("ProjeFormID", null, string.Empty, htmlAttributes: new { @class = "form-control input-circle ProjeFormID", @id = "FormList", required = "required" })
                                <span class="field-validation-valid" data-valmsg-for="ProjeFormID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1" style="text-align:right;">Sorumlu</div>
                            <div class="col-md-10"><div class="slct-sorumlu"></div></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1" style="text-align:right;">Sorumlu2</div>
                            <div class="col-md-10"><div class="slct-sorumlu2"></div></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1" style="text-align:right;">Sorumlu3</div>
                            <div class="col-md-10"><div class="slct-sorumlu3"></div></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1" style="text-align:right;">Kalite Kontrol</div>
                            <div class="col-md-10"><div class="slct-kalite-kontrol"></div></div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Gorev, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Gorev, new { htmlAttributes = new { @class = "form-control input-circle", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Gorev, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row pointer">
                            @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Aciklama, 10, 55, new { htmlAttributes = new { @class = "form-control form-rounded" }, required = "required" })
                                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.GorevTipiID, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-10">
                                @Html.DropDownList("GorevTipiID", null, htmlAttributes: new { @class = "form-control input-circle" })
                                @Html.ValidationMessageFor(model => model.GorevTipiID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.DepartmanID, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-10">
                                @Html.DropDownList("DepartmanID", null, htmlAttributes: new { @class = "form-control input-circle" })
                                @Html.ValidationMessageFor(model => model.DepartmanID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.TahminiBitis, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TahminiBitis, new { htmlAttributes = new { @class = "form-control input-circle date-picker" } })
                                @Html.ValidationMessageFor(model => model.TahminiBitis, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row" style="display:none">
                            <div class="silinenler"></div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-5 col-md-7">
                                    <input type="submit" value="Kaydet" class="btn btn-circle green" style="display:none;" />
                                    <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="CreateEdit('0')">Temizle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    DevExpress.ui.dxOverlay.baseZIndex(20000);
    var silinenler = "";
    var sayac = 1;
    var Proje = '@ViewBag.Proje';
    var Form = '@ViewBag.Form';
    var ID = '@ViewBag.ID';
    var PFID = '@ViewBag.PFID';
    var KaliteKontrol = new Array();
    $.ajax({
        url: "/ToDo/Duties/SorumluListesi",
        data: {},
        type: "post",
        success: function (data) {
            var result = JSON.parse(data);
            $.each(result, function (index, value) {
                if (value.RoleName == "Destek") {
                    KaliteKontrol.push(value);
                }
            });
            $(".slct-kalite-kontrol").dxSelectBox({
                dataSource: KaliteKontrol,
                value: '@Model.KaliteKontrol',
                name: "KaliteKontrol",
                valueExpr: 'Kod',
                displayExpr: 'AdSoyad',
                onValueChanged: function (e) {

                }
            });
            $(".slct-sorumlu").dxSelectBox({
                dataSource: result,
                value:'@Model.Sorumlu',
                name: "Sorumlu",
                valueExpr: 'Kod',
                displayExpr: 'AdSoyad',
                onValueChanged: function (e) {

                }
            });
            $(".slct-sorumlu2").dxSelectBox({
                dataSource: result,
                value:'@Model.Sorumlu2',
                name: "Sorumlu2",
                valueExpr: 'Kod',
                displayExpr: 'AdSoyad',
                onValueChanged: function (e) {

                }
            });
            $(".slct-sorumlu3").dxSelectBox({
                dataSource: result,
                value:'@Model.Sorumlu3',
                name: "Sorumlu3",
                valueExpr: 'Kod',
                displayExpr: 'AdSoyad',
                onValueChanged: function (e) {

                }
            });
        }
    });
    $(".silinenler").dxTextBox();
    $(".silinenler").dxTextBox("instance").option({ name: "silinenler"});
   var model = @Html.Raw(Json.Encode(Model.GorevToDoLists.Select(m=> new frmGorevTodos { ID=m.ID, Aciklama=m.Aciklama, AktifPasif=m.AktifPasif }).ToList()));
    $.each(model, function (index, value) {
        if (value.AktifPasif == true) {
            var index = sayac++;
            $(".last-work").removeClass("fa fa-plus-circle");
            $(".insert-work-icon i").removeClass("last-work");
            $(".delete-icn").css("display", "initial");
            var newElement = $("<div>").addClass("form-group row todo-content");
            newElement.append("<div class='todo-text todo-id" + index + "' style='display:none'></div> <div class='control-label col-md-1'><span class='work-index'>" + index + "</span > <span>-</span></div><div class='col-md-10'><div class='txt-aciklama work-" + index + "'></div></div><div class='insert-work-icon col-md-1'><i class='fa fa-minus-circle delete-icn' style='display:none' onclick='DeleteElement(this," + value.ID + ")' style='margin- left:5px;'></i><i class='fa fa-plus-circle last-work' onclick='NewElement()' style='margin-left:5px;'></i></div>");
            newElement.addClass("index" + index);


            if (index == 1) {
                newElement.insertAfter(".pointer");
            }
            else {
                newElement.insertAfter(".todo-content:last");
            }
            $(".work-" + index).dxTextArea();
            $(".work-" + index).dxTextArea("instance").option({ name: "work", value: value.Aciklama, maxHeight: 80 });
            $(".todo-id" + index).dxTextBox();
            $(".todo-id" + index).dxTextBox("instance").option({ name: "todo", value: value.ID });
        }
    });
    $(document).ready(function () {
        $('.date-picker').datepicker();
    });

    function ClearControl() {
        $("#ddSorumlu").val("");
        $("#ddSorumlu2").val("");
        $("#ddSorumlu3").val("");
        $("#ddKaliteKontrol").val("");

    }

    function NewElement() {
        var index = sayac++;
        $(".last-work").removeClass("fa fa-plus-circle");
        $(".insert-work-icon i").removeClass("last-work");
        $(".delete-icn").css("display", "initial");
        var newElement = $("<div>").addClass("form-group row todo-content");
        newElement.append("<div class='todo-text todo-id" + index + "' style='display:none'></div><div class='control-label col-md-1'><span class='work-index'>" + index + "</span > <span>-</span></div><div class='col-md-10'><div class='txt-aciklama work-" + index + "'></div></div><div class='insert-work-icon col-md-1'><i class='fa fa-minus-circle delete-icn' onclick='DeleteElement(this, " + 0 +")' style='margin- left:5px;'></i><i class='fa fa-plus-circle last-work' onclick='NewElement()' style='margin-left:5px;'></i></div>");
        newElement.addClass("index" + index);
        newElement.insertAfter(".todo-content:last");
        $(".work-" + index).dxTextArea();
        $(".work-" + index).dxTextArea("instance").option({ name:"work", maxHeight: 80 });
        $(".todo-id" + index).dxTextBox();
        $(".todo-id" + index).dxTextBox("instance").option({ name: "todo", value: 0 });

    };

    function DeleteElement(secili,id) {
        sayac--;
        if (id != 0) {
            silinenler+= id+","
        }
        $(".silinenler").dxTextBox("instance").option({ value: silinenler});

        $(secili).closest(".form-group").remove();
        $(".todo-content .work-index").each(function (index) {
            $(this).text(index + 1)
        });
        if (!$(".last-work").length) {
            $(".todo-content i:last").addClass("last-work");
            $(".last-work").addClass("fa fa-plus-circle");
        }
        if (sayac == 2) {
            $(".delete-icn").css("display", "none");

            $(".insert-work-icon i:last").addClass("last-work");
            $(".last-work").addClass("fa fa-plus-circle");
        }


    };
</script>
