@model IEnumerable<Gorevler>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Görevler Listesi
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content" id="sample_1">
            <thead class="flip-content" ><tr> 
                       <th>Çalışma</th>                      
                       <th>Firma</th>
                       <th>Proje</th>
                       <th>Form</th>
                       <th>Görev</th>
                       <th>Sorumlular</th>                  
                       <th>Öncelik</th>
                       <th>Durum</th>
                       <th>Görev Tipi</th>
                       <th>Departman</th>
                       <th>Tahmini Bitiş</th>
                       <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr  data-ID="@item.ID" ondblclick="showEdit(@item.ID)">
                        <td class="details-control"></td>
                        <td nowrap>@item.ProjeForm.Musteri.Firma</td>
                        <td nowrap>@item.ProjeForm.Proje</td>
                        <td nowrap>@item.ProjeForm.Form</td>

                        <td nowrap>@item.Gorev</td>
                        <td nowrap>
                        @{
                            if (item.Sorumlu2.IsNullEmpty())
                            {
                                @item.Sorumlu
                            }
                            else if (item.Sorumlu3.IsNullEmpty())
                            {
                                @(item.Sorumlu + " - " + item.Sorumlu2)
                            }
                            else
                            {
                                @(item.Sorumlu + " - " + item.Sorumlu2 + " - " + item.Sorumlu3)
                            }
                        } 
                        </td>
                        
                        <td>@item.ComboItem_Name3.Name</td>
                        <td>@item.ComboItem_Name1.Name</td>
                        <td>@if (item.ComboItem_Name2 != null) { @item.ComboItem_Name2.Name}</td>
                        <td>@if (item.ComboItem_Name != null) { @item.ComboItem_Name.Name}</td>
                        <td>@item.TahminiBitis.Value.ToString("dd MMM yyyy")</td>
                        <td nowrap>
                            <a class="btn btn-info" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/ToDo/DutyWork/NewWork/@item.ID')"><span class="glyphicon glyphicon-floppy-save"></span>Çalışma</a>
                            <a class="btn btn-danger" href="javascript:;" onclick="Delete('@item.ID','/ToDo/Duties/List','liste','@item.ID')"> Sil </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<script language="text/javascript">
    function showEdit(ID)
    {
        $('#modalEditPage').modal('toggle');
        editInModal('/ToDo/Duties/Edit/'+ID)
    }
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers",
            "ordering": false,         
            "columnDefs": [
                { "width": "50px", "targets": 0 }
            ],
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            initComplete: function () {
                this.api().columns([1, 2, 3, 4, 6, 7]).every(function () {
                    var column = this;
                    var select = $('<br /><select class="form-control input-circle" style="max-width:100px;"><option value=""></option></select>')
                        .appendTo($(column.header()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
                    column.data().unique().sort().each(function (d, j) { select.append('<option value="' + d + '">' + d + '</option>') });
                });
            },           
        });

        $('#sample_1 tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) { row.child.hide(); tr.removeClass('shown'); }
            else { row.child(newrow(tr.data('id'))).show(); format(tr.data('id')); tr.addClass('shown'); }
        });

    });
</script>