@model IEnumerable<Gorevler>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Görevler Listesi
        </div>
        <div class="col-md-2 pull-right m-t-5">
            <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/ToDo/Duties/New')"> Yeni </a>
        </div>
    </div>
    <div class="portlet-body form p-40">
        <table class="table table-bordered table-striped table-condensed" id="sample_1">
            <thead class="flip-content">
                <tr>
                    <th></th>
                    <th>Çalışma</th>
                    <th>Firma</th>
                    <th>Proje</th>
                    <th>Form</th>
                    <th>Görev</th>
                    <th>Sorumlular</th>
                    <th>Öncelik</th>
                    <th>Durum</th>
                    <th>Görev Tipi</th>
                    <th>Departman</th>
                    <th>Tahmini Bitiş</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-ID="@item.ID" ondblclick="showEdit(@item.ID)">
                        <td><div style="display:flex;"><i class='fa fa-arrow-up list-up-down' onclick='DeleteElement(this)' style='color:green;'></i><i class='fa fa-arrow-down list-up-down' onclick='NewElement()'  style='color:red;'></i></div></td>
                        <td class="details-control"></td>
                        <td nowrap>@item.ProjeForm.Musteri.Firma</td>
                        <td nowrap>@item.ProjeForm.Proje</td>
                        <td nowrap>@item.ProjeForm.Form</td>

                        <td nowrap>@item.Gorev</td>
                        <td nowrap>
                            @{
                                if (item.Sorumlu2.IsNullEmpty())
                                {
                                    @item.Sorumlu
                                }
                                else if (item.Sorumlu3.IsNullEmpty())
                                {
                                    @(item.Sorumlu + " - " + item.Sorumlu2)
                                }
                                else
                                {
                                    @(item.Sorumlu + " - " + item.Sorumlu2 + " - " + item.Sorumlu3)
                                }
                            }
                        </td>

                        <td>@item.ComboItem_Name3.Name</td>
                        <td>@item.ComboItem_Name1.Name</td>
                        <td>
                            @if (item.ComboItem_Name2 != null)
                        { @item.ComboItem_Name2.Name}
                    </td>
                    <td>
                        @if (item.ComboItem_Name != null)
                    { @item.ComboItem_Name.Name}
                </td>
                <td>
                    @if (item.TahminiBitis != null)
                { @item.TahminiBitis.Value.ToString("dd-MM-yyyy")}
            </td>
            <td nowrap>
                <a class="btn btn-info" href="#modalEditPage" data-toggle="modal" onclick="DuzenleModal('@item.AktifPasif.ToString()' , '@item.ID')"><span class="glyphicon glyphicon-floppy-save"></span>Çalışma</a>
                <a class="btn btn-danger" href="javascript:;" onclick="SilModal('@item.AktifPasif.ToString()' ,'@item.ID')"> Sil </a>
            </td>
        </tr>
                                }
            </tbody>
            <tfoot class="tf-search">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>

        </table>
    </div>
</div>
<script language="text/javascript">
    function showEdit(ID) {
        $('#modalEditPage').modal('toggle');
        editInModal('/ToDo/Duties/Edit/' + ID)
    }
    $(document).ready(function () {
        $('#sample_1 .tf-search th').each(function () {
            var title = $('#sample_1 thead th').eq($(this).index()).text();
            if (title != "" && title != "Çalışma") {
                $(this).html('<input type="text" placeholder="' + title + ' Ara" />');
            }
        });
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers",
            "ordering": false,
            "columnDefs": [
                { "width": "50px", "targets": 0 }
            ],
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" }
        });
        $("#sample_1 tfoot input").on('keyup change', function () {
            table
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });
        $('#sample_1 .tf-search tr').insertAfter($('#sample_1 thead tr'))
        $('#sample_1 tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) { row.child.hide(); tr.removeClass('shown'); }
            else { row.child(newrow(tr.data('id'))).show(); format(tr.data('id')); tr.addClass('shown'); }
        });

    });

    function DuzenleModal(aktif, ID) {
        if (aktif == "False") {
            $('#modalEditPage').modal('toggle');
            Modaldialog("Görev aktif değil.", "Hata", "Tamam", "btn-danger");
            return;
        }
        else {
            editInModal('/ToDo/DutyWork/NewWork/' + ID);
        }

    }

    function SilModal(aktif, ID) {
        if (aktif == "False") {
            Modaldialog("Görev aktif değil.", "Hata", "Tamam", "btn-danger");
            return;
        }
        else {
            Delete('' + ID + '', '/ToDo/Duties/List', 'liste', '' + ID + '')
        }

    }
</script>