@model IEnumerable<Gorevler>
<table class="table table-bordered table-striped table-condensed" id="sample_1">
    <thead class="flip-content"><tr><th></th><th></th><th>Çalışma</th><th>Firma</th><th>Proje</th><th>Form</th><th>Görev</th><th>Sorumlular</th><th>Durum</th><th>Görev Tipi</th><th>Departman</th><th>Tahmini Bitiş<span class="hidden">Tarih</span></th><th></th></tr></thead>
    <tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
    <tfoot class="tf-search"><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-ID="@item.ID"@if (ViewBag.Yetki == true) {<text> ondblclick = "showEdit(@item.ID)" class = "clickable"</text>}>
                <td data="@item.OncelikID" data-id="@item.ID"><div style="display:flex;"><i class='fa fa-arrow-up list-up-down item-up' onclick='RowUp(this)' style='color:#a0e4a0;'></i><i class='fa fa-arrow-down list-up-down item-down' onclick='RowDown(this)'  style='color:#ec9696;'></i></div></td>
                <td></td>
                <td class="details-control"></td>
                <td>@item.ProjeForm.Musteri.Firma</td>
                <td>@item.ProjeForm.Proje</td>
                <td>@item.ProjeForm.Form</td>
                <td>@item.Gorev</td>
                <td nowrap>@item.Sorumlu @if (item.Sorumlu2 != null) { @(", " + item.Sorumlu2) } @if (item.Sorumlu3 != null) { @(", " + item.Sorumlu3) } </td>
                <td>@item.ComboItem_Name1.Name</td>
                <td>@if (item.ComboItem_Name2 != null) { @item.ComboItem_Name2.Name} </td>
                <td>@if (item.ComboItem_Name != null) { @item.ComboItem_Name.Name} </td>
                <td>@if (item.TahminiBitis != null) { @item.TahminiBitis.Value.ToString("dd.MM.yyyy")} </td>
                <td>@if (ViewBag.Yetki2 == true) {<a class="btn btn-danger" href="javascript:;" onclick="Delete('@item.ID', '/ToDo/Duties/List', 'liste', '')"> Sil </a>}</td>
            </tr>
        }
    </tbody>
</table>
<script language="text/javascript">
    var secili_table = new Array(); var eskiData = new Array(); var yeniData = new Array(); var selected = 0;
    $("tbody tr").each(function () { eskiData.push($(this).children("td").eq(1).text()); });
    var table = $('#sample_1').DataTable({
        "paging": false,
        "ordering": false,
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" }
    });
    table.on('order.dt search.dt', function () { table.column(1, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) { cell.innerHTML = i + 1; }); }).draw();
    $('#sample_1 .tf-search th').each(function () {
        var title = $('#sample_1 thead th').eq($(this).index()).text();
        if (title != "" && title.indexOf("Tarih") !== -1)
            $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
        else if (title != "" && title != "Çalışma" && title != "Sıra")
            $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
    });
    $("#sample_1 tfoot input").on('keyup change', function () { table.column($(this).parent().index() + ':visible').search(this.value).draw(); });
    $('#sample_1 tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);
        if (row.child.isShown()) { row.child.hide(); tr.removeClass('shown'); }
        else { row.child(newrow(tr.data('id'))).show(); format(tr.data('id')); tr.addClass('shown'); }
    });
    //tarih
    $.datepicker.setDefaults($.datepicker.regional["tr"]);
    $(".tarih").datepicker();
    @if (ViewBag.Yetki == true) {
        if (ViewBag.Tip == ComboItems.gydOnayVer.ToInt32()) {<text>
        $('#sample_1 tbody').on('click', 'tr', function () {
            table.rows('.selected').nodes().to$().removeClass('selected');
            $(this).toggleClass('selected');
            selected = $(this).closest('tr').data('id');
            $(".onayla-buton").removeClass('hidden');
            $(".reddet-buton").removeClass('hidden');
        });
        </text>}<text>
    function showEdit(ID) {
        $('#modalEditPage').modal('toggle');
        editInModal('/ToDo/Duties/Edit/' + ID);
    }
    function RowUp(item) {
        var sayac = 0;
        yeniData = [];
        if ($(item).closest('tr').prev().length == 1) {
            var tempOnc = $(item).closest('tr').prev().find("td").eq(0).attr("data");
            $(item).closest('tr').prev().find("td").eq(0).attr("data", $(item).closest('tr').find("td").eq(0).attr("data"));
            $(item).closest('tr').find("td").eq(0).attr("data", tempOnc);
            $(item).closest('tr').insertBefore($(item).closest('tr').prev())
        }
        $("tbody tr").each(function (index) { yeniData.push($(this).find("td").eq(0).attr("data-id")); });
        $.each(yeniData, function (index, value) { if (yeniData[index] != eskiData[index]) { sayac++; } });
        if (sayac > 0) { $(".oncelik-kayit-buton").removeClass('hidden'); }
        else { $(".oncelik-kayit-buton").addClass('hidden') }
    }
    function RowDown(item) {
        var sayac = 0;
        yeniData = [];
        if ($(item).closest('tr').next().length == 1) {
            var tempOnc = $(item).closest('tr').next().find("td").eq(0).attr("data");
            $(item).closest('tr').next().find("td").eq(0).attr("data", $(item).closest('tr').find("td").eq(0).attr("data"));
            $(item).closest('tr').find("td").eq(0).attr("data", tempOnc);
            $(item).closest('tr').insertAfter($(item).closest('tr').next())
        }
        $("tbody tr").each(function (index) { yeniData.push($(this).find("td").eq(0).attr("data-id")); });
        $.each(yeniData, function (index, value) { if (yeniData[index] != eskiData[index]) { sayac++; } });
        if (sayac > 0) { $(".oncelik-kayit-buton").removeClass('hidden'); }
        else { $(".oncelik-kayit-buton").addClass('hidden') }
    }
    function OncelikKaydet() {
        secili_table = [];
        $("tbody tr").each(function (index) {
            var jObject = {};
            jObject["ID"] = $(this).find("td").eq(0).attr("data-id");
            jObject["OncelikID"] = $(this).find("td").eq(0).attr("data");
            secili_table.push(jObject);
        });
        $.ajax({
            url: window.location.origin + "/ToDo/Duties/OncelikGuncelle",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",
            success: function (data) {
                if (data.Status == true) {
                    Modaldialog("İşlem Başarılı", "Güncelleme İşlemi", "Tamam", "btn-success");
                    FuncSearchBtn();
                }
                else if (data.Message != "" && data.Message != null)
                    Modaldialog(data.Message, 'Hata', 'Tamam', 'btn-danger');
                else
                    Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
            },
            error: function (data) {
                Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
            }
        });
    }
    function GorevOnay(tip) {
        if (selected == 0) return;
        $.ajax({
            url: window.location.origin + "/ToDo/Duties/GorevOnay",
            data: { Id: selected, Tip: tip },
            type: "post",
            success: function (data) {
                if (data.Status == true) {
                    Modaldialog("İşlem Başarılı", "Güncelleme İşlemi", "Tamam", "btn-success");
                    FuncSearchBtn();
                }
                else if (data.Message != "" && data.Message != null)
                    Modaldialog(data.Message, 'Hata', 'Tamam', 'btn-danger');
                else
                    Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
            },
            error: function (data) {
                Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
            }
        });
    }
    </text>}
    else
    {<text>
        table.columns([0]).visible(false, false);
    </text>}
</script>