@model USR01
@{
    ViewBag.Title = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout.Null.cshtml";
}<div class="login">
    <div class="logo"><a href="/"><img src="@Url.Content("~/Content/assets/layouts/layout/img/12MLogo.png")" alt="Crew" /></a></div>
    <div class="content">
        @using (Ajax.BeginForm("Login", "Security", new { }, new AjaxOptions{InsertionMode = InsertionMode.Replace,UpdateTargetId = "LoginFrom",OnSuccess = "ReturnPage"}, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h3 class="form-title">Login to your account</h3>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@Html.DisplayNameFor(a => a.Kod)</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    @Html.TextBoxFor(Model => Model.Kod, new { @class = "form-control placeholder-no-fix", placeholder = "Kullanıcı Adı" })
                    <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true" style="color:red;"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@Html.DisplayNameFor(a => a.Sifre)</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(Model => Model.Sifre, new { @class = "form-control placeholder-no-fix", placeholder = "Kullanıcı Şifresi" })
                    <span class="field-validation-valid" data-valmsg-for="Sifre" data-valmsg-replace="true" style="color:red;"></span>
                </div>
            </div>
            <div class="form-actions">
                <label class="rememberme mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" value="0" />     Beni hatırla
                    <span></span>
                </label>

                <button type="submit" class="btn green pull-right">Giriş</button>
            </div>
        }
    </div>
</div>
<div class="copyright">@DateTime.Today.Year &copy; 12M Consulting</div>
@section scripts {<script type="text/javascript">var Link = '@Url.Action("Index", "Home")';</script><script src="~/Content/View/Login.js"></script>}
