@model Wms12m.Entity.USER01
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>12M Consulting</title>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/css/plugins.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/pages/css/login-4.min.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var Link = '@Url.Action("Index", "Home")';
    </script>
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="login">
    <div class="logo">
        <a href="/">
            <img src="@Url.Content("~/Content/assets/layouts/layout/img/12MLogo.png")" alt="Crew" />
        </a>
    </div>
    <div class="content">
        @using (Ajax.BeginForm("Login", "Security", new { }, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "LoginFrom",
            OnSuccess = "ReturnPage"
        }, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h3 class="form-title">Login to your account</h3>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@Html.DisplayNameFor(a => a.UserName)</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    @Html.TextBoxFor(Model => Model.UserName, new { @class = "form-control placeholder-no-fix", placeholder = "Kullanıcı Adı" })
                    <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true" style="color:red;"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@Html.DisplayNameFor(a => a.Password)</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(Model => Model.Password, new { @class = "form-control placeholder-no-fix", placeholder = "Kullanıcı Şifresi" })
                    <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true" style="color:red;"></span>
                </div>
            </div>
            <div class="form-actions">
                <label class="rememberme mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" value="0" />     Beni hatırla
                    <span></span>
                </label>

                <button type="submit" class="btn green pull-right">Login</button>
            </div>
        }
    </div>
    <div class="copyright">@DateTime.Today.Year &copy; 12MConsilting</div>
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootbox/bootbox.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/backstretch/jquery.backstretch.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/assets/pages/scripts/login-4.min.js")" type="text/javascript"></script>*@
    <script src="~/Content/Scripts/_MessageBox.js"></script>
    <script src="~/Content/View/Login.js"></script>
</body>
</html>