@model User
@{
    ViewBag.Title = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout.Null.cshtml";
    Setting setts = ViewBag.settings;
}@section Styles{<link href="~/Content/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
}<div class="logo"><a href="/"><img src="~/Content/images/@setts.LoginLogo" alt="Crew" /></a></div>
<div class="content">
    @using (Ajax.BeginForm("Login", "Security", new { }, new AjaxOptions{InsertionMode = InsertionMode.Replace, OnSuccess = "ReturnPage"}, new { @class = "login-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <h3 class="form-title">Giriş Yap</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> Enter any username and password. </span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@Html.DisplayNameFor(a => a.Kod)</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                @Html.TextBoxFor(Model => Model.Kod, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = "Kullanıcı Adı", autocomplete = "off", required= "required" })
                <span class="field-validation-valid" data-valmsg-for="Kod" data-valmsg-replace="true" style="color:red;"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@Html.DisplayNameFor(a => a.Sifre)</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                @Html.PasswordFor(Model => Model.Sifre, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = "Şifre", autocomplete = "off", required = "required" })
                <span class="field-validation-valid" data-valmsg-for="Sifre" data-valmsg-replace="true" style="color:red;"></span>
            </div>
        </div>
        <div class="form-group">
            @if (setts.AllowForgotPass == true){<a href="javascript:;" id="forget-password" class="forget-password">Şifremi Unuttum</a>}
        </div>
        <div class="form-actions">
            <label class="rememberme check mt-checkbox mt-checkbox-outline">
                <input type="checkbox" name="RememberMe" value="1" />Beni hatırla
                <span></span>
            </label>
            <button type="submit" class="btn green uppercase pull-right">GİRİŞ YAP</button>
        </div>
        if (setts.AllowNewUser == true){<div class="create-account">
            <p>
                <a href="javascript:;" id="register-btn" class="uppercase">Yeni Hesap Oluştur</a>
            </p>
        </div>}
    }
    @if (setts.AllowForgotPass == true)
    {
        using (Ajax.BeginForm("Forgot", "Security", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "getresults" }, new { @class = "forget-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h3 class="font-green">Şifre Hatırlatma</h3>
            <p>Email adresinizi yazınız</p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn green btn-outline">Geri</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Gönder</button>
            </div>
        }
    }
    @if (setts.AllowNewUser == true)
    {
        using (Ajax.BeginForm("New", "Security", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "getresults" }, new { @class = "register-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h3 class="font-green">Kayıt Ol</h3>
            <p class="hint"> Lütfen bilgilerinizi yazınız: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Ad Soyad</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Ad Soyad" name="fullname" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Şifre</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Şifre" name="password" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Şifre</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Şifre" name="rpassword" />
            </div>
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn green btn-outline">Geri</button>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Kaydet</button>
            </div>
        }
    }
</div>
<div class="copyright">@DateTime.Today.Year &copy; <a href="http://www.12mconsulting.com.tr/" title="12M Consulting" target="_blank">12M Consulting</a></div>
@section scripts {<script src="~/Content/assets/pages/scripts/login.min.js"></script>
    <script type="text/javascript">
        $('#Kod').focus();
        function ReturnPage(data) {
            if (data.data) {
                window.location.href = '/';
                $("#div_loading").show();
            }
            else
                Modaldialog('Lütfen bilgilerinizi kontrol edin', 'Login İşlemi', 'Kapat', 'btn-warning');
        }
        function getresults(data) {
            Modaldialog(data.Message, data.data, 'Kapat', 'btn-default');
        }
    </script>}
