@model Troubleshooting
@{
    ViewBag.Title = "Troubleshooting İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <style>.control-label {text-align: right;color: black;}</style>
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><a href="javascript:;">Görevler</a><i class="fa fa-circle"></i></li><li><span>Troubleshooting İşlemleri</span></li></ul></div>
<h1 class="page-title">Troubleshooting İşlemleri</h1>
<div class="row">
    <div class="col-md-12">
        <div class="row" id="CreateEdit">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Troubleshooting Ekle
                        </div>
                    </div>
                    <div class="portlet-body form">
                        @using (Ajax.BeginForm("Save", "Troubleshooting", new { area = "ToDo" }, new AjaxOptions { OnSuccess = "getresult", HttpMethod = "post", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(model => model.ID, new { @class = "ID" })
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Konu, "Konu", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.Konu, 2, 55, new { @class = "form-control input-circle txar-cal", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Konu, "", new { @class = "text-danger" })
                                    </div>
                                </div> 
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Aciklama, "Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.Aciklama, 6, 55, new { @class = "form-control input-circle txar-cal", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                                    </div>
                                </div>                             
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-circle green">@(Model.ID > 0 ? "Düzenle" : "Ekle")</button>
                                        <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="CreateEdit('0')">Temizle</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div> 
    <div id="liste"></div>
</div>
</div>

@section Scripts{
    <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var DeleteFunctionUrl = '/ToDo/Troubleshooting/Delete';
    $(document).ready(function () {

        PartialView("/ToDo/Troubleshooting/List", 'liste');
    });
    function getresult(data) {
        if (data.Status == false)
            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
        else {
            Modaldialog("Kaydedildi", "Başarı", "Tamam", "btn-success");
            CreateEdit('0');
            PartialView('/ToDo/Troubleshooting/List', 'liste');
        }
    };
    function CreateEdit(Id) 
    {
        if (Id == 0) {
            $(".ID").val("0");
            $("#Konu").val("");
            $("#Aciklama").val("");
            $("#CreateEdit .caption").text("Troubleshooting Ekle");
            $("#CreateEdit [type='submit']").text("Ekle");
        }
        else
        {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            PartialView("/ToDo/Troubleshooting/Edit", 'CreateEdit', JSON.stringify({ Id: Id }));
        }
    }
</script>
}