@model List<SMSiparisOnaySelect>
@{
    ViewBag.Title = ViewBag.baslik + " Sipariş Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onaylama</span><i class="fa fa-circle"></i></li><li><span>Sipariş</span></li></ul></div>
<h1 class="page-title">Sipariş @ViewBag.baslik</h1>
<div class="row">
    <div class="col-md-12"  style="width:100%;">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Sipariş Onay @ViewBag.baslik
                </div>
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-default pull-right input-circle yenile-buton glyphicon glyphicon-refresh"> Yenile </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-success pull-right input-circle onay-buton glyphicon glyphicon-ok"> Onayla </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-danger pull-right input-circle reddet-buton glyphicon glyphicon-remove"> Reddet </button></div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered" id="sample_1">
                    <thead><tr><th></th><th>Evrak No </th><th>Tarih </th><th>Hesap Kodu </th><th>Ünvan </th><th>Teslim Yeri Kodu </th><th>Teslim Yeri Ünvan</th><th>Sipariş Tutarı</th><th>Sipariş CHK Bakiyesi</th><th>Bakiye</th><th>Risk Bakiyesi</th><th>Toplam Bakiye</th><th>Toplam Değişim Çek Bakiyesi</th><th>Şahsi Çek Limiti</th><th>Şahsi Çek Riski</th><th>Bekleyen Sipariş Tutarı</th><th>Teminat</th><th>Teminat Alt Bayi</th></tr></thead>
                    <tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
                    <tfoot class="tf-search"><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr onclick="toggle(this, '@item.EvrakNo')">
                                <td nowrap class="select-checkbox"></td>
                                <td nowrap> @item.EvrakNo</td>
                                <td nowrap>@item.Tarih</td>
                                <td nowrap>@item.Chk</td>
                                <td nowrap> @item.Unvan</td>
                                <td nowrap>@item.TeslimYeriKodu</td>
                                <td nowrap>@item.TeslimYeriUnvan</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.SiparisTutari)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.IslemYapılanCHKBakiye)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.Bakiye)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.RiskBakiyesi)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.ToplamBakiye)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.DegisimToplamBakiye)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.SahsiCekLimiti)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.SahsiCekRiski)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.BekleyenSiparisTutari)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.Teminat)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.TeminatAltBayi)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var secili_table = new Array();
        $(document).ready(function () {
            table = $('#sample_1').DataTable({
                "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
                "order": [[1, "desc"]],
                "pagingType": "full_numbers"
            });
            $('#sample_1 .tf-search th').each(function ()
            {
                var title = $('#sample_1 thead th').eq($(this).index()).text();
                if (title != "" && title.indexOf("Tarih") !== -1)
                    $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
                else if (title != "" && title != "Detay" && title != "Hareket")
                    $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
            });
            $("#sample_1 tfoot input").on('keyup change', function () { table.column($(this).parent().index() + ':visible').search(this.value).draw(); });
            //tarih
            $.datepicker.setDefaults($.datepicker.regional["tr"]);
            $(".tarih").datepicker();
            $("#buttons").html("");
            var buttons = new $.fn.dataTable.Buttons(table, {
                buttons: [
                    { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
                    { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
                ]
            }).container().appendTo($('#buttons'));
            $('.onay-buton').click(function (e) {
                var x = table.rows('.selected').data();
                for (var i = 0; i < x.length; i++) {
                    secili_table.push(x[i][1]);
                }
                var _dfd = $.Deferred();
                $.ajax({
                    url: window.location.origin + "/Approvals/Order/Onay",
                    data: { Data: JSON.stringify(secili_table), OnaylandiMi: true, OnayTip: @ViewBag.OnayTip },
                    type: "post",
                    success: function (data) {
                        if (data.Status == true) {
                            Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-succes");
                            setTimeout(function () { window.location.reload(); }, 500);
                        }
                        else {
                            if (data.Message == "") data.Message = "Hata oluştu";
                            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                            setTimeout(function () { window.location.reload(); }, 500);
                        }

                    }
                });
                return _dfd.promise();
            });
            $('.reddet-buton').click(function (e) {
                var x = table.rows('.selected').data();
                for (var i = 0; i < x.length; i++) {
                    secili_table.push(x[i][1]);
                }
                var _dfd = $.Deferred();
                $.ajax({
                    url: window.location.origin + "/Approvals/Order/Onay",
                    data: { Data: JSON.stringify(secili_table), OnaylandiMi: false, OnayTip: @ViewBag.OnayTip },
                    type: "post",
                    success: function (data) {
                        if (data.Status == true) {
                            Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-succes");
                            setTimeout(function () { window.location.reload(); }, 500);
                        }
                        else {
                            if (data.Message == "") data.Message = "Hata oluştu";
                            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                            setTimeout(function () { window.location.reload(); }, 500);
                        }

                    }
                });
                return _dfd.promise();
            });
            $('.yenile-buton').click(function (e) {
               window.location.reload(); 
            });
        });
        function toggle(row, id) {
            $(row).toggleClass('selected');
        }
    </script>
}
