
@model List<SMSiparisOnaySelect>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}


<div class="col-md-12" style="width:100%;">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box green">

        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Sipariş Onay SM
            </div>
            <div class="col-md-1 pull-right m-t-5" id="SMYenile">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Yenile </a>
            </div>
            <div class="col-md-1 pull-right m-t-5" id="SMOnayla">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Onayla </a>
            </div>
            <div class="col-md-1 pull-right m-t-5" id="SMReddet">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Reddet </a>
            </div>
        </div>

        <div class="portlet-body">


            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>

                        <th> Evrak No </th>
                        <th> Tarih </th>
                        <th> Hesap No </th>
                        <th> Ünvan </th>
                        <th> Teslim Yeri Kodu </th>
                        <th>Teslim Yeri Ünvan</th>
                        <th>Sipariş Tutarı</th>
                        <th>Bakiye</th>
                        <th>Risk Bakiyesi</th>
                        <th>Toplam Bakiye</th>
                        <th>Şahsi Çek Limiti</th>
                        <th>Şahsi Çek Riski</th>
                        <th>Müşteri Çek Limiti</th>
                        <th>Müşteri Çek Riski</th>
                        <th>Bekleyen Sipariş Tutarı</th>
                        <th>Teminat</th>
                        <th>Teminat Alt Bayi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr onclick="toggle(this, '@item.EvrakNo')">

                            <td> @item.EvrakNo</td>
                            <td>
                                @item.Tarih
                            </td>
                            <td>
                                @item.HesapNo
                            </td>
                            <td> @item.Unvan</td>
                            <td>
                                @item.TeslimYeriKodu
                            </td>
                            <td>
                                @item.TeslimYeriUnvan
                            </td>
                            <td>
                                @item.SiparisTutari
                            </td>
                            <td>
                                @item.Bakiye
                            </td>
                            <td>@item.RiskBakiyesi</td>
                            <td>@item.ToplamBakiye</td>
                            <td>@item.SahsiCekLimiti</td>
                            <td>@item.SahsiCekRiski</td>
                            <td>@item.MusteriCekLimiti</td>
                            <td>@item.MusteriCekRiski</td>
                            <td>@item.BekleyenSiparisTutari</td>
                            <td>@item.Teminat</td>
                            <td>@item.TeminatAltBayi</td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
<div class="row">
    <input type="hidden" name="checkboxes" id="checkboxes" value="" />
</div>
<script>
    var selected = "";
    var secili_table = new Array();
    $(document).ready(function () {
        var model =  @Html.Raw(serializer.Serialize(Model));

        table=$('#sample_1').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } });


        $('#SMOnayla').click(function (e) {

            var x = table.rows('.selected').data();
            for (var i = 0; i < x.length; i++) {
                secili_table.push(x[i][0]);
            }
            var _dfd = $.Deferred();
            $.ajax({
                url: window.location.origin + "/Approval/Siparis_Onay",
                data: { Data: JSON.stringify(secili_table), OnaylandiMi: true, OnayTip: 1 },
                type: "post",
                success: function (data) {
                    if (data.Status == true) {
                        Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                    }
                    else {
                        if (data.Message == "") data.Message = "Hata oluştu";
                        Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                    }

                }
            });
            return _dfd.promise();
        });
        $('#SMReddet').click(function (e) {

            var x = table.rows('.selected').data();
            for (var i = 0; i < x.length; i++) {
                secili_table.push(x[i][0]);
            }
            var _dfd = $.Deferred();
            $.ajax({
                url: window.location.origin + "/Approval/Siparis_Onay",
                data: { Data: JSON.stringify(secili_table), OnaylandiMi: false, OnayTip: 1 },
                type: "post",
                success: function (data) {

                }
            });
            return _dfd.promise();
        });

        $('#SMYenile').click(function (e) {
            window.location.href = '/Approval/Siparis_SM';

        });



    });
    function toggle(row, id) {
        $(row).toggleClass('selected');
        if ($(row).hasClass('selected') == true) selected = selected + id + "#";
        else selected = selected.replace(id + "#", "");
        $("#checkboxes").val(selected);
    }


</script>
