@model List<SMSiparisOnaySelect>
@{
    ViewBag.Title = "SPGMY Sipariş Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li></li></ul></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">

            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Sipariş Onay SPGMY
                </div>
                <div class="col-md-1 pull-right m-t-5" id="SPGMYYenile">
                    <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Yenile </a>
                </div>
                <div class="col-md-1 pull-right m-t-5" id="SPGMYOnayla">
                    <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Onayla </a>
                </div>
                <div class="col-md-1 pull-right m-t-5" id="SPGMYReddet">
                    <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Reddet </a>
                </div>
            </div>

            <div class="portlet-body">


                <table class="table table-striped table-bordered" id="sample_1">
                    <thead>
                        <tr>
                            <th nowrap></th>
                            <th nowrap> Evrak No </th>
                            <th nowrap> Tarih </th>
                            <th nowrap> Hesap Kodu </th>
                            <th nowrap> Ünvan </th>
                            <th nowrap> Teslim Yeri Kodu </th>
                            <th nowrap>Teslim Yeri Ünvan</th>
                            <th nowrap>Sipariş Tutarı</th>
                            <th nowrap>Bakiye</th>
                            <th nowrap>Risk Bakiyesi</th>
                            <th nowrap>Toplam Bakiye</th>
                            <th nowrap>Şahsi Çek Limiti</th>
                            <th nowrap>Şahsi Çek Riski</th>
                            <th nowrap>Müşteri Çek Limiti</th>
                            <th nowrap>Müşteri Çek Riski</th>
                            <th nowrap>Bekleyen Sipariş Tutarı</th>
                            <th nowrap>Teminat</th>
                            <th nowrap>Teminat Alt Bayi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                            <tr onclick="toggle(this, '@item.EvrakNo')">
                                <td nowrap class="select-checkbox"></td>
                                <td nowrap> @item.EvrakNo</td>
                                <td nowrap>
                                    @item.Tarih
                                </td>
                                <td nowrap>
                                    @item.Chk
                                </td>
                                <td nowrap> @item.Unvan</td>
                                <td nowrap>
                                    @item.TeslimYeriKodu
                                </td>
                                <td nowrap>
                                    @item.TeslimYeriUnvan
                                </td>
                                <td nowrap align="right">
                                    @String.Format("{0:n}", item.SiparisTutari)
                                </td>
                                <td nowrap align="right">
                                    @String.Format("{0:n}", item.Bakiye)
                                </td>
                                <td nowrap align="right">@String.Format("{0:n}", item.RiskBakiyesi)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.ToplamBakiye)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.SahsiCekLimiti)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.SahsiCekRiski)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.MusteriCekLimiti)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.MusteriCekRiski)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.BekleyenSiparisTutari)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.Teminat)</td>
                                <td nowrap align="right">@String.Format("{0:n}", item.TeminatAltBayi)</td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@section Scripts{
<link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/assets/global/scripts/datatable.js"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
<script>
    var secili_table = new Array();
    $(document).ready(function () {
        table = $('#sample_1').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } });
        $('#SPGMYOnayla').click(function (e) {

            var x = table.rows('.selected').data();
            for (var i = 0; i < x.length; i++) {
                secili_table.push(x[i][1]);
            }
            var _dfd = $.Deferred();
            $.ajax({
                url: window.location.origin + "/Approvals/Order/Onay",
                data: { Data: JSON.stringify(secili_table), OnaylandiMi: true, OnayTip: 2 },
                type: "post",
                success: function (data) {
                    if (data.Status == true) {
                        Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }
                    else {
                        if (data.Message == "") data.Message = "Hata oluştu";
                        Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }
                }
            });
            return _dfd.promise();
        });
        $('#SPGMYReddet').click(function (e) {

            var x = table.rows('.selected').data();
            for (var i = 0; i < x.length; i++) {
                secili_table.push(x[i][1]);
            }
            var _dfd = $.Deferred();
            $.ajax({
                url: window.location.origin + "/Approvals/Order/Onay",
                data: { Data: JSON.stringify(secili_table), OnaylandiMi: false, OnayTip: 2 },
                type: "post",
                success: function (data) {
                    if (data.Status == true) {
                        Modaldialog(data.Message, "Red İşlemi", "Tamam", "Red");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }
                    else {
                        if (data.Message == "") data.Message = "Hata oluştu";
                        Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }

                }
            });
            return _dfd.promise();
        });

        $('#SPGMYYenile').click(function (e) {
           window.location.reload();

        });
    });
    function toggle(row, id) {
        $(row).toggleClass('selected');
        setTimeout(function () { $("td").removeClass('sorting_1'); }, 0);
    }
    $('#sample_1').on('draw.dt', function () {
        setTimeout(function () { $("td").removeClass('sorting_1'); }, 0);
    });
</script>
}
