@model List<FiyatOnayGMSelect>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<div class="col-md-12" style="width:100%;">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Fiyat Onay SM
            </div>
            <div class="col-md-2 pull-right m-t-5">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Yenile </a>
            </div>
            <div class="col-md-2 pull-right m-t-5">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Onayla </a>
            </div>
            <div class="col-md-2 pull-right m-t-5">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Reddet </a>
            </div>
            <div class="col-md-2 pull-right m-t-5">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Tümünü Seç </a>
            </div>
            <div class="col-md-2 pull-right m-t-5">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Tümünü Kaldır </a>
            </div>
        </div>

        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group pull-right">
                            <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                                Tools
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-print"></i> Print
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-pdf-o"></i> Save as PDF
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-excel-o"></i> Export to Excel
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        <th> Liste No </th>
                        <th> Durum </th>
                        <th> Ürün Kodu </th>
                        <th> Ürün Adı </th>
                        <th> Müşteri Kodu </th>
                        <th>Ünvan</th>
                        <th>Satış Fiyat1</th>
                        <th>Satış Fiyat1 Birim</th>
                        <th>Döviz Satış Fiyat</th>
                        <th>Döviz Satış Fiyat1 Birim</th>
                        <th>Döviz Cinsi</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>
                            <td> @item.FiyatListNum</td>
                            <td>
                                @item.Durum
                            </td>
                            <td>
                                @item.MalKodu
                            </td>
                            <td> @item.MalAdi</td>
                            <td>
                                @item.HesapKodu
                            </td>
                            <td>
                                @item.Unvan
                            </td>
                            <td>
                                @item.SatisFiyat1
                            </td>
                            <td>
                                @item.SatisFiyat1Birim
                            </td>
                            <td>@item.DovizSatisFiyat1</td>
                            <td>@item.DovizSF1Birim</td>
                            <td>@item.DovizCinsi</td>


                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var model =  @Html.Raw(serializer.Serialize(Model));
        $('#sample_1').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } });
    });
</script>