
@model List<SMSiparisOnaySelect>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}


<div class="col-md-12" style="width:100%;">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box green">

        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Sipariş Onay GM
            </div>
            <div class="col-md-1 pull-right m-t-5" id="GMYenile">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Yenile </a>
            </div>
            <div class="col-md-1 pull-right m-t-5" id="GMOnayla">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Onayla </a>
            </div>
            <div class="col-md-1 pull-right m-t-5" id="GMReddet">
                <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal"> Reddet </a>
            </div>
        </div>

        <div class="portlet-body">


            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>

                        <th> Evrak No </th>
                        <th> Tarih </th>
                        <th> Hesap No </th>
                        <th> Ünvan </th>
                        <th> Teslim Yeri Kodu </th>
                        <th>Teslim Yeri Ünvan</th>
                        <th>Sipariş Tutarı</th>
                        <th>Bakiye</th>
                        <th>Risk Bakiyesi</th>
                        <th>Toplam Bakiye</th>
                        <th>Şahsi Çek Limiti</th>
                        <th>Şahsi Çek Riski</th>
                        <th>Müşteri Çek Limiti</th>
                        <th>Müşteri Çek Riski</th>
                        <th>Bekleyen Sipariş Tutarı</th>
                        <th>Teminat</th>
                        <th>Teminat Alt Bayi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr onclick="toggle(this, '@item.EvrakNo')">

                            <td> @item.EvrakNo</td>
                            <td>
                                @item.Tarih
                            </td>
                            <td>
                                @item.HesapNo
                            </td>
                            <td> @item.Unvan</td>
                            <td>
                                @item.TeslimYeriKodu
                            </td>
                            <td>
                                @item.TeslimYeriUnvan
                            </td>
                            <td>
                                @item.SiparisTutari
                            </td>
                            <td>
                                @item.Bakiye
                            </td>
                            <td>@item.RiskBakiyesi</td>
                            <td>@item.ToplamBakiye</td>
                            <td>@item.SahsiCekLimiti</td>
                            <td>@item.SahsiCekRiski</td>
                            <td>@item.MusteriCekLimiti</td>
                            <td>@item.MusteriCekRiski</td>
                            <td>@item.BekleyenSiparisTutari</td>
                            <td>@item.Teminat</td>
                            <td>@item.TeminatAltBayi</td>

                        </tr>
                    }
                </tbody>
            </table>

            </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
<div class="row">
    <input type="hidden" name="checkboxes" id="checkboxes" value="" />
</div>
<script>
        $(document).ready(function () {
        //Globalize.locale('tr');
            var model =  @Html.Raw(serializer.Serialize(Model));
            console.log(model);
            $('#sample_1').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } });

            //$(".btn-listele").dxButton({
            //    onClick: function () {

            //        var CekListesiRaporuUrl = "/Rapor/PartialCekListesi";
            //        PartialView(CekListesiRaporuUrl, 'cek-listesi-grid', JSON.stringify({ pozisyon: pozisyon, ay: ay, yil: yil }));
            //    }
            //});

            $('#GMOnayla').click(function (e) {

                var evrakno = $.trim($(".selected").find("td").first().text());

                $.ajax({
                    url: "/OnaySiparis/SiparisOnay",
                    type: 'POST',
                    async: false,
                    data: JSON.stringify({ EvrakNo: evrakno, OnaylandiMi: true, OnayTip: 3 }),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        console.log(data);
                        if (data.Id == 0) {
                            if (data.Message == "") data.Message = "Hata oluştu";
                            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        }
                    }
                });

                $('#GMReddet').click(function (e) {

                    var evrakno = $.trim($(".selected").find("td").first().text());

                    $.ajax({
                        url: "/OnaySiparis/SiparisOnay",
                        type: 'POST',
                        async: false,
                        data: JSON.stringify({ EvrakNo: evrakno, OnaylandiMi: false, OnayTip: 3 }),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            console.log(data);
                            if (data.Id == 0) {
                                if (data.Message == "") data.Message = "Hata oluştu";
                                Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                            }
                        }
                    });


                //console.log(a);
                //var SiparisGMOnaylamaURL = "/OnaySiparis/SiparisOnay";
                //PartialView(SiparisGMOnaylamaURL, JSON.stringify({ EvrakNo: evrakno, OnaylandiMi: true, OnayTip: 3 }));

                //var result = false;
                //table.rows(".selected").every(function (rowIdx, tableLoop, rowLoop) {
                //    result = true;
                //});
                //if (result == true) $("#GMOnayla").click();
                //else Modaldialog("Lütfen sipariş seçin", "Hata", "Tamam", "btn-danger");
            });



    });

    function toggle(row, id) {
        $(row).toggleClass('selected');
        if ($(row).hasClass('selected') == true) selected = selected + id + "#";
        else selected = selected.replace(id + "#", "");
        $("#checkboxes").val(selected);
    }


</script>
