@model Store01  
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>@(Model.ID > 0 ? Model.DepoAdi + "  Depo Kartı Düzenle" : "Depo Ekle")
                </div>
            </div>
            <div class="portlet-body form">
                @using (Ajax.BeginForm("StoreOperation", "Storage", new { }, new AjaxOptions{InsertionMode = InsertionMode.Replace,UpdateTargetId = "StoreFrom",OnSuccess = "StoreReturn"}, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-body">                      
                        <div class="form-group">
                            <label class="col-md-3 control-label">Depo Kodu</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(a => a.DepoKodu, new { @class = "form-control input-circle", @placeholder = "Depo Kodu" })
                                <span class="field-validation-valid" data-valmsg-for="StoreCode" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Depo adı</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(a => a.DepoAdi, new { @class = "form-control input-circle", @placeholder = "Depo adı" })
                                <span class="field-validation-valid" data-valmsg-for="StoreName" data-valmsg-replace="true" style="color:red;"></span>
                            
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Sıra</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(a => a.SiraNo, new { @id = "touchspin_11", @class = "form-control" })                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Durum</label>
                            <div class="col-md-4">
                                @Html.CheckBoxFor(a => a.Aktif, new { @value = false , @class = "make-switch", @data_size = "normal", @data_on_color = "success", @data_off_text = "Pasif", @data_on_text = "Aktif", @data_off_color = "danger" })

                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(a => a.ID)
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">@(Model.ID > 0 ? "Düzenle" : "Ekle")</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="CreateEdit('0')">Temizle</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".make-switch").bootstrapSwitch();
    $('.make-switch').on('switchChange.bootstrapSwitch', function (e, data) {
        $(".make-switch").val(data)
    });
    $(document).ready(function () {
        @if (@Model.Aktif == false) { <text> $('input[type=checkbox]').prop("checked", true).trigger("change"); </text>}
    });
</script>