@model TK_DEP
@{
    ViewBag.Title = "Depo Kartı işlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css")" rel="stylesheet" type="text/css" />
<h3 class="page-title">Depo İşlemleri</h3>
<div class="row">
    <div class="col-lg-12">
        <div class="row" id="CreateEdit">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>@(Model.ID > 0 ? Model.Depo + "  Depo Kartı Düzenle" : "Depo Ekle")
                        </div>
                    </div>
                    <div class="portlet-body form">
                        @using (Ajax.BeginForm("StoreOperation", "Storage", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "StoreFrom", OnSuccess = "StoreReturn" }, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(a => a.ID)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Depo Kodu</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(a => a.DepoKodu, new { @class = "form-control input-circle", @placeholder = "Depo Kodu", required = "required" })
                                        <span class="field-validation-valid" data-valmsg-for="StoreCode" data-valmsg-replace="true" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Depo adı</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(a => a.Depo, new { @class = "form-control input-circle", @placeholder = "Depo adı", required = "required" })
                                        <span class="field-validation-valid" data-valmsg-for="StoreName" data-valmsg-replace="true" style="color:red;"></span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sıra</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(a => a.SiraNo, new { @id = "touchspin_11", @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Durum</label>
                                    <div class="col-md-4">
                                        @Html.CheckBoxFor(a => a.Aktif, new { @value = false, @class = "make-switch", @data_size = "normal", @data_on_color = "success", @data_off_text = "Pasif", @data_on_text = "Aktif", @data_off_color = "danger" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-circle green">@(Model.ID > 0 ? "Düzenle" : "Ekle")</button>
                                        <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="CreateEdit('0')">Temizle</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Depo Kart Listesi
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <label class="col-sm-1">
                                    <label style="color:#32c5d2;">Durum</label>
                                </label>
                                <label class="col-sm-1 radio-inline">
                                    <input type="radio" name="Locked" value="Locked" /> Aktif
                                </label>
                                <label class="col-sm-1 radio-inline">
                                    <input type="radio" name="Locked" value="noLocked" /> Pasif
                                </label>
                                <label class="col-sm-1 radio-inline">
                                    <input type="radio" name="Locked" value="All" checked /> Tümü
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="StoreGrid" style="padding:8px;"></div>
                </div>
            </div>           
        </div>
    </div>
</div>
@section Scripts{
<script type="text/javascript">
    var StoreGridUrl = '@Url.Action("StoreGridPartial", "Storage")';
    var StoreDetailUrl = '@Url.Action("StoreDetailPartial", "Storage")';
    var DeleteFunctionUrl = '@Url.Action("Delete", "Storage")';
    var StoreListUrl = '@Url.Action("StoreList", "Corridor")';
    $(document).ready(function () {
        $(".make-switch").bootstrapSwitch();
        $('.make-switch').on('switchChange.bootstrapSwitch', function (e, data) { $(".make-switch").val(data) });
        @if (@Model.Aktif == false) { <text> $('input[type=checkbox]').prop("checked", true).trigger("change"); $(".make-switch").val(true);</text>}
        $('[name="Locked"]').click(function () { FuncSearchBtn(); });
        FuncSearchBtn();
    });
    function StoreReturn(Data) {
        FuncSearchBtn();
        if (Data.Status == false) Modaldialog(Data.Message, "Hata", "Tamam", "btn-warning");
        CreateEdit('0');
    }
    function CreateEdit(Id) {
        PartialView(StoreDetailUrl, 'CreateEdit', JSON.stringify({ Id: Id }));
    }
    function FuncSearchBtn() {
        var Type = $("input[type='radio'][name='Locked']:checked").val();
        PartialView(StoreGridUrl, 'StoreGrid', JSON.stringify({ Id: Type }));
    }
</script>
<script src="@Url.Content("~/Content/assets/global/plugins/fuelux/js/spinner.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/scripts/app.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/pages/scripts/components-bootstrap-touchspin.min.js")" type="text/javascript"></script>
}