@model IEnumerable<User>
@{
    ViewBag.Title = "Kullanıcı İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<h3 class="page-title">Kullanıcı İşlemleri</h3>
<div class="row">
    <div class="col-md-12">
        <div class="row" id="CreateEdit">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Kullanıcı Listesi
                        </div>
                        <div class="col-md-2 pull-right m-t-5">
                            <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Users/New')"> Yeni </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div id="theGrid" style="padding:8px;">
                            @using (Html.BeginForm("Save", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <table class="table table-striped table-bordered table-hover" id="sample_1">
                                    <thead><tr><th>Sirket</th><th>Kod</th><th>AdSoyad</th><th>Admin</th><th>Aktif</th><th></th></tr></thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Sirket)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Kod)</td>
                                                <td>@Html.DisplayFor(modelItem => item.AdSoyad)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Admin)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Aktif)</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false">İşlemler<i class="fa fa-angle-down"></i></button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a  href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Users/Depo/@item.ID')"> Depoya Ata </a></li>
                                                            <li><a href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Users/Pass/@item.ID')"> Şifre Değiştir </a></li>
                                                            <li><a href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Users/Edit/@item.ID')"><i class="fa fa-pencil"></i> Düzenle </a></li>
                                                            <li class="divider"> </li>
                                                            <li><a class="danger" href="javascript:;" onclick="Delete('@item.ID','','theGrid','', '')"><i class="fa fa-trash-o"></i> Sil </a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script type="text/javascript">var DeleteFunctionUrl = '@Url.Action("Delete", "Users")';</script>}