@model List<IRS_Detay>
@if (ViewBag.message != null)
{
    @ViewBag.message
}
else
{
    using (Ajax.BeginForm("InsertMalzeme", "Purchase", new { area = "WMS" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "StoreGrid", OnSuccess = "getresult", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "form-horizontal" }))
    {
        <table class="table table-striped table-bordered table-hover" id="sample_7">
            <thead><tr><th></th><th>Malzeme Kodu</th><th>Malzeme Adı</th><th>Miktar</th><th>Birim</th><th>Makara No</th><th>İşlem</th></tr></thead>
            <tbody id="StoreFrom">
                @{if (ViewBag.Onay == false) { Html.RenderAction("NewMalzemeForm", new { id = ViewBag.IrsaliyeId }); } }
                @foreach (var item in Model)
                {
                    <tr id="tr@{@item.ID}">
                        <td></td>
                        <td>@item.MalKodu</td>
                        <td>@item.MalKodu</td>
                        <td align="right" id="miktar@{@item.ID}">@String.Format("{0:n}", item.Miktar)</td>
                        <td>@item.Birim</td>
                        <td id="makara@{@item.ID}">@item.MakaraNo</td>
                        <td>
                            @if (ViewBag.Onay == false)
                            {
                                <a class="btn btn-default input-circle" href="javascript:;" id="btnEdit@{@item.ID}" onclick="editlist(@item.ID)"> Değiştir </a>
                                <a class="btn btn-danger input-circle" href="javascript:;" id="btnDelete@{@item.ID}" onclick="Delete('@item.ID','/WMS/Purchase/GridPartial','StoreGrid','@ViewBag.IrsaliyeId', '')"> Sil </a>
                                <a class="btn btn-primary input-circle" id="btnSave@{@item.ID}" href="javascript:;" onclick="savelist(@item.ID)" style="display:none;"> Kaydet </a>
                                <a class="btn btn-danger input-circle" id="btnCancel@{@item.ID}" href="javascript:;" onclick="cancellist(@item.ID,'@String.Format("{0:n}", item.Miktar)','@item.MakaraNo')" style="display:none;"> İptal </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <input type="hidden" id="IrsNo" value="@ViewBag.IrsaliyeId" />
    <script>
        disableAll()
        @{ if (ViewBag.Onay == false && ViewBag.Yetki == true) { <text>$(".showlater").show();</text> } else { <text>$(".showlater").hide();</text> } }
        $("#MalKodu").focus();
        $(document).ready(function () {
            $("#MalKodu").autocomplete({
                source: "/WMS/Purchase/GetMalzemebyCode",
                minLength: 2,
                select: function (event, ui)
                {
                    setTimeout(function () { $("#MalKodu").val(ui.item.id); $("#MalAdi").val(ui.item.value); getBirims(ui.item.id); }, 50);
                }
            });
            $("#MalAdi").autocomplete({
                source: "/WMS/Purchase/GetMalzemebyName",
                minLength: 2,
                select: function (event, ui)
                {
                    setTimeout(function () { $("#MalKodu").val(ui.item.id); $("#MalAdi").val(ui.item.value); getBirims(ui.item.id); }, 50);
                }
            });
            var table = $('#sample_7').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } });
            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    @if (ViewBag.Onay == false) { <text>if (i > 0) cell.innerHTML = i;</text> }else{ <text>cell.innerHTML = i + 1;</text> }
                });
            }).draw();
            $('#btnActivate').click(function ()
            {
                if (table.rows().count() > 1)
                {
                    $.ajax({
                        url: "/WMS/Purchase/Activate",
                        data: JSON.stringify({ ID: @ViewBag.IrsaliyeId }),
                        type: 'POST',
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data)
                        {
                            if (data.Status == false)
                            {
                                Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                            }
                            else
                            {
                                Modaldialog("Görev onaylandı", "Başarı", "Tamam", "btn-success");
                                $('#submitForm').click();
                            }
                        }
                    });
                }
                else {
                    Modaldialog("Görev kaydı için gönderilen liste boş !", "Hata", "Tamam", "btn-danger");
                }
            });
        });
        function savelist(id)
        {
            $.ajax({
                url: "/WMS/Purchase/UpdateList",
                data: JSON.stringify({ ID: id, M: $("#txtMiktar" + id).val().replace(",", "."), mNo: $("#txtMakara" + id).val() }),
                type: 'POST',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data)
                {
                    if (data.Status == false)
                        Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                    else
                        cancellist(id, $("#txtMiktar" + id).val(), $("#txtMakara" + id).val());
                }
            });
        }
        function cancellist(id,mktr,mkrno)
        {
            $("#miktar" + id).html(mktr);
            $("#makara" + id).html(mkrno);
            $("#btnEdit" + id).show();
            $("#btnDelete" + id).show();
            $("#btnSave" + id).hide();
            $("#btnCancel" + id).hide();
        }
        function editlist(id)
        {
            $("#miktar" + id).html("<input class='form-control input-circle' type='text' id='txtMiktar" + id + "' value='" + $("#miktar" + id).html() + "' />");
            $("#makara" + id).html("<input class='form-control input-circle' type='text' id='txtMakara" + id + "' value='" + $("#makara" + id).html() + "' />");
            $("#btnEdit" + id).hide();
            $("#btnDelete" + id).hide();
            $("#btnSave" + id).show();
            $("#btnCancel" + id).show();
        }
        function getBirims(id)
        {
            $("#Birim option").remove();
            $.ajax({
                url: "/WMS/Purchase/GetBirim" ,
                type: 'POST',
                data: JSON.stringify({ kod: id, s: $("#SirketID").val() }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data != "") {
                        if (data[0].Birim1.replace(" ", "") != "") { $('#Birim').append($('<option>', { value: data[0].Birim1, text: data[0].Birim1 })); }
                        if (data[0].Birim2.replace(" ", "") != "") { $('#Birim').append($('<option>', { value: data[0].Birim2, text: data[0].Birim2 })); }
                        if (data[0].Birim3.replace(" ", "") != "") { $('#Birim').append($('<option>', { value: data[0].Birim3, text: data[0].Birim3 })); }
                        if (data[0].Birim4.replace(" ", "") != "") { $('#Birim').append($('<option>', { value: data[0].Birim4, text: data[0].Birim4 })); }
                    }
                    $("#Miktar").focus();
                    $("#Miktar").select();
                }
            });
        }
    </script>
}
