@model IEnumerable<frmSiparistenGelen>
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-body">@*Project Details Go Here*@
                    <h3 class="m-b-20">İrsaliye Liste</h3>
                    <table class="table table-striped table-bordered" id="sample_3">
                        <thead><tr><th>EvrakNo</th><th>Tarih</th><th>Mal Kodu</th><th>Mal Adı</th><th>Açık Miktar</th><th>Birim</th><th></th></tr></thead>
                        <tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
                        <tfoot class="tf-search"><tr><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="cursor:pointer;" onclick="$(this).toggleClass('selected');">
                                    <td>@item.EvrakNo</td>
                                    <td>@item.Tarih.FromOADateInt()</td>
                                    <td>@item.MalKodu</td>
                                    <td>@item.MalAdi</td>
                                    <td><input class="form-control input-circle w-50 pull-right" type="text" id="txtMiktar@{@item.ID}" value="@String.Format("{0:n}", item.AçıkMiktar)" /></td>
                                    <td>@item.Birim</td>
                                    <td>@item.ID</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" id="submitter">Ekle</button>
            </div>
        </div>
    </div>
    @using (Ajax.BeginForm("FromSiparis", "Purchase", new { area = "WMS" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "StoreGrid", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "hidden", id = "frmFromSiparis" }))
    {
        @Html.AntiForgeryToken()
        <input type="text" name="Id" value="@ViewBag.IrsNo" />
        <div id="localData"></div>
        <input type="submit" value="submit" id="submit" />

    }
</div>
<script>
    $(document).ready(function () {
        var table = $('#sample_3').DataTable({
            "pagingType": "full_numbers",
            "ordering": false,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "columnDefs": [{ "targets": [6], "visible": false, "searchable": false }]
        });
        $('#sample_3 .tf-search th').each(function ()
        {
            var title = $('#sample_3 thead th').eq($(this).index()).text();
            if (title != "" && title.indexOf("Tarih") !== -1)
                $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
            else if (title != "" && title != "Detay" && title != "Hareket")
                $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
        });
        $("#sample_3 tfoot input").on('keyup change', function () { table.column($(this).parent().index() + ':visible').search(this.value).draw(); });
        //tarih
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $(".tarih").datepicker();
        $("#submitter").click(function () {
            var result = false;
            table.rows(".selected").every(function (rowIdx, tableLoop, rowLoop)
            {
                result = true;
                $("#localData").html($("#localData").html() +
                    "<input name='EvrakNos' value='" + this.data()[0] + "' />" +
                    "<input name='MalKodus' value='" + this.data()[2] + "' />" +
                    "<input name='IDs' value='" + this.data()[6] + "' />" +
                    "<input name='Miktars' value='" + $("#txtMiktar" + this.data()[6]).val() + "' />"
                )
            });
            if (result == true) $("#submit").click();
            else Modaldialog("Lütfen sipariş seçin", "Hata", "Tamam", "btn-danger");
        });
    });
</script>