
@{
    ViewBag.Title = "Sipariş Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{
    <style>
        td.details-control {
            background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;
        }

        .input_content {
            margin-bottom: 3px;
            height: 40px;
            line-height: 20px;
        }

        .input_label {
            float: left;
            width: 35%;
            font-weight: bold;
            color: #5bc8d2;
            font-size: 9px;
            padding-top: 4px;
        }

        .input {
            float: left;
            width: 60%;
            font-size: 10px;
            height: 30px;
        }

        .input_style {
            background-color: rgba(245, 239, 239, 0.85);
            padding: 10px;
            margin: 0;
        }

        .dx-header-row {
            background-color: #86d8ea;
            color: window;
        }

        .dx-state-readonly {
            background-color: #e0dede !important;
        }

            .dx-state-readonly input {
                background-color: #e0dede !important;
            }

        .btn {
            width: 120px;
            text-align: center;
        }
    </style>
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onaylama</span><i class="fa fa-circle"></i></li><li><span>Sipariş</span></li></ul></div>
<h1 class="page-title">Sipariş Onay</h1>
<div class="row m-12  m-b-5">
    <div class="rdgrpOnayRed col-md-3"></div>
    <div class="col-md-1 text-left p-l-5 m-t-5 color-blue-light bold">Tarih Aralığı: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBaslangic" value="@DateTime.Today.ToShortDateString()" /></div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBitis" value="@DateTime.Today.ToShortDateString()" /></div>
</div>

<div class="row">
    <div class="form-horizontal">
        <div class="form-body">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Sipariş Onay
                    </div>
                    <div class="col-md-1 pull-right m-t-5 p-0 " id="buttons"></div>
                    <div class="col-md-2 butondiv pull-right m-t-5 reddet"><button class="btn btn-danger pull-right input-circle siparis-reddet-buton glyphicon glyphicon-remove"> Reddet </button></div>
                    <div class="col-md-2 butondiv pull-right m-t-5 onay"><button class="btn btn-success pull-right input-circle siparis-onay-buton glyphicon glyphicon-ok"> Onayla </button></div>
                    <div class="col-md-2 butondiv pull-right m-t-5 listele"><button class="btn btn-primary pull-right input-circle listele-buton glyphicon glyphicon-refresh"> Listele </button></div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row" id="siparis_onay_data">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).load($(window).bind("resize", checkPosition));
        var basTarih = @DateTime.Today.ToOADateInt();
        var bitTarih = @DateTime.Today.ToOADateInt();
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $("#txtBaslangic").datepicker().on("change", function (e) { basTarih = toOADateFromString(e.target.value); });
        $("#txtBitis").datepicker().on("change", function (e) { bitTarih = toOADateFromString(e.target.value); });
        console.log(basTarih);
        function checkPosition() {
            if ($(window).width() < 550) {
                $(".butondiv").removeClass("pull-right");
                $(".siparis-onay-buton").removeClass("pull-right");
                $(".siparis-reddet-buton").removeClass("pull-right");
            }
            else {
                $(".butondiv").addClass("pull-right");
                $(".siparis-onay-buton").addClass("pull-right");
                $(".siparis-reddet-buton").addClass("pull-right");
            }
        }
        var OnayDurum = "@ViewBag.OnayDurum";
        var rdrValue = OnayDurum;
        var radioGroupItems = [
            { text: "Beklemede", value: "Beklemede" },
            { text: "Onaylandı", value: "Onaylandı" },
            { text: "Reddedildi", value: "Reddedildi" }
        ];
        $(function () {
            $(".rdgrpOnayRed").dxRadioGroup({
                dataSource: radioGroupItems,
                displayExpr: "text",
                valueExpr: "value",
                value: OnayDurum,
                layout: "horizontal",
                onValueChanged: function (e) {
                    rdrValue = e.value;
                    PartialView("/Approvals/TumOrder/TumOrderList", 'siparis_onay_data', JSON.stringify({ Tip: rdrValue,bastarih: basTarih, bittarih: bitTarih }));

                }
            });
            $(".rdgrpOnayRed").dxRadioGroup("instance").option("value", rdrValue);
        });
        $(".dx-item.dx-radiobutton").hide();
        PartialView("/Approvals/TumOrder/TumOrderList", 'siparis_onay_data', JSON.stringify({ Tip: rdrValue,bastarih: basTarih, bittarih: bitTarih }));
        $('.siparis-onay-buton').click(function () {
            SiparisOnayla();
        });
        $('.siparis-reddet-buton').click(function () {
            ModalYesNoClick("Reddetmek istediğinize emin misiniz?", "Red Uyarı", "Reddet", "btn-primary", SiparisReddet, "İptal", "btn-danger", null);
        });
        $('.listele-buton').click(function () {
            PartialView("/Approvals/TumOrder/TumOrderList", 'siparis_onay_data', JSON.stringify({ Tip: rdrValue, bastarih: basTarih, bittarih: bitTarih }));
        });

    </script>
}

