@model Bolum
<div class="col-md-12">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>@(Model.ID > 0 ? Model.BolumAd + "  Bölüm Düzenle" : "Bölüm Ekle")
            </div>
        </div>
        <div class="portlet-body form">
            @using (Ajax.BeginForm("SectioniOperation", "Section", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "SectionFrom", OnSuccess = "SectionReturn" }, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(a => a.ID)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Depo</label>
                        <div class="col-md-4">
                            @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control input-circle DepoID", required = "required", @onchange = "getCorridor(this.value,'KoridorID');" })
                            <span class="field-validation-valid" data-valmsg-for="StoreId" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Koridor</label>
                        <div class="col-md-4">
                            @Html.DropDownList("KoridorID", null, htmlAttributes: new { @class = "form-control input-circle KoridorID", required = "required" })
                            <span class="field-validation-valid" data-valmsg-for="CorrridorId" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Raf</label>
                        <div class="col-md-4">
                            @Html.DropDownList("RafID", null, htmlAttributes: new { @class = "form-control input-circle RafID", required = "required" })
                            <span class="field-validation-valid" data-valmsg-for="ShelfList" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Bölüm</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(a => a.BolumAd, new { @class = "form-control input-circle", @placeholder = "Bölüm" })
                            <span class="field-validation-valid" data-valmsg-for="BolumAd" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Sıra</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(a => a.SiraNo, new { @id = "touchspin_11", @class = "form-control" })
                            <span class="field-validation-valid" data-valmsg-for="Sort" data-valmsg-replace="true" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Durum</label>
                        <div class="col-md-4">
                            @Html.CheckBoxFor(a => a.Aktif, new { @checked = Model.Aktif ? "checked" : string.Empty, @class = "make-switch", @data_size = "normal", @data_on_color = "success", @data_off_text = "Pasif", @data_on_text = "Aktif", @data_off_color = "danger" })

                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-circle green ekle-duzenle">@(Model.ID > 0 ? "Düzenle" : "Ekle")</button>
                            <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="CreateEdit('0')">Temizle</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".make-switch").bootstrapSwitch(); $("input[name='Aktif']").val(true);
        $('.make-switch').on('switchChange.bootstrapSwitch', function (event, state) { $("input[name='Aktif']").val(state) });
        @if (Model.Aktif == false) {<text> $(".make-switch").bootstrapSwitch('state', true); $("input[name='Aktif']").val(true); </text>}
        $("#touchspin_11").TouchSpin({ buttondown_class: "btn blue", buttonup_class: "btn red" });
    });
</script>
