@model Wms12m.Entity.Models.ProjeForm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>ProjeForm</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Proje)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Proje)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Form)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Form)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sorumlu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sorumlu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KarsiSorumlu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KarsiSorumlu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Aciklama)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Aciklama)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MesaiKontrol)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MesaiKontrol)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MesaiKota)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MesaiKota)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Durum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Durum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Kaydeden)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Kaydeden)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KayitTarih)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KayitTarih)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Musteri.Firma)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Musteri.Firma)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProjeForm2.Proje)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProjeForm2.Proje)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
