@model Wms12m.Entity.Models.Musteri

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Musteri</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Firma)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Firma)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Unvan)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Unvan)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Aciklama)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Aciklama)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tel1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tel1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tel2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tel2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MesaiKontrol)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MesaiKontrol)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MesaiKota)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MesaiKota)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Kaydeden)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Kaydeden)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KayitTarih)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KayitTarih)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Degistiren)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Degistiren)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DegisTarih)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DegisTarih)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
