@model IEnumerable<Wms12m.Entity.Models.Musteri>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Yeni Oluştur", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unvan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesaiKontrol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesaiKota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kaydeden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KayitTarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degistiren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegisTarih)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unvan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesaiKontrol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesaiKota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kaydeden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KayitTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degistiren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegisTarih)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Detaylar", "Details", new { id=item.ID }) |
                @Html.ActionLink("Sil", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
