@model IEnumerable<frmSiparisler>
@{string tmp = ""; }
<table class="table table-striped table-bordered table-condensed table-hover" id="sample_2" width="250">
    <thead><tr><th>Seç</th><th>Evrak No</th><th>Tarih</th><th>Chk</th><th>Unvan</th><th>GrupKod</th><th>FaturaAdres</th><th>Açıklama</th><th>Çeşit</th><th>Miktar</th></tr></thead>
    <tbody>
        @foreach (var item in Model)
        {
            tmp += item.EvrakNo + "#";
            <tr style="cursor:pointer;" onclick="toggle('@item.EvrakNo', '@item.EvrakNo.ClearSymbols()')">
                <td width="20"><input type="checkbox" name="cb" id="c-@item.EvrakNo.ClearSymbols()" class="form-control" disabled /></td>
                <td><a href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Sell/Details/@item.SirketID-@ViewBag.Depo-@item.EvrakNo')">@Html.DisplayFor(modelItem => item.EvrakNo)</a></td>
                <td>@item.Tarih.FromOADateInt()</td>
                <td>@Html.DisplayFor(modelItem => item.Chk)</td>
                <td>@Html.DisplayFor(modelItem => item.Unvan)</td>
                <td>@Html.DisplayFor(modelItem => item.GrupKod)</td>
                <td>@Html.DisplayFor(modelItem => item.FaturaAdres)</td>
                <td>@Html.DisplayFor(modelItem => item.Aciklama)</td>
                <td>@Html.DisplayFor(modelItem => item.Çeşit)</td>
                <td>@Html.DisplayFor(modelItem => item.Miktar)</td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <input type="hidden" name="checkboxes" id="checkboxes" value="" />
        <input type="submit" class="btn btn-primary btn-block green" value="Seç >>>" />
    </div>
</div>
<div class="row"><input type="button" onclick="SelectAllRows()" value="Hepsini Seç" /></div>
<script>
    $(document).ready(function () { $('#sample_2').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" } }); selected = ""; });
    function SelectAllRows() { $("#checkboxes").val('@tmp'); }
</script>